Repository OpenLineage/OpenLineage, pull requests merged in 2022-11, with the labels that each got.

#1194 [Bug] Add V3 API Compatibility to OpenLineage for Great Expectations
  integration/common/openlineage/common/provider/great_expectations/action.py
Labels: integration/great-expectations, common

#1201 Change to `get_openlineage_facets_on_start/complete` behaviour.
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/tests/extractors/test_default_extractor.py
  integration/airflow/tests/integration/tests/airflow/dags/default.py
Labels: integration/airflow, extractor

#1159 Enforce column casing in SQLCheckExtractors
  integration/airflow/openlineage/airflow/extractors/sql_check_extractors.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/extractors/test_sql_check_extractors.py
  integration/airflow/tests/test_utils.py
Labels: integration/airflow, extractor

#1197 update the changelog for 0.16.0
  CHANGELOG.md
Labels: documentation

#1227 fix: sql bumpversion
  integration/sql/.bumpversion.cfg
Labels: integration/sql

#1228 fix: sql macos build directory
  integration/sql/iface-py/script/build-macos.sh
Labels: integration/sql

#1230 update changelog for 0.16.1
  CHANGELOG.md
Labels: documentation

#1198 add contributor metrics script to new dev directory
  .github/boring-cyborg.yml
  dev/get_contributor_stats.py
Labels: dev/ops

#1200 add Kinesis Transport and support config Kinesis in Spark integration
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/KinesisConfig.java
  client/java/src/main/java/io/openlineage/client/transports/KinesisTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/main/java/io/openlineage/client/transports/TransportFactory.java
  client/java/src/test/java/io/openlineage/client/transports/KinesisTransportTest.java
  integration/spark/README.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
Labels: documentation, integration/spark, client/java

#1183 support Spark 3.3.1 version
  .circleci/workflows/openlineage-java.yml
  CHANGELOG.md
  integration/README.md
  integration/spark/app/build.gradle
  integration/spark/gradle.properties
  integration/spark/spark33/build.gradle
Labels: documentation, integration/spark, ci, tests

#1236 lightly edit READMEs in subdirectories for surface-level errors
  client/python/README.md
  integration/README.md
  integration/airflow/README.md
  integration/airflow/docs/task-lifecycle.md
  integration/dagster/README.md
  integration/dbt/README.md
  integration/flink/README.md
  integration/spark/README.md
  integration/sql/README.md
  proxy/README.md
Labels: documentation, integration/airflow, integration/dbt, integration/spark, integration/flink, integration/sql, client/java, client/python, integration/dagster, proxy, streaming

#1235 make sorting customizable in `dev/get_contributor_metrics.py`
  dev/get_contributor_stats.py
Labels: dev/ops

#1238 [DOCS] airflow: fix README for running integration test
  integration/airflow/README.md
  integration/airflow/tests/integration/Dockerfile
Labels: documentation, integration/airflow

#1229 proposal: automatically authorize release after it fails for technical reasons
  GOVERNANCE.md
Labels: documentation

#1172 sql: rust parser interface for java
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  integration/sql/Cargo.toml
  integration/sql/INTERFACE.md
  integration/sql/README.md
  integration/sql/iface-java/.gitignore
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/build.gradle
  integration/sql/iface-java/gradle.properties
  integration/sql/iface-java/gradle/wrapper/gradle-wrapper.jar
  integration/sql/iface-java/gradle/wrapper/gradle-wrapper.properties
  integration/sql/iface-java/gradlew
  integration/sql/iface-java/gradlew.bat
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/script/compile.sh
  integration/sql/iface-java/script/generate_jni_header.sh
  integration/sql/iface-java/settings.gradle
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-java/src/main/java/io/openlineage/sql/DbTableMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/OpenLineageSql.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/SqlMeta.java
  integration/sql/iface-java/src/main/jni/io_openlineage_sql_OpenLineageSql.h
  integration/sql/iface-java/tests/integration/TestParser.java
  integration/sql/iface-java/tests/integration/run_test.sh
  integration/sql/iface-java/tests/java/io/openlineage/sql/OpenLineageSqlTest.java
  new-version.sh
Labels: documentation, ci, integration/sql, tests

#1264 Fix mypy errors and adjust to PEP 484.
  .circleci/continue_config.yml
  client/python/openlineage/client/transport/transport.py
  integration/common/openlineage/common/dataset.py
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/provider/great_expectations/results.py
  integration/common/setup.cfg
  integration/common/setup.py
Labels: ci, integration/great-expectations, client/python, common

#1254 edit dependabot configuration to label its PRs with `dependabot`
  .github/dependabot.yml
Labels: dev/ops, dependabot

#1270 Update language on nominating new committers
  GOVERNANCE.md
Labels: documentation

#1265 add missing license text or fix outdated license text in readmes
  .github/header_templates.md
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CODE_QUALITY_AND_SECURITY.md
  COMMITTERS.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
  GOVERNANCE.md
  README.md
  RELEASING.md
  client/java/README.md
  client/python/README.md
  integration/README.md
  integration/airflow/README.md
  integration/dagster/README.md
  integration/dbt/README.md
  integration/flink/README.md
  integration/spark/README.md
  integration/sql/INTERFACE.md
  integration/sql/README.md
  proxy/README.md
  why-the-dco.md
Labels: documentation, integration/airflow, integration/dbt, integration/spark, integration/flink, integration/sql, client/java, client/python, integration/dagster, proxy, streaming

#1287 Deprecate HttpTransport.Builder in favor of HttpConfig only
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
Labels: documentation, integration/spark, client/java

#1233 add facets implementation to python client
  CHANGELOG.md
  client/python/openlineage/client/facet.py
  client/python/tests/test_facet.py
Labels: documentation, client/python

#1290 Fix up all artifactory paths
  client/java/build.gradle
  integration/flink/build.gradle
  integration/spark/app/build.gradle
  integration/spark/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  proxy/build.gradle
Labels: integration/spark, integration/flink, client/java, proxy, streaming

#1295 Publish spec into new website repo location
  .circleci/continue_config.yml
  spec/release.sh
Labels: ci, spec

#1296 Update SSH fingerprint for auto spec publication
  .circleci/continue_config.yml
Labels: ci

#1298 Release all specs since last_spec_commit_id, not just HEAD~1
  spec/release.sh
Labels: spec

#1299 Fix spec build path in release.sh
  spec/release.sh
Labels: spec

#1300 Also publish YML version of spec to website
  spec/release.sh
Labels: spec

#1302 [Integration][Airflow] Change how pip installs packages in tox environments.
  integration/airflow/setup.cfg
  integration/airflow/tests/conftest.py
Labels: integration/airflow

#1249 spec change to include possible facets usage
  client/java/generator/src/main/java/io/openlineage/client/SchemaParser.java
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  spec/OpenLineage.json
Labels: spec, client/java

#1306 prepare changelog for 0.17.0 release
  CHANGELOG.md
Labels: documentation

#1304 Revert "Update jni requirement from 0.19.0 to 0.20.0 in /integration/sql"
  integration/sql/iface-java/Cargo.toml
Labels: integration/sql

#1305 spark: retry flaky tests
  integration/spark/app/build.gradle
  integration/spark/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
Labels: integration/spark

#1262 [SPEC] Missing spec file for ExternalQueryRunFacet
  spec/facets/ExternalQueryRunFacet.json
  spec/facets/ExternalQueryRunFacet.md
Labels: documentation, spec

#1311 [SPEC] correctly locating sub-facets in OpenLineage.json
  spec/OpenLineage.json
Labels: spec

#1263 [INTEGRATION][AIRFLOW] Introduce a new extractor for SFTPOperator
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/sftp_extractor.py
  integration/airflow/setup.py
  integration/airflow/tests/extractors/test_sftp_extractor.py
  integration/airflow/tests/integration/requests/sftp.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/sftp_dag.py
  integration/airflow/tests/integration/tests/docker-compose.yml
  spec/Naming.md
Labels: documentation, integration/airflow, spec, extractor

#1334 [Integration][Airflow] Add max delay in retry decorator.
  integration/airflow/tests/integration/test_integration.py
Labels: integration/airflow

#1307 Fix error in the example for column lineage facet
  spec/facets/ColumnLineageDatasetFacet.md
Labels: documentation, spec

#1303 add tsc doc
  GOVERNANCE.md
  TECHNICAL_STEERING_COMMITTEE.md
Labels: documentation

#1308 update the committers list
  COMMITTERS.md
Labels: documentation

#1351 Handle Databricks Runtime 11.3 changes to DbFsUtils constructor
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DatabricksEnvironmentFacetBuilder.java
Labels: integration/spark, integration/databricks
