Repository OpenLineage/OpenLineage, pull requests merged in 2022-03, with the labels that each got.

#611 CI: add integration tests for Airflow's SnowflakeOperator and dbt-snowflake
  .circleci/config.yml
  integration/airflow/Dockerfile.tests
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/integration/Dockerfile
  integration/airflow/tests/integration/Dockerfile.2
  integration/airflow/tests/integration/data/dbt/profiles/profiles.yml
  integration/airflow/tests/integration/data/dbt/testproject/dbt_project.yml
  integration/airflow/tests/integration/data/dbt/testproject/models/project/money_received.sql
  integration/airflow/tests/integration/data/dbt/testproject/models/project/money_send.sql
  integration/airflow/tests/integration/docker/up-2.sh
  integration/airflow/tests/integration/requests/dbt_bigquery.json
  integration/airflow/tests/integration/requests/dbt_snowflake.json
  integration/airflow/tests/integration/requests/snowflake.json
  integration/airflow/tests/integration/server/app.py
  integration/airflow/tests/integration/server/requirements.txt
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_bigquery.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_snowflake.py
  integration/airflow/tests/integration/tests/airflow/dags/snowflake.py
  integration/airflow/tests/integration/tests/docker-compose-2.yml
  integration/airflow/tests/integration/tests/docker-compose.yml
  integration/common/openlineage/common/test.py
  spec/Naming.md
Labels: integration/snowflake, integration/airflow, integration/dbt, ci

#618 ci: properly trigger multiple CI jobs for changes in multiple integrations
  .circleci/config.yml
Labels: ci

#607 Support Spark 3.2.1
  .circleci/workflows/openlineage-java.yml
  integration/spark/integrations/container/pysparkWriteDeltaTableVersionEnd.json
  integration/spark/integrations/container/pysparkWriteDeltaTableVersionStart.json
  integration/spark/src/main/common/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/src/main/spark3/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/src/test/resources/spark_scripts/spark_delta.py
  integration/spark/src/test/resources/spark_scripts/spark_v2_replace_table.py
  integration/spark/src/test/resources/spark_scripts/spark_write_delta_table_version.py
Labels: integration/spark
