Repository OpenLineage/OpenLineage, pull requests merged in 2022-06, with the labels that each got.

#819 snowflake: reuse connections in airflow extractors
  .circleci/workflows/openlineage-integration-airflow.yml
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/dbapi_utils.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/extractors/test_dbapi_utils.py
  integration/airflow/tests/extractors/test_mysql_extractor.py
  integration/airflow/tests/extractors/test_postgres_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/integration/tests/airflow/config/log_config.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/tests/sql/test_parser.py
  integration/sql/tests/tests_copy.rs
Labels: bug, integration/snowflake

#811 [INTEGRATION][DAGSTER] fix problems reported by mypy for dagster integration
  integration/dagster/openlineage/dagster/adapter.py
  integration/dagster/openlineage/dagster/sensor.py
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/setup.cfg
Labels: bug, integration/dagster

#809 [CLIENT][PYTHON] Static code analysis fixes for OpenLineage Python Client
  client/python/openlineage/client/run.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/http.py
Labels: client/python

#822 [INTEGRATION][COMMON] fix problems reported by mypy for common integration
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/dbt.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/openlineage/common/provider/great_expectations/facets.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/openlineage/common/utils.py
Labels: common

#883 update changelog for `0.10.0`
  CHANGELOG.md
Labels: review

#889 [PROXY] implement PMD for proxy
  proxy/build.gradle
  proxy/pmd-openlineage.xml
  proxy/src/main/java/io/openlineage/proxy/api/models/LineageStream.java
Labels: enhancement, tests, proxy
