Repository OpenLineage/OpenLineage, pull requests merged in 2022-09, with the labels that each got.

#1061 Added optional argument --dialect to specify dialect on sql_tester
  integration/sql/tests/python/sql_tester.py
Labels: enhancement, integration/sql

#1009 Support Flink 1.15
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  CHANGELOG.md
  integration/README.md
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/examples/stateful/gradle.properties
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkStatefulApplication.java
  integration/flink/gradle.properties
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/FlinkKafkaConsumerWrapper.java
  integration/flink/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/wrapper/KafkaSinkWrapperTest.java
  integration/flink/src/test/resources/events/expected_kafka_checkpoints.json
Labels: documentation, ci, integration/flink, tests, streaming

#1065 fix delta 2.1.0 with spark 3.3.0
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_delta_event_filter.py
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
Labels: documentation, integration/spark

#1066 sql: add redshift dialect
  integration/sql/src/lib.rs
  integration/sql/tests/tests_create.rs
  integration/sql/tests/tests_select.rs
Labels: integration/sql

#1057 Update changelog for 0.14.0
  CHANGELOG.md
Labels: documentation

#1058 sql: add hive create table backtick test, properly pass dialect
  integration/airflow/openlineage/airflow/extractors/dbapi_utils.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/openlineage/airflow/extractors/redshift_data_extractor.py
  integration/airflow/openlineage/airflow/extractors/redshift_sql_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/extractors/sql_check_extractors.py
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/extractors/test_dbapi_utils.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/extractors/test_sql_extractor.py
  integration/airflow/tests/integration/tests/airflow/config/log_config.py
  integration/common/tests/sql/test_parser.py
  integration/sql/src/lib.rs
  integration/sql/tests/tests_create.rs
  integration/sql/tests/tests_insert.rs
Labels: integration/airflow, integration/sql, common, extractor

#1069 spark fixes after Databricks test
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtilsV2CatalogTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/SparkConfUtilsTest.java
Labels: documentation, integration/spark

#1071 [DOCS] update changelog for 0.14.1
  CHANGELOG.md
Labels: documentation

#1074 add logging to java client release procedure
  .circleci/continue_config.yml
Labels: ci

#1056 Fix uuid generation conflict for airflow dags with same name
  CHANGELOG.md
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/dag.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/tests/test_openlineage_dag.py
Labels: documentation, integration/airflow

#1077 [Documentation] add missing line breaks to changelog
  CHANGELOG.md
Labels: documentation

#1094 sql: add test for create table as select
  integration/sql/tests/tests_create.rs
Labels: integration/sql

#1095 Update integration/README.md
  integration/README.md
Labels: documentation

#1090 Update version of SnakeYAML
  client/java/build.gradle
Labels: client/java

#1064 Set log level of Init OpenLineageContext to DEBUG
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
Labels: integration/spark

#1108 transport: indicate that ConsoleTransport could send events to logs
  client/python/openlineage/client/transport/console.py
Labels: client/python

#1107 dbt: remove requirement for OPENLINEAGE_URL to be set
  integration/dbt/scripts/dbt-ol
Labels: integration/dbt

#1103 [Dev/ops][docs] add a Github workflow to check new source files for headers
  .github/workflows/checkstyle_checks.xml
  .github/workflows/headerchecker.yml
  .github/workflows/linter.yml
Labels: dev/ops

#1111 fix bigquery connector
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/com/google/cloud/spark/bigquery/repackaged/com/google/cloud/bigquery/MockBigQueryRelationProvider.java
  integration/spark/app/src/test/java/com/google/cloud/spark/bigquery/repackaged/com/google/cloud/bigquery/common/MockBigQueryClientModule.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeVisitor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/shared/src/test/resources/test_data/serde/bigqueryrelation-node.json
  integration/spark/shared/src/test/resources/test_data/serde/insertintods-node.json
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
Labels: bug, documentation, integration/spark, integration/bigquery

#1116 Update issue templates for proposal & new integration
  .github/ISSUE_TEMPLATE/integration.md
  .github/ISSUE_TEMPLATE/integration.yml
  .github/ISSUE_TEMPLATE/proposal.md
Labels: documentation

#1119 airflow: lazy load BigQuery client
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/sql_check_extractors.py
  integration/airflow/tests/extractors/test_bigquery_extractor.py
  integration/common/openlineage/common/provider/bigquery.py
Labels: integration/airflow, integration/bigquery, common, extractor

#1125 Fix failure tests.
  integration/airflow/tests/integration/docker/up-2.sh
  integration/airflow/tests/integration/docker/up-failure.sh
  integration/airflow/tests/integration/failures/docker-compose.yml
Labels: integration/airflow

#1127 Increase webserver's timeout in Airflow integration failure tests.
  integration/airflow/tests/integration/failures/docker-compose.yml
Labels: integration/airflow

#1122 python: remove sqlparse dependency, add optional backup dependency
  integration/airflow/dev-requirements-1.x.txt
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/setup.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/setup.py
  integration/dbt/scripts/dbt-ol
  integration/dbt/setup.py
Labels: integration/airflow, integration/dbt, common, extractor

#1126 python: remove potential cyclic import
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/http.py
Labels: client/python

#1109 overwriting app name with fixed value
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkOverwriteNameCompleteEvent.json
  integration/spark/app/integrations/container/pysparkOverwriteNameStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkOpenLineageFailuresTest.java
  integration/spark/app/src/test/resources/spark_scripts/overwrite_appname.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
Labels: documentation, integration/spark
