Repository OpenLineage/OpenLineage, pull requests merged in 2022-05, with the labels that each got.

#698 [INTEGRATION][SPARK] column lineage core mechanism
  integration/spark/src/main/common/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/src/main/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/ColumnLevelLineageBuilder.java
  integration/spark/src/main/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/ColumnLevelLineageUtils.java
  integration/spark/src/main/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/ExpressionDependencyCollector.java
  integration/spark/src/main/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/InputFieldsCollector.java
  integration/spark/src/main/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/OutputFieldsCollector.java
  integration/spark/src/main/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/customVisitors/ExpressionDependencyVisitor.java
  integration/spark/src/main/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/customVisitors/IcebergMergeIntoDependencyVisitor.java
  integration/spark/src/main/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/customVisitors/UnionDependencyVisitor.java
  integration/spark/src/main/spark3/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/ColumnLevelLineageBuilderTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/ColumnLevelLineageUtilsNonV2CatalogTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/ColumnLevelLineageUtilsV2CatalogTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/ColumnLevelUtilsTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/ExpressionDependencyCollectorTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/InputFieldsCollectorTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/OutputFieldsCollectorTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/customVisitors/IcebergMergeIntoDependencyVisitorTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/columnLineage/customVisitors/UnionFieldDependencyCollectorTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/utils/LastQueryExecutionSparkEventListener.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/utils/PlanUtils3Test.java
Labels: integration/spark

#730 [INTEGRATIO][FLINK] multi input topic integration test
  integration/flink/examples/stateful/src/docker/docker-compose.yml
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkStatefulApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/kafka/KafkaClientProvider.java
  integration/flink/examples/stateful/src/test/groovy/io/openlineage/flink/FlinkStatefulApplicationRunner.groovy
  integration/flink/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/src/test/resources/events/expected_event.json
  integration/flink/src/test/resources/generate_events.sh
Labels: integration/flink

#766 Set log to `debug` on unknown facet entry
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/UnknownEntryFacetListener.java
Labels: review

#770 [INTEGRATION][README] updated README doc on integration
  integration/README.md
Labels: documentation

#791 [INTEGRATION][AIRFLOW] Warning message when using OpenLineage with Airflow v1.x
  integration/airflow/openlineage/airflow/__init__.py
Labels: integration/airflow
