Repository OpenLineage/OpenLineage, pull requests merged in 2022-10, with the labels that each got.

#1130 added description for URL parameters, changed overwriteName to appName
  integration/spark/README.md
  integration/spark/app/integrations/container/pysparkOverwriteNameCompleteEvent.json
  integration/spark/app/integrations/container/pysparkOverwriteNameStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
Labels: documentation, integration/spark

#1124 [DOCS] Prepare changelog for 0.15.0
  CHANGELOG.md
Labels: documentation

#1131 CI: build macos release package on medium resouce class
  .circleci/continue_config.yml
Labels: ci

#1132 [Docs] updates changelog for 0.15.1
  CHANGELOG.md
Labels: documentation

#1133 Add dag_run information to airflow version run facet
  integration/airflow/openlineage/airflow/dag.py
  integration/airflow/openlineage/airflow/facets.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/openlineage/lineage_backend/__init__.py
Labels: integration/airflow

#1137 add spark version to gradle check
  .circleci/continue_config.yml
Labels: ci

#1104 fix typos and name segments in bigquery uri
  spec/Naming.md
Labels: documentation, spec

#1143 airflow: send sql in SqlJobFacet always as a string
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/tests/extractors/test_sql_extractor.py
  integration/airflow/tests/integration/requests/mysql.json
  integration/airflow/tests/integration/requests/postgres.json
  integration/airflow/tests/integration/tests/airflow/dags/mysql_orders_popular_day_of_week.py
  integration/airflow/tests/integration/tests/airflow/dags/postgres_orders_popular_day_of_week.py
Labels: integration/airflow, extractor

#1144 Include __extra__ case when filtering uri query params.
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/test_utils.py
Labels: integration/airflow

#1149 Add LoggingMixin for OL extractors.
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/great_expectations_extractor.py
  integration/airflow/openlineage/airflow/extractors/manager.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/openlineage/airflow/extractors/python_extractor.py
  integration/airflow/openlineage/airflow/extractors/redshift_data_extractor.py
  integration/airflow/openlineage/airflow/extractors/redshift_sql_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/openlineage/airflow/utils.py
Labels: documentation, integration/airflow, integration/bigquery, extractor

#1139 fix-artifactory-accounts
  .circleci/continue_config.yml
  client/java/build.gradle
Labels: ci, client/java

#1163 [Integration][Common] Fix typing issues.
  integration/common/openlineage/common/provider/dbt.py
Labels: common

#1162 airflow: add default extractor
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/tests/extractors/test_default_extractor.py
  integration/airflow/tests/integration/requests/default_extractor.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/default.py
Labels: integration/airflow, extractor

#1164 airflow: change isfunction check to callable
  integration/airflow/openlineage/airflow/extractors/extractors.py
Labels: integration/airflow, extractor

#1167 integration/sql: Reorganize the library into multiple packages
  .circleci/continue_config.yml
  integration/sql/Cargo.toml
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/build.rs
  integration/sql/iface-py/pyproject.toml
  integration/sql/iface-py/requirements.txt
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/build.sh
  integration/sql/iface-py/src/lib.rs
  integration/sql/iface-py/tests/python/sql_tester.py
  integration/sql/iface-py/tests/python/test_small.py
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/bigquery.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/tests/test_utils/mod.rs
  integration/sql/impl/tests/tests_copy.rs
  integration/sql/impl/tests/tests_create.rs
  integration/sql/impl/tests/tests_cte.rs
  integration/sql/impl/tests/tests_delete.rs
  integration/sql/impl/tests/tests_insert.rs
  integration/sql/impl/tests/tests_merge.rs
  integration/sql/impl/tests/tests_select.rs
  integration/sql/impl/tests/tests_tpcds.rs
  integration/sql/impl/tests/tests_update.rs
Labels: ci, integration/sql

#1168 [Docs] fix typos in main README
  README.md
Labels: documentation

#1165 [Integration][Common] Run openlineage-common tests with tox.
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-airflow.yml
  .gitignore
  integration/common/setup.cfg
Labels: ci, tests, common

#1174 add a code quality and security assurance doc
  CODE_QUALITY_AND_SECURITY.md
Labels: documentation

#1169 [Integration][Airflow] Move get connection URI as extractor's classmethod.
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/postgres_extractor.py
  integration/airflow/openlineage/airflow/extractors/redshift_sql_extractor.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/tests/extractors/test_base.py
  integration/airflow/tests/extractors/test_postgres_extractor.py
  integration/airflow/tests/extractors/test_redshift_sql_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/test_utils.py
Labels: integration/airflow, extractor

#1180 prevent exception when no schema provided
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtilsNonV2CatalogTest.java
Labels: integration/spark

#1178 readme: update Flink version, add link to docs
  integration/flink/README.md
Labels: documentation, integration/flink, streaming

#1188 Add `on_complete` argument in DefaultExtractor.
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/tests/extractors/test_default_extractor.py
  integration/airflow/tests/integration/requests/default_extractor.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/default.py
Labels: integration/airflow, extractor
