Repository OpenLineage/OpenLineage, pull requests merged in 2022-08, with the labels that each got.

#985 [FLINK] Change EventType from OTHER to RUNNING for running jobs
  CHANGELOG.md
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/src/test/resources/events/expected_kafka_checkpoints.json
Labels: integration/flink

#998 [SQL] A standalone python script that helps test SQL parsing for OpenLineage SQL library
  integration/sql/tests/python/sql_tester.py
Labels: enhancement, integration/sql

#1004 remove flaky assertion
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
Labels: integration/spark

#996 Create ownership facets
  spec/OpenLineage.md
  spec/facets/OwnershipDatasetFacet.json
  spec/facets/OwnershipJobFacet.json
Labels: enhancement, spec

#1030 [DOCUMENTATION] update changelog for 0.13.0
  CHANGELOG.md
Labels: documentation

#1023 [DOCUMENTATION] add release cadence language to GOVERNANCE.md
  GOVERNANCE.md
Labels: documentation

#1032 [DOCUMENTATION][DAGSTER] improve Dagster maintainer banner
  integration/dagster/README.md
Labels: documentation, integration/dagster

#1034 [DOCUMENTATION][DAGSTER] editing Dagster readme
  integration/dagster/README.md
Labels: integration/dagster

#1037 Rename all parentRun occurrences to parent from airflow integration.
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/tests/integration/requests/custom_extractor.json
  integration/airflow/tests/integration/requests/mapped_dag.json
  integration/airflow/tests/integration/requests/snowflake.json
  integration/airflow/tests/integration/requests/unknown_operator.json
  integration/airflow/tests/test_openlineage_dag.py
Labels: bug, integration/airflow

#1044 [DOCUMENTATION] update changelog for 0.13.1
  CHANGELOG.md
Labels: documentation

#939 Spark: add Kusto relation visitor
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  spec/Naming.md
Labels: documentation, integration/spark, spec

#1020 [DOCUMENTATION] add ColumnLevelLineage facet doc
  spec/OpenLineage.md
  spec/facets/ColumnLineageDatasetFacet.md
Labels: documentation, spec

#1049 Add dialect parameter to great expectations sql parser call
  integration/common/openlineage/common/provider/great_expectations/action.py
Labels: integration/great-expectations, common

#1051 dbt: add support for dbt 1.3 beta's metadata changes
  integration/common/openlineage/common/provider/dbt.py
  integration/common/tests/dbt/compiled_code/dbt_project.yml
  integration/common/tests/dbt/compiled_code/profiles.yml
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/compiled_code/target/manifest.json
  integration/common/tests/dbt/compiled_code/target/run_results.json
  integration/common/tests/dbt/test_dbt.py
Labels: integration/dbt, common

#1053 sql: add macos binary package build
  .circleci/continue_config.yml
  integration/sql/script/build-macos.sh
  integration/sql/script/build.sh
Labels: ci, integration/sql

#1050 timeout configurable from url and spark conf
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  integration/spark/README.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
Labels: documentation, integration/spark, client/java

#1045 [DOCUMENTATION] update the committers list
  COMMITTERS.md
Labels: documentation
