Repository OpenLineage/OpenLineage, pull requests merged in 2022-04, with the labels that each got.

#688 great expectations: make integration work with both APIs
  integration/airflow/setup.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/setup.py
Labels: integration/airflow, integration/great-expectations

#684 [INTEGRATION][SPARK] provide DatasetFactory class with OL context
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/src/main/common/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
  integration/spark/src/main/common/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/src/main/common/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/src/main/common/java/io/openlineage/spark/api/QueryPlanVisitor.java
  integration/spark/src/main/spark2/java/io/openlineage/spark/agent/lifecycle/Spark2DatasetBuilderFactory.java
  integration/spark/src/main/spark3/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/src/main/spark3/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitorTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/src/test/common/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/src/test/spark3/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Labels: enhancement, review, integration/spark

#694 airflow: adding custom extractors in one variable separated by comma
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/tests/extractors/test_extractors.py
  integration/airflow/tests/integration/tests/docker-compose-2.yml
Labels: enhancement

#551 [PROPOSAL][Flink] Intial investigation on Flink integration into OpenLineage
  proposals/79/flink_integration.md
Labels: documentation, proposal
