Repository OpenLineage/OpenLineage, pull requests merged in 2022-12, with the labels that each got.

#1136 Add Sagemaker Extractors
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/sagemaker_extractors.py
  integration/airflow/tests/conftest.py
  integration/airflow/tests/extractors/test_sagemaker_extractors.py
Labels: integration/airflow, extractor

#1330 databricks improvements to send better events
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/hooks/DatabricksJobEventBuilderHook.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/hooks/HookUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/hooks/RunEventBuilderHook.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/hooks/DatabricksJobEventBuilderHookTest.java
Labels: documentation, integration/spark, client/java

#1355 validate eventTime field in python client
  .circleci/continue_config.yml
  CHANGELOG.md
  client/python/openlineage/client/run.py
  client/python/setup.py
  client/python/tests/serde_example.json
  client/python/tests/test_client.py
  client/python/tests/test_events.py
  client/python/tests/test_facet.py
Labels: documentation, ci, client/python, python

#1361 sql: change parser failing test due to sqlparser dependency upgrade
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/build.sh
  integration/sql/impl/tests/tests_cte.rs
Labels: integration/sql

#1360 [integration/sql] Adding additional clarification in sql integration README
  integration/sql/README.md
Labels: documentation, integration/sql

#1379 [Integration][Airflow] Add support for SQLExecuteQueryOperator.
  .circleci/workflows/openlineage-integration-airflow.yml
  CHANGELOG.md
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/mysql_extractor.py
  integration/airflow/openlineage/airflow/extractors/sql_execute_query.py
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/setup.cfg
  integration/airflow/tests/extractors/test_extractors.py
  integration/airflow/tests/extractors/test_mysql_extractor.py
  integration/airflow/tests/extractors/test_postgres_extractor.py
  integration/airflow/tests/extractors/test_redshift_sql_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/integration/tests/airflow/dags/postgres_orders_popular_day_of_week.py
Labels: documentation, integration/airflow, ci, tests, extractor

#1166 Feature - Airflow S3CopyObject extractor
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/s3_extractor.py
  integration/airflow/tests/conftest.py
  integration/airflow/tests/extractors/test_s3_extractor.py
Labels: integration/airflow, extractor

#1363 [ci, doc] removed the openapi generation task from the build
  client/java/build.gradle
Labels: documentation, ci, client/java, java

#1231 spark: add Snowflake Relation Visitor
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SnowflakeRelationVisitorTest.java
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SnowflakeRelationVisitor.java
  spec/Naming.md
Labels: documentation, integration/spark, spec

#1399 Lock tox to 3.27.1.
  .circleci/continue_config.yml
Labels: ci

#1377 spark-bigquery: fix a few of the common errors
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  client/java/src/main/java/io/openlineage/client/transports/KinesisTransport.java
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkBigqueryInsertEnd.json
  integration/spark/app/integrations/container/pysparkBigqueryInsertStart.json
  integration/spark/app/integrations/container/pysparkBigquerySaveEnd.json
  integration/spark/app/integrations/container/pysparkBigquerySaveStart.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/test/java/com/google/cloud/bigquery/MockBigQueryRelationProvider.java
  integration/spark/app/src/test/java/com/google/cloud/bigquery/connector/common/MockBigQueryClientModule.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkOpenLineageFailuresTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_bigquery.py
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeInputVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeOutputVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ReflectionUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkVersionUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/MatchesMapRecursively.java
  integration/spark/shared/src/test/resources/test_data/serde/bigqueryrelation-node.json
  integration/spark/shared/src/test/resources/test_data/serde/insertintods-node.json
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Labels: integration/spark, ci, client/java, tests

#1382 update changelog for 0.18.0 release
  CHANGELOG.md
Labels: documentation

#1086 [PROXY] Add docker CI job for `proxy`
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-proxy.yml
  proxy/.gitignore
  proxy/docker/build-and-push-proxy.sh
  proxy/docker/entrypoint.sh
Labels: ci, tests, proxy

#1404 avoid integration tests launch on README.md updates
  .circleci/config.yml
Labels: ci

#1288 [INTEGRATION][AIRFLOW] Introduce a new extractor for Trino
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/extractors/dbapi_utils.py
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/openlineage/airflow/extractors/trino_extractor.py
  integration/airflow/setup.py
  integration/airflow/tests/extractors/test_trino_extractor.py
  integration/airflow/tests/integration/docker/catalog/memory.properties
  integration/airflow/tests/integration/docker/catalog/postgresql.properties
  integration/airflow/tests/integration/requests/trino.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/trino_orders_popular_day_of_week.py
  integration/airflow/tests/integration/tests/docker-compose.yml
  spec/Naming.md
Labels: documentation, integration/airflow, spec, extractor

#1417 [INTEGRATION][dbt] add postgres support to the dbt integration
  CHANGELOG.md
  integration/common/openlineage/common/provider/dbt.py
  integration/common/openlineage/common/test.py
  integration/common/tests/dbt/postgres/dbt_project.yml
  integration/common/tests/dbt/postgres/profiles.yml
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/postgres/target/manifest.json
  integration/common/tests/dbt/postgres/target/run_results.json
  integration/common/tests/dbt/test_dbt.py
Labels: documentation, common

#1413 airflow: add Airflow composite and processing engine facets. Generate UUID for each task instance.
  client/python/openlineage/client/facet.py
  integration/airflow/facets/AirflowRunFacet.json
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/facets.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/tests/integration/requests/airflow_run_facet/mysql.json
  integration/airflow/tests/integration/requests/task_group.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/task_group_dag.py
  integration/airflow/tests/test_utils.py
  integration/common/openlineage/common/test.py
  spec/facets/ProcessingEngineRunFacet.json
Labels: integration/airflow, spec, client/python, common

#1431 revert PR #1429
  client/java/build.gradle
  client/java/generator/build.gradle
Labels: client/java

#1437 Airflow: Fix collect_ignore. Add flags to pytest so that output is cleaner.
  integration/airflow/pytest.ini
  integration/airflow/setup.cfg
  integration/airflow/tests/conftest.py
  integration/airflow/tests/test_location.py
Labels: integration/airflow

#1441 add missing change (#1286: implement DagRun listener) to 0.18.0 changelog
  CHANGELOG.md
Labels: documentation

#1450 [INTEGRATION][AIRFLOW] Add a new extractor for S3FileTransformOperator
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/s3_extractor.py
  integration/airflow/tests/extractors/test_s3_extractor.py
  integration/airflow/tests/integration/docker/s3/create-bucket.sh
  integration/airflow/tests/integration/requests/s3copy.json
  integration/airflow/tests/integration/requests/s3transform.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/s3copy_dag.py
  integration/airflow/tests/integration/tests/airflow/dags/s3transform_dag.py
  integration/airflow/tests/integration/tests/docker-compose.yml
Labels: integration/airflow, extractor

#1383 Spark/passing spark conf parameters to OL client
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KinesisConfig.java
  client/java/src/main/java/io/openlineage/client/transports/KinesisTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TransportConfig.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/KinesisTransportTest.java
  integration/spark/README.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/UrlParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EventEmitterTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/UrlParserTest.java
  integration/spark/databricks/README.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/FacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkConfUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/SparkConfUtilsTest.java
Labels: documentation, integration/spark, client/java, common
