Repository OpenLineage/OpenLineage, pull requests merged in 2022-07, with the labels that each got.

#924 sql: add support for CREATE TABLE CLONE
  integration/sql/src/lib.rs
  integration/sql/tests/tests_create.rs
Labels: integration/sql

#923 sql: add parsing DELETE FROM statement
  integration/sql/src/lib.rs
  integration/sql/tests/test_utils/mod.rs
  integration/sql/tests/tests_copy.rs
  integration/sql/tests/tests_cte.rs
  integration/sql/tests/tests_delete.rs
Labels: integration/sql

#928 [SPARK][INTEGRATION] migrate TableProviderFacet to StorageDatasetFacet
  integration/spark/app/integrations/container/pysparkWriteDeltaTableVersionEnd.json
  integration/spark/app/integrations/container/pysparkWriteIcebergTableVersionEnd.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/TableProviderFacet.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/AlterTableDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksDeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AlterTableDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceVisitorDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3Test.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/PlanUtils3Test.java
Labels: integration/spark

#749 [INTEGRATION][CIRCLECI] Added optional pipeline parameter 'integration-type'
  .circleci/config.yml
  CONTRIBUTORS.md
Labels: enhancement, ci

#932 [DOCS] add vulnerability reporting section to readme
  README.md
Labels: documentation, security

#877 [DOCS] Add checkstyles linter to Github Actions for header
  .github/workflows/checkstyle_checks.xml
  .github/workflows/linter.yml
  client/java/README.md
  integration/spark/README.md
Labels: documentation

#942 fix noclassdef error
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
Labels: bug, integration/spark

#950 fix databricks issue and support spark 3.3
  .circleci/workflows/openlineage-java.yml
  CHANGELOG.md
  integration/README.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactoryProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/build.gradle
  integration/spark/gradle.properties
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanOutputDatasetBuilder.java
  integration/spark/spark33/build.gradle
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceVisitorDatasetBuilderTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilderTest.java
  integration/spark/spark33/src/test/resources/io/openlineage/spark/agent/version.properties
Labels: integration/spark

#958 upgrade spark branches
  .circleci/workflows/openlineage-java.yml
  integration/spark/spark3/build.gradle
  integration/spark/spark32/build.gradle
Labels: integration/spark

#967 [PROXY] Proxy/console having better format for JSON messages
  integration/flink/.gitignore
  integration/spark/.gitignore
  proxy/.gitignore
  proxy/src/main/java/io/openlineage/proxy/api/models/ConsoleLineageStream.java
Labels: enhancement, proxy
