Repository OpenLineage/OpenLineage, pull requests merged in 2023-04, with the labels that each got.

#1755 docs: update changelog for 0.22.0
  CHANGELOG.md
Labels: documentation

#1742 sql parser improvements: copy into, create stage, pivot
  CHANGELOG.md
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-py/openlineage_sql.pyi
  integration/sql/iface-py/src/lib.rs
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/context/alias_table.rs
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/mod.rs
  integration/sql/impl/tests/table_lineage/tests_alter.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
  integration/sql/impl/tests/table_lineage/tests_create.rs
  integration/sql/impl/tests/table_lineage/tests_drop.rs
  integration/sql/impl/tests/table_lineage/tests_truncate.rs
Labels: documentation, integration/airflow, integration/sql, common, extractor

#1760 make get_changes script modify changelog directly
  dev/get_changes.sh
Labels: dev/ops

#1769 CI: fix dbt-ol tests in integration tests
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_dag.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_snowflake.py
Labels: integration/airflow

#1770 CI: Add commit ID to BIGQUERY_PREFIX environment variable.
  integration/airflow/scripts/run-dev-airflow.sh
  integration/airflow/tests/integration/docker/up.sh
  integration/airflow/tests/integration/tests/airflow/dags/bigquery_orders_popular_day_of_week.py
Labels: integration/airflow

#1773 CI: remove codecov from tox required packages.
  integration/airflow/setup.cfg
Labels: integration/airflow

#1771 Airflow: Remove explicit `pass` from several `extract_on_complete` methods.
  integration/airflow/openlineage/airflow/extractors/gcs_extractor.py
  integration/airflow/openlineage/airflow/extractors/great_expectations_extractor.py
  integration/airflow/openlineage/airflow/extractors/s3_extractor.py
  integration/airflow/tests/integration/requests/gcs.json
  integration/airflow/tests/integration/requests/s3copy.json
Labels: integration/airflow, extractor

#1772 fix Rust warnings
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/build.sh
  integration/sql/iface-py/src/lib.rs
  integration/sql/impl/src/bigquery.rs
  integration/sql/impl/src/context/alias_table.rs
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/dialect.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
  integration/sql/impl/tests/table_lineage/tests_create.rs
Labels: integration/sql

#1783 [SQL] fix query with table generator
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Labels: integration/sql

#1785 [SQL] fix rust code style bug
  integration/sql/impl/src/visitor.rs
Labels: integration/sql

#1788 [SPARK] fix custom column lineage visitors
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomColumnLineageVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CustomColumnLineageVisitorTestImpl.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtilsTest.java
  integration/spark/spark3/src/test/resources/META-INF/services/io.openlineage.spark3.agent.lifecycle.plan.column.CustomColumnLineageVisitor
Labels: integration/spark

#1786 [SPARK] fix null pointer in JobMetricsHolder
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Labels: integration/spark

#1791 update changelog for 0.23.0 release
  CHANGELOG.md
  dev/README.md
Labels: documentation, dev/ops

#1792 [SPARK] LogicalPlanSerializer
  integration/spark/app/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer.java
  integration/spark/shared/src/test/resources/test_data/serde/aggregate-node.json
  integration/spark/shared/src/test/resources/test_data/serde/bigqueryrelation-node.json
  integration/spark/shared/src/test/resources/test_data/serde/hadoopfsrelation-node.json
  integration/spark/shared/src/test/resources/test_data/serde/insertintods-node.json
  integration/spark/shared/src/test/resources/test_data/serde/insertintofs-node.json
  integration/spark/shared/src/test/resources/test_data/serde/logicalrelation-node.json
Labels: integration/spark

#1796 [SPARK] modify dataset path with regex
  integration/spark/README.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
Labels: documentation, integration/spark

#1798 Spark/fix input dataset
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkDeltaCTASStart.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
Labels: documentation, integration/spark

#1801 [FLINK] fix Flink CI
  .circleci/continue_config.yml
Labels: ci, integration/flink, streaming

#1418 [airflow/integration] DBT Cloud Integration
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/extractors/dbt_cloud_extractor.py
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/manager.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/setup.py
  integration/airflow/tests/extractors/dbt_data/catalog.json
  integration/airflow/tests/extractors/dbt_data/manifest.json
  integration/airflow/tests/extractors/dbt_data/run_results.json
  integration/airflow/tests/extractors/test_dbt_cloud_extractor.py
  integration/common/openlineage/common/provider/dbt.py
  integration/common/openlineage/common/provider/dbt/__init__.py
  integration/common/openlineage/common/provider/dbt/cloud.py
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_dbt.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/dbt/scripts/dbt-ol
Labels: documentation, integration/airflow, integration/dbt, client/python, common, extractor

#1795 Support custom transport types
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/KinesisTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/main/java/io/openlineage/client/transports/TransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/TransportConfig.java
  client/java/src/main/java/io/openlineage/client/transports/TransportConfigTypeIdResolver.java
  client/java/src/main/java/io/openlineage/client/transports/TransportFactory.java
  client/java/src/main/java/io/openlineage/client/transports/TransportResolver.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
Labels: documentation, integration/airflow, integration/dbt, integration/spark, client/java, client/python, common, integration/dagster, dev/ops
