Repository OpenLineage/OpenLineage, pull requests merged in 2023-05, with the labels that each got.

#1823 Spark/delta merge into
  integration/spark/app/integrations/container/pysparkDeltaMergeIntoCompleteEvent.json
  integration/spark/app/integrations/container/pysparkDeltaMergeIntoStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MapPartitionsDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandOutputDatasetBuilder.java
Labels: integration/spark

#1836 Docs: standardize date formatting in changelog
  CHANGELOG.md
Labels: documentation

#1808 JDBC query handling fixes
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/JdbcRelationHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
Labels: integration/spark

#1844 Fix java class cast exception *1843
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Labels: integration/spark

#1840 [FLINK] fix flink generated Openlineage events
  CHANGELOG.md
  integration/flink/README.md
  integration/flink/build.gradle
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkCrashingLineageProviderApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkFailedApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkFakeApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkIcebergApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkLegacyKafkaApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkStatefulApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/util/FlinkListenerUtils.java
  integration/flink/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/src/test/resources/events/expected_kafka.json
  integration/flink/src/test/resources/events/expected_kafka_checkpoints.json
Labels: documentation, integration/flink, streaming

#1852 python: remove deprecated ruff option param
  .circleci/continue_config.yml
  integration/airflow/setup.cfg
  integration/common/setup.cfg
Labels: integration/airflow, ci, common

#1853 ci: remove releasing snapshots to Artifactory
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-publish.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-spark.yml
  client/java/build.gradle
  integration/flink/build.gradle
  integration/sql/iface-java/build.gradle
  proxy/backend/build.gradle
Labels: ci, integration/flink, integration/sql, client/java, tests, proxy, streaming

#1854 Docs: update changelog for 0.25.0 release
  CHANGELOG.md
Labels: documentation

#1855 [SPARK] fix single-file datasets
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkWordCountWithCliArgsCompleteEvent.json
  integration/spark/app/integrations/container/pysparkWordCountWithCliArgsStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Labels: documentation, integration/spark

#1757 fluentd parser plugin to validate OL events
  CHANGELOG.md
  proxy/fluentd/Gemfile
  proxy/fluentd/Gemfile.lock
  proxy/fluentd/README.md
  proxy/fluentd/Rakefile
  proxy/fluentd/docker/Dockerfile
  proxy/fluentd/docker/conf/fluent.conf
  proxy/fluentd/docker/docker-compose.yml
  proxy/fluentd/docker/entrypoint.sh
  proxy/fluentd/docker/init-db.sh
  proxy/fluentd/docker/test-complete.json
  proxy/fluentd/docker/test-start.json
  proxy/fluentd/docker/wait-for-it.sh
  proxy/fluentd/events/event_full.json
  proxy/fluentd/events/event_invalid_dataset_facet.json
  proxy/fluentd/events/event_invalid_input_dataset_facet.json
  proxy/fluentd/events/event_invalid_job_facet.json
  proxy/fluentd/events/event_invalid_output_dataset_facet.json
  proxy/fluentd/events/event_invalid_run_facet.json
  proxy/fluentd/events/event_no_run_id.json
  proxy/fluentd/events/event_simple.json
  proxy/fluentd/fluent-plugin-openlineage-parser.gemspec
  proxy/fluentd/lib/fluent/plugin/parser_openlineage.rb
  proxy/fluentd/test/helper.rb
  proxy/fluentd/test/plugin/test_parser_openlineage.rb
Labels: documentation, integration/airflow, integration/dbt, integration/spark, spec, integration/flink, integration/sql, client/java, client/python, common, integration/dagster, proxy, streaming, dev/ops

#1863 Docs: prepare changelog for 0.26.0 release
  CHANGELOG.md
Labels: documentation

#1864 Docs: edit changelog
  CHANGELOG.md
Labels: documentation

#1839 PROPOSAL #1837: add static lineage
  proposals/1837/static_lineage.md
Labels: documentation, proposal

#1867 [SPARK] fix aggregate on databricks
  CHANGELOG.md
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
Labels: documentation, integration/spark, integration/databricks

#1883 Attempt to fix unquoted `[` and `]` in snowflake URIs.
  integration/common/openlineage/common/provider/snowflake.py
  integration/common/tests/test_snowflake.py
Labels: common
