Repository OpenLineage/OpenLineage, pull requests merged in 2023-02, with the labels that each got.

#1547 dagster: fix breaking sqlalchemy dependency.
  integration/dagster/setup.py
Labels: integration/dagster

#1548 fix: sort imports
  integration/airflow/openlineage/airflow/extractors/gcs_extractor.py
  integration/airflow/tests/extractors/test_gcs_extractor.py
  integration/airflow/tests/integration/tests/airflow/dags/gcs_dag.py
Labels: integration/airflow, extractor

#1549 Adjust tqdm logging in dbt-ol.
  integration/dbt/scripts/dbt-ol
Labels: integration/airflow, integration/dbt, ci, tests, extractor

#1551 fix: python build ci job
  .circleci/continue_config.yml
Labels: ci

#1527 great expectations, airflow: follow snowflake dataset naming rules
  CHANGELOG.md
  client/python/openlineage/client/utils.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/setup.cfg
  integration/airflow/tests/extractors/test_snowflake_extractor.py
  integration/airflow/tests/integration/data/dbt/profiles/profiles.yml
  integration/airflow/tests/integration/requests/dbt_snowflake.json
  integration/airflow/tests/integration/requests/snowflake.json
  integration/common/openlineage/common/provider/dbt.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/openlineage/common/provider/snowflake.py
  integration/common/setup.cfg
  integration/common/tests/dbt/large/result.json
  integration/common/tests/test_snowflake.py
  integration/sql/iface-java/src/test/java/io/openlineage/sql/OpenLineageSqlTest.java
Labels: documentation, integration/airflow, integration/great-expectations, integration/sql, client/python, common, extractor

#1555 ci: don't run tox in parallel.
  .circleci/continue_config.yml
Labels: ci

#1556 fix: java: kafka does not initialize properties if they are empty, python: notify about confluent-kafka requirement
  client/java/src/main/java/io/openlineage/client/transports/KafkaConfig.java
  client/python/README.md
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
Labels: documentation, client/java, client/python

#1558 iceberg: bump version, rename table, give Iceberg 1 second to update metadata before dropping table.
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkV2DropTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DropTableStartEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
Labels: integration/spark

#1557 fix several spark/bigquery related issues
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeOutputVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ReflectionUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/QueryPlanVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Labels: integration/spark

#1572 airflow: make trino catalog non-mandatory.
  integration/airflow/openlineage/airflow/extractors/trino_extractor.py
Labels: integration/airflow, extractor

#1522 resolve topic names from regex, support 1.16.0
  .circleci/workflows/openlineage-flink.yml
  CHANGELOG.md
  integration/README.md
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/examples/stateful/src/main/java/io/openlineage/kafka/KafkaClientProvider.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/FlinkKafkaConsumerWrapper.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapper.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/WrapperUtils.java
  integration/flink/src/test/java/io/openlineage/flink/ContainerFailureTest.java
  integration/flink/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/wrapper/KafkaSinkWrapperTest.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapperTest.java
Labels: documentation, ci, integration/flink, tests, streaming

#1574 Fix openjdk image to use 8.0 instead of 8
  .circleci/continue_config.yml
Labels: ci

#1575 ci: fix release failures
  .circleci/continue_config.yml
  integration/sql/iface-py/script/setup-macos.sh
Labels: ci, integration/sql

#1576 update changelog for 0.20.1
  CHANGELOG.md
Labels: documentation

#1577 ci: fix another part of release failures
  .circleci/continue_config.yml
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
Labels: ci, integration/sql

#1582 fix flaky flink test
  integration/flink/src/test/java/io/openlineage/flink/ContainerTest.java
Labels: integration/flink, streaming

#1580 update changelog for 0.20.2
  CHANGELOG.md
Labels: documentation

#1593 ci: fix another part of release failures
  integration/sql/iface-py/script/build-macos.sh
Labels: integration/sql

#1591 prepare changelog for 0.20.3
  CHANGELOG.md
Labels: documentation

#1594 ci: fix another part of release failures
  .circleci/continue_config.yml
Labels: ci

#1597 prepare changelog for 0.20.4
  CHANGELOG.md
Labels: documentation

#1595 dbt: make `compiled_code` optional.
  integration/common/openlineage/common/provider/dbt.py
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/postgres/target/manifest.json
Labels: integration/dbt, common

#1599 dbt: render actual profile only in profiles.yml
  integration/common/openlineage/common/provider/dbt.py
  integration/common/tests/dbt/env_vars/profiles.yml
  integration/common/tests/dbt/test_dbt.py
Labels: common

#1596 add bot for automating changelog updates
  .github/changelog-ci-config.yml
  .github/pull_request_template.md
  .github/workflows/changelog-ci.yml
Labels: documentation

#1601 Airflow: make extractor for async operators work
  CHANGELOG.md
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/tests/integration/requests/failing/async.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/async_dag.py
  integration/airflow/tests/integration/tests/docker-compose-dev.yml
  integration/airflow/tests/integration/tests/docker-compose.yml
Labels: documentation, integration/airflow

#1606 prepare changelog for 0.20.5
  CHANGELOG.md
Labels: documentation

#1607 edit changelog 0.20.5
  CHANGELOG.md
Labels: documentation

#1603 [INTEGRATION][AIRFLOW] Add new extractor for FTPFileTransmitOperator
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/ftp_extractor.py
  integration/airflow/setup.py
  integration/airflow/tests/extractors/test_ftp_extractor.py
  integration/airflow/tests/integration/requests/ftp.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/ftp_dag.py
  integration/airflow/tests/integration/tests/docker-compose.yml
Labels: documentation, integration/airflow, extractor

#1609 ci: try to bump xcode version
  .circleci/continue_config.yml
  integration/sql/iface-py/script/setup-macos.sh
Labels: ci, integration/sql

#1610 update changelog for 0.20.6
  CHANGELOG.md
Labels: documentation

#1608 configure changelog-ci bot to ignore forks
  .github/workflows/changelog-ci.yml
Labels: dev/ops

#1611 ci: fix ftp integration test
  integration/airflow/tests/integration/test_integration.py
Labels: integration/airflow

#1613 Fix file existence check in build script for openlineage-sql-java
  integration/sql/iface-java/script/build.sh
Labels: integration/sql

#1545 Add CustomEnvironmentFacetBuilder class
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CustomEnvironmentVariablesCaptureTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/EnvironmentFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/CustomEnvironmentFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DatabricksEnvironmentFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
Labels: integration/spark, client/java

#1590 add error message in case of null in url
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
Labels: integration/spark, client/java

#1612 change github action to use forked changelog bot
  .github/workflows/changelog-ci.yml
Labels: dev/ops

#1633 clients: debug logging of event is done only in base client class, not transports
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KinesisTransport.java
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
Labels: client/java, client/python

#1629 Introduce new output visitors: AlterTableAddPartitionCommandVisitor and AlterTableSetLocationCommandVisitor
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableSetLocationCommandVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableSetLocationCommandVisitor.java
  integration/spark/supported-commands.md
Labels: documentation, integration/spark

#1645 airflow: update OL macros to be usable in Airflow 2+
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/macros.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_bigquery.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_snowflake.py
Labels: documentation, integration/airflow, integration/spark

#1649 Add dbt seed to list of dbt-ol events
  integration/common/openlineage/common/provider/dbt.py
  integration/dbt/scripts/dbt-ol
Labels: integration/dbt, common

#1644 update lfai and community information in readme
  README.md
Labels: documentation

#1647 replace changelog bot with script in dev
  .github/changelog-ci-config.yml
  .github/workflows/changelog-ci.yml
  dev/.gitignore
  dev/README.md
  dev/get_changes.sh
  dev/requirements.txt
Labels: documentation, dev/ops

#1631 airflow: get table database in athena extractor
  integration/airflow/openlineage/airflow/extractors/athena_extractor.py
  integration/airflow/tests/integration/requests/athena.json
  integration/airflow/tests/integration/tests/airflow/dags/athena_dag.py
Labels: integration/airflow, extractor

#1664 sql: add linux-aarch64 native library to Java SQL parser
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/script/compile.sh
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ColumnLineage.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ColumnMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/DbTableMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/OpenLineageSql.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/SqlMeta.java
Labels: ci, integration/sql, tests

#1634 fix column lineage for cached datasets
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/UrlParser.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/InMemoryRelationInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/OutputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtilsV2CatalogTest.java
Labels: documentation, integration/spark

#1635 sql: add support for snowflake TRANSIENT keyword, bump sqlparser dependency
  integration/common/tests/sql/test_parser.py
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_cte.rs
Labels: integration/sql, common
