Repository OpenLineage/OpenLineage, pull requests merged in 2023-07, with the labels that each got.

#1959 python, kafka: add workaround for airflow-sqlalchemy event mechanism bug
  .pre-commit-config.yaml
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
  client/python/tox.ini
  integration/airflow/openlineage/airflow/listener.py
Labels: integration/airflow, client/python

#1962 airflow: catch all exceptions in adapter's event emit.
  integration/airflow/openlineage/airflow/adapter.py
Labels: integration/airflow

#1963 feat: added support for iceberg rest catalog
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Labels: integration/spark

#1973 [SPARK] fix custom environment variables facet
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/CustomEnvironmentFacetBuilder.java
Labels: documentation, integration/spark

#1968 [SPARK] filter delta events
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/ProjectFilter.java
Labels: documentation, integration/spark

#1980 adds missing change to 0.29.2 release notes
  CHANGELOG.md
Labels: documentation

#1960 [FLINK] support iceberg sink
  CHANGELOG.md
  client/python/setup.cfg
  integration/flink/src/main/java/io/openlineage/flink/TransformationUtils.java
  integration/flink/src/main/java/io/openlineage/flink/utils/IcebergUtils.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/IcebergSinkVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/IcebergSourceVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/VisitorFactoryImpl.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/IcebergSinkWrapper.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/WrapperUtils.java
  integration/flink/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/IcebergSinkVisitorTest.java
  integration/flink/src/test/resources/events/expected_iceberg.json
Labels: documentation, integration/flink, client/python, streaming

#1983 redefine `REPO` in release.sh to push spec to docs
  spec/release.sh
Labels: spec

#1985 ci: change deploy key fingerprint for spec deploy
  .circleci/continue_config.yml
Labels: ci

#1958 [SPARK] fix merge into for delta
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkDeltaMergeIntoCompleteEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactoryProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/util/LastQueryExecutionSparkEventListener.java
  integration/spark/build.gradle
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/ShowTablesFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/CustomColumnLineageVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DeltaUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageEventHandlerFactory.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MapPartitionsDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/MergeIntoDeltaColumnLineageVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/OutputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/ExpressionDependencyVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/IcebergMergeIntoDependencyVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionDependencyVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CustomColumnLineageVisitorTestImpl.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/OutputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionFieldDependencyCollectorTest.java
  integration/spark/spark3/src/test/resources/META-INF/services/io.openlineage.spark.agent.lifecycle.plan.column.CustomColumnLineageVisitor
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoDelta11ColumnLineageVisitor.java
  integration/spark/spark32/src/test/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoDelta11ColumnLineageVisitorTest.java
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoDelta24ColumnLineageVisitor.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoDelta24ColumnLineageVisitorTest.java
Labels: documentation, integration/spark

#1971 Spark/merge into iceberg
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/BigQueryUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DeltaUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ReflectionUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoDelta11ColumnLineageVisitor.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoIceberg013ColumnLineageVisitor.java
  integration/spark/spark32/src/test/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoIceberg013ColumnLineageVisitorTest.java
  integration/spark/spark34/build.gradle
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoDelta24ColumnLineageVisitor.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoIceberg13ColumnLineageVisitor.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoIceberg13ColumnLineageVisitorTest.java
Labels: documentation, integration/spark

#1975 Add facet deletion
  client/java/generator/src/main/java/io/openlineage/client/Generator.java
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  proposals/1837/static_lineage.md
  spec/OpenLineage.json
Labels: documentation, proposal, spec, client/java

#1988 ci: push javadoc to proper repo
  client/java/release-javadoc.sh
Labels: client/java

#1998 client/python: rename `config` to `config_class`.
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/noop.py
  client/python/openlineage/client/transport/transport.py
Labels: client/python

#1989 [DOCS] update tsc doc
  TECHNICAL_STEERING_COMMITTEE.md
Labels: documentation

#2000 updates changelog in preparation for 0.30.0 release
  CHANGELOG.md
Labels: documentation

#1891 Adding a file transport
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/file.py
  client/python/tests/test_file.py
Labels: integration/airflow, integration/bigquery, client/python, extractor, dev/ops

#2002 bump 0.30.0 release date
  CHANGELOG.md
Labels: documentation

#2003 ci: remove java macos arm parser build
  .circleci/continue_config.yml
Labels: ci

#2005 fix changelog
  CHANGELOG.md
Labels: documentation

#1997 spec: remove facet ref from core
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-python.yml
  .pre-commit-config.yaml
  .pre_commit/json-schema/check-spec.sh
  .pre_commit/json-schema/test-facets.sh
  CONTRIBUTING.md
  client/java/generator/src/main/java/io/openlineage/client/Generator.java
  client/python/tox.ini
  spec/OpenLineage.json
  spec/facets/ExtractionErrorRunFacet.json
  spec/facets/ProcessingEngineRunFacet.json
  spec/tests/ColumnLineageDatasetFacet/1.json
  spec/tests/DataQualityAssertionsDatasetFacet/1.json
  spec/tests/DataQualityMetricsInputDatasetFacet/1.json
  spec/tests/DatasetVersionDatasetFacet/1.json
  spec/tests/DatasourceDatasetFacet/1.json
  spec/tests/DocumentationDatasetFacet/1.json
  spec/tests/DocumentationJobFacet/1.json
  spec/tests/ErrorMessageRunFacet/1.json
  spec/tests/ExternalQueryRunFacet/1.json
  spec/tests/ExtractionErrorRunFacet/1.json
  spec/tests/LifecycleStateChangeDatasetFacet/1.json
  spec/tests/NominalTimeRunFacet/1.json
  spec/tests/OutputStatisticsOutputDatasetFacet/1.json
  spec/tests/OwnershipDatasetFacet/1.json
  spec/tests/OwnershipJobFacet/1.json
  spec/tests/ParentRunFacet/1.json
  spec/tests/ProcessingEngineRunFacet/1.json
  spec/tests/SQLJobFacet/1.json
  spec/tests/SchemaDatasetFacet/1.json
  spec/tests/SourceCodeJobFacet/1.json
  spec/tests/SourceCodeLocationJobFacet/1.json
  spec/tests/StorageDatasetFacet/1.json
  spec/tests/SymlinksDatasetFacet/1.json
  spec/tests/example_full_event.json
Labels: documentation, ci, spec, client/java, client/python, tests

#2006 airflow: convert lineage from legacy file definition
  integration/airflow/openlineage/airflow/extractors/converters.py
  integration/airflow/tests/extractors/test_converters.py
  integration/airflow/tests/extractors/test_extractor_manager.py
Labels: integration/airflow, extractor

#2001 Fix error message to avoid confusion
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
Labels: client/java

#2008 docs: add file transport documentation
  client/python/README.md
Labels: documentation, client/python

#2010 airflow: make sure we cannot fail in thread despite direct execution
  integration/airflow/openlineage/airflow/listener.py
Labels: integration/airflow

#2012 Change log level to DEBUG when extractor isn't found
  integration/airflow/openlineage/airflow/extractors/manager.py
Labels: integration/airflow, extractor
