Repository OpenLineage/OpenLineage, pull requests merged in 2023-11, with the labels that each got.

#2224 Update the changelog for 1.5.0
  CHANGELOG.md
Labels: documentation

#2233 upgrade gradle and jackson
  CHANGELOG.md
  client/java/build.gradle
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/gradle/wrapper/gradle-wrapper.properties
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/build.gradle
  integration/spark/gradle/wrapper/gradle-wrapper.properties
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationInputDatasetBuilderTest.java
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
Labels: documentation, integration/spark, integration/flink, client/java, streaming

#2235 ci: pin yq version.
  .circleci/config.yml
Labels: ci

#2234 revert #2216 as is no longer required
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
Labels: integration/spark

#2229 [FLINK] add option for flink job listener to read from flink conf
  CHANGELOG.md
  integration/flink/README.md
  integration/flink/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/src/test/java/io/openlineage/flink/JobListenerTest.java
Labels: documentation, integration/flink, streaming

#2223 spec: add clarity to snowflake naming docs
  spec/Naming.md
Labels: documentation, spec

#2226 add Kafka to naming schema
  spec/Naming.md
Labels: documentation, spec

#2236 Update README.md to add the latest spark version supported
  integration/README.md
Labels: documentation

#2238 ci: run always workflow really always.
  .circleci/config.yml
  spec/Naming.md
Labels: documentation, ci, spec

#2220 dagster: support dagster 1.5.x
  integration/dagster/README.md
  integration/dagster/openlineage/dagster/sensor.py
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/setup.py
  integration/dagster/tests/conftest.py
  integration/dagster/tests/test_sensor_evaluation.py
  integration/dagster/tests/test_utils.py
Labels: documentation, common, integration/dagster

#2239 ci: add `workflow_complete` in always workflow.
  .circleci/workflows/openlineage-always.yml
Labels: ci, tests

#2209 [Dev] replace changelog script in dev with custom approach
  .gitignore
  dev/.gitignore
  dev/README.md
  dev/get_changes.py
  dev/get_changes.sh
  dev/requirements.txt
Labels: documentation, dev/ops, community

#2242 add new committer :)
  COMMITTERS.md
Labels: documentation

#2259 sql: add quote information from sqlparser-rs
  integration/common/tests/sql/test_parser.py
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-java/src/main/java/io/openlineage/sql/DbTableMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/QuoteStyle.java
  integration/sql/iface-java/src/test/java/io/openlineage/sql/OpenLineageSqlTest.java
  integration/sql/iface-py/openlineage_sql.pyi
  integration/sql/iface-py/src/lib.rs
  integration/sql/impl/src/context/alias_table.rs
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_insert.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
  integration/sql/impl/tests/test_utils/mod.rs
Labels: integration/sql, common

#2241 JobTypeJobFacet added and used in Flink
  CHANGELOG.md
  client/python/openlineage/client/facet.py
  client/python/tests/test_facet.py
  integration/flink/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/src/main/java/io/openlineage/flink/utils/JobTypeUtils.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/src/test/java/io/openlineage/flink/utils/JobTypeUtilsTest.java
  integration/flink/src/test/resources/events/expected_kafka.json
  spec/facets/JobTypeJobFacet.json
  spec/tests/JobTypeJobFacet/1.json
Labels: documentation, spec, integration/flink, client/python, streaming

#2237 Proposed requirements and expanded spec for facet registrations
  proposals/2161/registry.md
Labels: documentation, proposal, ci, client/java, client/python, tests

#2287 Run airflow CI jobs when dbt integration is changed.
  .circleci/config.yml
Labels: ci
