Repository OpenLineage/OpenLineage, pull requests merged in 2023-10, with the labels that each got.

#2142 Spark: Fixed scheme preservation bug in PathUtils
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Labels: documentation, integration/spark

#2118 [SPARK] support for Spark 3.5
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkDropTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkTruncateTableStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactoryProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/gradle.properties
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/spark34/build.gradle
Labels: documentation, integration/spark, ci, tests

#2148 Update the changelog
  CHANGELOG.md
Labels: documentation

#2149 [Flink] expand iceberg source types
  CHANGELOG.md
  integration/flink/build.gradle
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkIcebergSourceApplication.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/IcebergSourceVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/IcebergSourceWrapper.java
  integration/flink/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/IcebergSourceVisitorTest.java
  integration/flink/src/test/resources/events/expected_iceberg_source.json
Labels: documentation, integration/flink, streaming

#2151 Allow setting client's endpoint via environment variable
  client/python/README.md
  client/python/openlineage/client/transport/factory.py
  client/python/tests/test_factory.py
Labels: documentation, client/python

#2147 [SPARK] add debug facet to help resolving Spark integration issues
  CHANGELOG.md
  integration/spark/README.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderTest.java
Labels: documentation, integration/spark

#2165 spark: Enable nessie rest catalog
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Labels: integration/spark

#2179 Remove `deref()` from openlineage-sql impl.
  CHANGELOG.md
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/lineage.rs
Labels: documentation, integration/sql

#2180 [Docs] Update changelog for 1.4.1.
  CHANGELOG.md
Labels: documentation

#2181 [SPARK] migrate RddExecutionContext to PlanUtils
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkRddToCsvCompleteEvent.json
  integration/spark/app/integrations/container/pysparkRddToCsvStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetParser.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/HadoopRDDInputDatasetBuilder.java
Labels: documentation, integration/spark

#2177 python: skip redaction in column lineage facet
  client/python/openlineage/client/facet.py
Labels: client/python

#2175 [Flink] support Flink cassandra lineage
  CHANGELOG.md
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/examples/stateful/src/main/java/io/openlineage/cassandra/Event.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkCassandraApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkCrashingLineageProviderApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkFailedApplication.java
  integration/flink/examples/stateful/src/main/resources/cassandra.conf
  integration/flink/src/main/java/io/openlineage/flink/TransformationUtils.java
  integration/flink/src/main/java/io/openlineage/flink/utils/CassandraUtils.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/CassandraSinkVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/CassandraSourceVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/VisitorFactoryImpl.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/CassandraSinkWrapper.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/CassandraSourceWrapper.java
  integration/flink/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/src/test/java/io/openlineage/flink/pojo/Event.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/CassandraSinkVisitorTest.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/CassandraSourceVisitorTest.java
  integration/flink/src/test/resources/create_cassandra_data.sh
  integration/flink/src/test/resources/events/expected_cassandra.json
Labels: documentation, integration/flink, streaming

#2167 athena: change dataset name to its location
  integration/airflow/openlineage/airflow/extractors/athena_extractor.py
  integration/airflow/tests/extractors/athena_metadata.json
  integration/airflow/tests/extractors/test_athena_extractor.py
  integration/common/openlineage/common/dataset.py
Labels: integration/airflow, common, extractor

#2202 minor changes to spark/README.md file to avoid
  integration/spark/README.md
Labels: documentation, integration/airflow, integration/dbt, integration/spark, integration/flink, client/java, client/python, common, integration/dagster, streaming

#2188 [SPARK] scala integration test with `rdd` and `toDf` support
  CHANGELOG.md
  integration/spark/app/integrations/sparkrdd/1.json
  integration/spark/app/integrations/sparkrdd/2.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/resources/log4j.properties
  integration/spark/app/src/test/resources/spark_scala_scripts/rdd_union.scala
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/ExternalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Labels: documentation, integration/spark

#2185 [SPARK] support databricks 13.3
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
  integration/spark/build.gradle
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/CreateReplaceInputDatasetBuilder.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/CreateReplaceInputDatasetBuilderTest.java
  integration/spark/spark34/src/test/resources/io/openlineage/spark/agent/version.properties
  integration/spark/spark35/build.gradle
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
  integration/spark/spark35/src/test/resources/io/openlineage/spark/agent/version.properties
Labels: documentation, integration/spark

#2213 proxy: update fluentd proxy to validate against 2.0 spec.
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-proxy-fluentd.yml
  proxy/fluentd/Gemfile.lock
  proxy/fluentd/events/event_invalid_run_facet.json
  proxy/fluentd/fluent-plugin-openlineage-parser.gemspec
  proxy/fluentd/lib/fluent/plugin/parser_openlineage.rb
  proxy/fluentd/test/plugin/test_parser_openlineage.rb
Labels: ci, tests, proxy

#2182 ci: add always workflow
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-always.yml
  .circleci/workflows/openlineage-integration-python.yml
Labels: ci, tests

#2107 python: loosen attrs and requests versions.
  client/python/pyproject.toml
  integration/airflow/setup.py
Labels: integration/airflow, client/python

#2216 [SPARK] fix bitnami image hash
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
Labels: integration/spark

#2219 Add script to dev for generating release docs for the website
  dev/create_release_doc.py
Labels: dev/ops

#2221 dbt: render yaml configs lazily.
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/tests/dbt/test_dbt_local.py
Labels: common
