Repository OpenLineage/OpenLineage, pull requests merged in 2023-08, with the labels that each got.

#2027 add missing changes to changelog for 1.0.0 release
  CHANGELOG.md
Labels: documentation

#1987 [SPARK] filter unwanted events
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkEventFilterTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/CreateViewFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/ProjectFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/ShowTablesFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/CreateViewFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/SparkNodesFilterTest.java
Labels: documentation, integration/spark

#2026 [SPARK] merge into delta integration test
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkV2MergeIntoDeltaTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoDeltaTableStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/MergeIntoDeltaColumnLineageVisitor.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoDelta24ColumnLineageVisitorTest.java
Labels: documentation, integration/spark

#2033 [FLINK] read configuration from flink conf
  CHANGELOG.md
  integration/flink/README.md
  integration/flink/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/src/main/java/io/openlineage/flink/client/FlinkConfigParser.java
  integration/flink/src/main/java/io/openlineage/flink/utils/FlinkOpenLineageConfigs.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
Labels: documentation, integration/flink, streaming

#2004 add javadoc to the java client
  client/java/generator/src/main/java/io/openlineage/client/JavaPoetGenerator.java
Labels: client/java

#2035 spark: fix wrong naming of JDBC datasets
  integration/spark/app/integrations/container/columnLineageJDBCComplete.json
  integration/spark/app/integrations/container/columnLineageJDBCStart.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/JdbcRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/JdbcRelationHandlerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandlerTest.java
  integration/sql/iface-java/script/compile.sh
Labels: integration/spark, integration/sql, java

#2047 ci: bump Go image version used in root CI job
  .circleci/config.yml
Labels: ci

#2011 Add codespell pre-commit hook.
  .circleci/config.yml
  .circleci/continue_config.yml
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  client/python/README.md
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/listener.py
  integration/spark/README.md
  integration/spark/databricks/upload-to-databricks.ps1
  integration/spark/databricks/upload-to-databricks.sh
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
  integration/sql/iface-py/tests/python/sql_tester.py
  proposals/1412/client_proxy.md
  proposals/168/making_spark_visitors_extensible.md
  proxy/backend/src/main/java/io/openlineage/proxy/api/models/LineageStream.java
  proxy/fluentd/README.md
  spec/OpenLineage.md
  spelling_wordlist.txt
Labels: documentation, proposal, integration/airflow, integration/spark, ci, spec, integration/sql, client/python, proxy

#2057 [SPARK] upgrade latest supported version to 3.4.1
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/README.md
  integration/spark/gradle.properties
Labels: documentation, integration/spark, ci, tests

#2042 [FLINK] fix a bug when getting schema for KafkaSink
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/AvroUtils.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/FlinkKafkaProducerWrapper.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/KafkaSinkWrapper.java
Labels: integration/flink, streaming

#2061 Bug/fix ignored event adaptive spark plan databricks
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/resources/databricks_notebooks/narrow_transformation.py
  integration/spark/app/src/test/resources/databricks_notebooks/wide_transformation.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
Labels: integration/spark

#2062 update changelog for 1.1.0
  CHANGELOG.md
Labels: documentation

#2071 [JAVA] remove snakeyaml dependency
  client/java/build.gradle
Labels: documentation, client/java

#2039 [SPARK] fix RDD & S3 findings
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkRDDWithParquetComplete.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_rdd_with_parquet.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Labels: documentation, integration/spark, ci
