Repository OpenLineage/OpenLineage, pull requests merged in 2023-12, with the labels that each got.

#2285 [DBT] Add send events command
  CHANGELOG.md
  integration/dbt/README.md
  integration/dbt/scripts/dbt-ol
Labels: documentation, integration/dbt

#2284 spark: get column-level lineage from JDBC dbtable option
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/columnLineageJDBCComplete.json
  integration/spark/app/integrations/container/columnLineageJDBCStart.json
  integration/spark/app/integrations/container/columnLineageSingleInputComplete.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/resources/column_lineage/init.sql
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/hooks/JobNameHook.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/JdbcRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/JdbcRelationHandlerTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageCollector.java
Labels: integration/spark, ci

#2297 [SPARK] exclude commons-logging from jar
  CHANGELOG.md
  integration/spark/build.gradle
Labels: documentation, integration/spark

#2301 Fix changelog for 1.6.1
  CHANGELOG.md
Labels: documentation

#2304 Update changelog for 1.6.2.
  CHANGELOG.md
Labels: documentation

#2314 [FLINK] fix Iceberg table loader NPE
  CHANGELOG.md
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/IcebergSinkWrapper.java
Labels: documentation, integration/flink, streaming

#2315 spec: fix inconsistency with redshift authority format
  spec/Naming.md
Labels: documentation, spec

#2305 airflow: Repair run_id for FAIL event in Airflow 2.6+
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/tests/integration/requests/failing/bash.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/bash_dag.py
  integration/airflow/tests/test_listener.py
  integration/airflow/tests/test_openlineage_adapter.py
Labels: integration/airflow

#2318 airflow: Revert changes in Dockerfile from #2316 that broke the CI
  integration/airflow/tests/integration/Dockerfile
Labels: integration/airflow

#2319 [SPARK] don't relocate logging which is excluded
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/build.gradle
Labels: documentation, integration/spark

#2320 airflow: Add parent run facet to COMPLETE and FAIL events in Airflow integration
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/tests/integration/requests/failing/bash.json
  integration/airflow/tests/test_listener.py
  integration/airflow/tests/test_openlineage_adapter.py
Labels: integration/airflow

#2321 [FLINK] stick to dataset naming convention for kafka topics
  CHANGELOG.md
  integration/flink/src/main/java/io/openlineage/flink/api/DatasetFactory.java
  integration/flink/src/main/java/io/openlineage/flink/utils/KafkaUtils.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/FlinkKafkaConsumerVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/FlinkKafkaProducerVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/KafkaSinkVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/KafkaSourceVisitor.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/FlinkKafkaConsumerVisitorTest.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/FlinkKafkaProducerVisitorTest.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/KafkaSinkVisitorTest.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/KafkaSourceVisitorTest.java
  integration/flink/src/test/resources/events/expected_flink_conf.json
  integration/flink/src/test/resources/events/expected_kafka.json
  integration/flink/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
Labels: documentation, integration/flink, streaming

#2326 [SPARK] fix unit tests in CI
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
Labels: integration/spark

#2327 docs: add integration matrix.
  README.md
Labels: documentation

#2331 Update the changelog for 1.7.0
  CHANGELOG.md
Labels: documentation, dev/ops

#2332 Update the changelog.
  CHANGELOG.md
Labels: documentation

#2328 [SPARK] allow spark 3.5 and dbr 14 integration tests
  .circleci/workflows/openlineage-spark.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
Labels: integration/spark, ci, tests

#2336 [SQL] fix rust code due to failing CI
  integration/sql/impl/tests/table_lineage/tests_cte.rs
Labels: integration/sql
