Repository OpenLineage/OpenLineage, pull requests merged in 2023-09, with the labels that each got.

#2029 http: use non-deprecated apiKey if loading it from env variables
  client/python/openlineage/client/transport/factory.py
Labels: client/python

#2044 fix: serde filtering
  client/python/openlineage/client/serde.py
  client/python/tests/test_events.py
Labels: client/python

#2090 sql: remove dependency to OpenLineage fork in ifaces
  .circleci/config.yml
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-py/Cargo.toml
Labels: ci, integration/sql

#2089 spark: publish ProcessingEngineRunFacet
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/facets/spark/v1/version-facet.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/SparkVersionFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkProcessingEngineRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkProcessingEngineRunFacetBuilderDelegate.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkProcessingEngineFacetBuilderTest.java
Labels: documentation, integration/spark

#2091 fix ol proxy chart
  proxy/backend/chart/templates/_helpers.tpl
  proxy/backend/chart/templates/deployment.yaml
Labels: proxy

#2076 [SPARK] add databricks test for delta lake dataset naming
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkDeltaGroupByCompleteEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/resources/databricks_notebooks/dataset_names.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
Labels: documentation, integration/spark, ci, tests

#2101 [CI] fix circle CI caches
  .circleci/checksum.sh
  .circleci/continue_config.yml
Labels: ci

#2099 Capture clusterAllTags variable from databricks
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DatabricksEnvironmentFacetBuilder.java
Labels: documentation, integration/spark

#2100 python: fix custom http transport TokenProvider
  client/python/openlineage/client/transport/http.py
Labels: client/python

#2102 [SPARK] fix failing S3 test on main
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
Labels: integration/spark

#2106 fix: Support parsing dbt_project.yml without target-path
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/tests/dbt/small/dbt_project.yml
  integration/common/tests/dbt/test_dbt_local.py
Labels: common

#2108 docs: Add openlineage-integration-common PyPI links
  integration/common/setup.py
Labels: common

#2111 update changelog for 1.2.0
  CHANGELOG.md
Labels: documentation

#2112 update changelog
  CHANGELOG.md
Labels: documentation

#2114 [CI] fix checksum for release sql java
  .circleci/continue_config.yml
Labels: ci

#2119 update changelog for 1.2.1
  CHANGELOG.md
Labels: documentation

#2113 revert bump: org.openapi.generator required JDK 11
  client/java/build.gradle
Labels: client/java

#2120 update changelog for 1.2.2
  CHANGELOG.md
Labels: documentation

#2123 Improve the Java Client's README.md
  client/java/README.md
Labels: documentation, client/java

#2133 [CI] modify CircleCi resource class for macos
  .circleci/continue_config.yml
Labels: ci

#2136 dbt: Add SQLSERVER to supported dbt profile types
  integration/common/openlineage/common/provider/dbt/processor.py
Labels: common

#2138 #2130 Add columns as schema facet for airflow.lineage.Table (if defined)
  integration/airflow/openlineage/airflow/extractors/converters.py
  integration/airflow/tests/extractors/test_converters.py
Labels: integration/airflow, extractor

#2140 Updated the README.md of the sql parser
  integration/sql/README.md
Labels: documentation, integration/sql

#2141 airflow: add more graceful logging when no OL provider installed.
  integration/airflow/openlineage/airflow/extractors/manager.py
Labels: integration/airflow, extractor

#2139 airflow: fix find-links path in tox.
  integration/airflow/setup.cfg
Labels: integration/airflow
