Repository OpenLineage/OpenLineage, pull requests merged in 2023-03, with the labels that each got.

#1650 improve collecting spark events on sql complete
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkDropTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkDropTableStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableRenameCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CustomEnvironmentVariablesCaptureTest.java
Labels: documentation, integration/spark

#1668 fix one node plans with LogicalRelation
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationBuilderTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Labels: documentation, integration/spark

#1663 ci: airflow: save docker logs after failed `docker-compose run`.
  integration/airflow/tests/integration/docker/up.sh
  integration/airflow/tests/integration/tests/airflow/config/log_config.py
Labels: integration/airflow

#1636 Spark/jdbc relations
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/spark/app/integrations/container/columnLineageJDBCComplete.json
  integration/spark/app/integrations/container/columnLineageJDBCStart.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/resources/column_lineage/init.sql
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/JdbcRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/JdbcRelationHandlerTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ColumnMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/DbTableMeta.java
  integration/sql/iface-java/src/test/java/io/openlineage/sql/OpenLineageSqlTest.java
Labels: documentation, integration/spark, ci, integration/sql, tests

#1682 ci: fix broken release
  .circleci/continue_config.yml
  integration/sql/iface-java/script/build.sh
Labels: ci, integration/sql

#1683 update changelog for 0.21.1
  CHANGELOG.md
Labels: documentation

#1694 spark: improve CI of integration
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
Labels: integration/spark, ci

#1697 documentation update
  integration/spark/README.md
Labels: documentation, integration/spark

#1700 remove unnecessary warninngs for column lineage in spark
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Labels: integration/spark

#1695 SQLParser supports alter, truncate and drop statements
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-py/Cargo.toml
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/mod.rs
  integration/sql/impl/tests/table_lineage/tests_alter.rs
  integration/sql/impl/tests/table_lineage/tests_drop.rs
  integration/sql/impl/tests/table_lineage/tests_truncate.rs
Labels: integration/sql

#1705 Make OPENLINEAGE_DISABLED case insensitive
  client/python/openlineage/client/transport/factory.py
  client/python/tests/test_factory.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/openlineage/lineage_backend/__init__.py
Labels: integration/airflow, client/python

#1708 spark: remove url parameters for jdbc namespaces
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandlerTest.java
Labels: documentation, integration/spark

#1724 Throw UnsupportedDbtCommand when finding unsupported entry in `args.which`.
  integration/common/openlineage/common/provider/dbt.py
  integration/dbt/scripts/dbt-ol
Labels: integration/dbt, common

#1717 spark: spark properties facet
  CHANGELOG.md
  integration/spark/README.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/SparkPropertyFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkPropertyFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkPropertyFacetBuilderTest.java
Labels: documentation, integration/spark

#1718 java: add headers to http transport
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  integration/spark/README.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
Labels: documentation, integration/spark, client/java

#1743 CI: java sql fixes
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
Labels: ci, tests

#1727 common/sql: Provide public interface for openlineage_sql package.
  integration/common/openlineage/common/sql/__init__.py
  integration/sql/iface-py/openlineage_sql.pyi
Labels: integration/sql, common

#1745 python: create client from dictionary.
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/http.py
  client/python/tests/config/http.yml
  client/python/tests/test_factory.py
Labels: client/python

#1748 update committers list
  COMMITTERS.md
Labels: documentation

#1749 add summary prompt to github pr template
  .github/pull_request_template.md
Labels: documentation
