Repository OpenLineage/OpenLineage, pull requests merged in 2023-06, with the labels that each got.

#1904 ci: replace removed --universal2 option
  client/python/setup.cfg
  integration/sql/iface-py/script/build-macos.sh
Labels: integration/sql, client/python

#1905 update changelog
  CHANGELOG.md
Labels: documentation

#1906 Prettify setup.cfg for pre-commit.
  client/python/setup.cfg
Labels: client/python

#1908 python: deprecate client.from_environment, do not skip loading config on it
  client/python/openlineage/client/client.py
Labels: client/python

#1910 update changelog for 0.27.2 release
  CHANGELOG.md
Labels: documentation

#1880 Emit job and dataset runless metadata
  CHANGELOG.md
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/Events.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
  client/python/openlineage/client/client.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/noop.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/serde_example_dataset_event.json
  client/python/tests/serde_example_job_event.json
  client/python/tests/serde_example_run_event.json
  client/python/tests/test_client.py
  client/python/tests/test_events.py
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  spec/OpenLineage.json
  spec/OpenLineage.yml
Labels: documentation, integration/spark, spec, client/java, client/python

#1829 add Databricks compatibility
  integration/common/openlineage/common/provider/dbt/processor.py
Labels: common

#1917 Add schemaURL to run event
  client/python/openlineage/client/run.py
  client/python/pyproject.toml
  client/python/tests/conftest.py
  client/python/tests/serde_example_run_event.json
  client/python/tests/test_client.py
  client/python/tests/test_events.py
  client/python/tests/test_facet.py
  client/python/tests/test_factory.py
  client/python/tests/test_http.py
  client/python/tests/test_kafka.py
  client/python/tox.ini
Labels: client/python, common

#1920 revert static lineage PR
  CHANGELOG.md
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/Events.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
  client/python/openlineage/client/client.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/noop.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/serde_example.json
  client/python/tests/serde_example_dataset_event.json
  client/python/tests/serde_example_job_event.json
  client/python/tests/test_client.py
  client/python/tests/test_events.py
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  spec/OpenLineage.json
  spec/OpenLineage.yml
Labels: documentation, integration/spark, spec, client/java, client/python

#1918 update the changelog
  CHANGELOG.md
Labels: documentation, integration/spark, spec, client/java, client/python

#1924 Docs/changelog
  CHANGELOG.md
Labels: documentation

#1927 Put back static lineage code that was reverted for release 0.28.0
  CHANGELOG.md
  client/java/generator/src/main/java/io/openlineage/client/TypeResolver.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/Events.java
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
  client/python/openlineage/client/client.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/noop.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/serde_example_dataset_event.json
  client/python/tests/serde_example_job_event.json
  client/python/tests/serde_example_run_event.json
  client/python/tests/test_client.py
  client/python/tests/test_events.py
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  spec/OpenLineage.json
  spec/OpenLineage.yml
Labels: documentation, integration/spark, spec, client/java, client/python

#1926 proxy: remove unused Golang client approach
  proxy/client/.gitignore
  proxy/client/config/config.go
  proxy/client/consumer/consumer.go
  proxy/client/controllers/lineage/controller.go
  proxy/client/database/database.go
  proxy/client/go.mod
  proxy/client/go.sum
  proxy/client/logger/logger.go
  proxy/client/main.go
  proxy/client/proxy.env
  proxy/client/services/lineage/service.go
  proxy/client/transports/error.go
  proxy/client/transports/http_transport.go
  proxy/client/transports/transport.go
  proxy/client/validator/handler.go
  proxy/client/validator/logging_handler.go
  proxy/client/validator/validator.go
  proxy/client/validator/validator_test.go
Labels: proxy

#1932 sql: strip the binary to lower size, allow use of pyyaml 5.4
  client/python/pyproject.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/build.sh
Labels: integration/sql, client/python

#1945 Fix security vulnerabilities.
  integration/airflow/tests/integration/test_failure.py
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
Labels: integration/airflow, common

#1944 [FLINK] kafka source with GenericRecord
  CHANGELOG.md
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkLegacyKafkaApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkSourceWithGenericRecordApplication.java
  integration/flink/gradle.properties
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapper.java
  integration/flink/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/src/test/resources/generate_events.sh
Labels: documentation, integration/flink, streaming

#1947 [FLINK] support flink 1.17
  .circleci/workflows/openlineage-flink.yml
  CHANGELOG.md
  integration/README.md
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/gradle.properties
Labels: documentation, ci, integration/flink, tests, streaming

#1928 integration test on databricks platform
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/transports/FileConfig.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/src/test/java/io/openlineage/client/transports/FileTransportTest.java
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/ClusterLogConf.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/CreateCluster.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/DbfsDestination.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/InitScript.java
  integration/spark/app/src/test/resources/databricks_notebooks/ctas.py
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
Labels: documentation, integration/spark, ci, integration/flink, client/java, tests, streaming

#1949 [DOCS] update changelog for 0.29.0 release
  CHANGELOG.md
Labels: documentation

#1950 req: bump minimum supported python version to 3.8
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-airflow.yml
  .circleci/workflows/openlineage-integration-python.yml
  client/python/pyproject.toml
  client/python/setup.cfg
  client/python/tox.ini
  integration/airflow/setup.cfg
  integration/airflow/tests/integration/Dockerfile
  integration/common/setup.py
  integration/dbt/README.md
  integration/dbt/setup.py
  integration/sql/iface-py/pyproject.toml
  integration/sql/iface-py/script/build.sh
Labels: documentation, integration/airflow, integration/dbt, ci, integration/sql, client/python, tests, common

#1951 prepare changelog for 0.29.1 release
  CHANGELOG.md
Labels: documentation

#1952 bump python 3.7 to 3.8 from few more places
  integration/airflow/README.md
  integration/airflow/setup.py
  integration/dagster/README.md
  integration/dagster/setup.py
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
  proposals/582/sql_parser.md
Labels: documentation, proposal, integration/airflow, integration/sql, integration/dagster

#1953 update changelog
  CHANGELOG.md
Labels: documentation
