Repository OpenLineage/OpenLineage, pull requests merged in 2023-01, with the labels that each got.

#1098 hive metastore for spark-hive integration tests
  .circleci/workflows/openlineage-java.yml
  integration/spark/.gitignore
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive2Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/resources/metastore_psql/create-databases.sql
  integration/spark/app/src/test/resources/metastore_psql/docker-compose.yml
  integration/spark/app/src/test/resources/metastore_psql/init-db.sh
  integration/spark/app/src/test/resources/metastore_psql/metastore-2.3.0.sql
  integration/spark/app/src/test/resources/metastore_psql/metastore-3.1.0.sql
  integration/spark/spark32/build.gradle
Labels: integration/spark, ci, tests

#1400 correct 0.18.0 release date in `CHANGELOG.md`
  CHANGELOG.md
Labels: documentation

#1402 Fix README typos for java client and spark integration #1401
  client/java/README.md
  integration/spark/README.md
Labels: documentation, integration/spark, client/java

#1432 sql: column-level lineage in SQL parser
  .circleci/continue_config.yml
  CHANGELOG.md
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/integration/requests/postgres.json
  integration/common/openlineage/common/models.py
  integration/common/openlineage/common/sql/__init__.py
  integration/common/openlineage/common/sql/parser.py
  integration/common/tests/sql/test_column.py
  integration/sql/.bumpversion.cfg
  integration/sql/README.md
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/build.gradle
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ColumnLineage.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/ColumnMeta.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/OpenLineageSql.java
  integration/sql/iface-java/src/main/java/io/openlineage/sql/SqlMeta.java
  integration/sql/iface-java/src/test/integration/TestParser.java
  integration/sql/iface-java/src/test/integration/run_test.sh
  integration/sql/iface-java/src/test/java/io/openlineage/sql/OpenLineageSqlTest.java
  integration/sql/iface-java/tests/java/io/openlineage/sql/OpenLineageSqlTest.java
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
  integration/sql/iface-py/src/lib.rs
  integration/sql/impl/src/context/alias_table.rs
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/dialect.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/column_lineage/mod.rs
  integration/sql/impl/tests/column_lineage/tests_aliases.rs
  integration/sql/impl/tests/column_lineage/tests_cte.rs
  integration/sql/impl/tests/column_lineage/tests_select.rs
  integration/sql/impl/tests/column_lineage/tests_simple.rs
  integration/sql/impl/tests/table_lineage/mod.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
  integration/sql/impl/tests/table_lineage/tests_create.rs
  integration/sql/impl/tests/table_lineage/tests_cte.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
  integration/sql/impl/tests/table_lineage/tests_insert.rs
  integration/sql/impl/tests/table_lineage/tests_merge.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
  integration/sql/impl/tests/table_lineage/tests_tpcds.rs
  integration/sql/impl/tests/table_lineage/tests_update.rs
  integration/sql/impl/tests/test_utils/mod.rs
  integration/sql/impl/tests/tests.rs
Labels: documentation, integration/airflow, ci, integration/sql, common, extractor

#1461 ci: remove common-build cache as it breaks sql parser
  .circleci/continue_config.yml
Labels: ci

#1456 separate ci steps for spark & flink
  .circleci/config.yml
  .circleci/workflows/openlineage-flink.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-spark.yml
Labels: ci, tests

#1457 update changelog for 0.19.0 release
  .github/header_templates.md
  .github/pull_request_template.md
  CHANGELOG.md
Labels: documentation

#1462 ci: fix sql parser release issues
  .circleci/continue_config.yml
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
Labels: ci, integration/sql

#1463 Add `login.sh` for proxy docker release
  proxy/backend/docker/login.sh
Labels: proxy

#1464 update changelog for 0.19.1 release
  CHANGELOG.md
Labels: documentation

#1467 update changelog for 0.19.2
  CHANGELOG.md
Labels: documentation

#1485 Bump assertj-core from 3.23.1 to 3.24.1 in /integration/flink
  .circleci/config.yml
  .circleci/workflows/openlineage-spark.yml
  integration/flink/build.gradle
Labels: ci, integration/flink, tests, streaming

#1451 [INTEGRATION][AIRFLOW] Fix prerequisites for BigQuery integration test
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/docker-compose.yml
Labels: integration/airflow

#1510 ci: fix duplicate entries, bigquery and missing release job
  .circleci/continue_config.yml
  integration/airflow/setup.py
  integration/airflow/tests/integration/requests/bigquery.json
  integration/airflow/tests/integration/test_integration.py
  integration/common/openlineage/common/test.py
  integration/sql/iface-java/build.gradle
Labels: integration/airflow, ci, integration/sql, common

#1469 Implement lineage event validator for client proxy
  proxy/client/go.mod
  proxy/client/go.sum
  proxy/client/main.go
  proxy/client/services/lineage/service.go
  proxy/client/validator/validator.go
  proxy/client/validator/validator_test.go
Labels: proxy

#1460 improve performance tests
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkDeltaCTASComplete.json
  integration/spark/app/integrations/container/pysparkDeltaSaveAsTableComplete.json
  integration/spark/app/integrations/container/pysparkSaveIntoDatasourceCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2ReplaceTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2ReplaceTableStartEvent.json
  integration/spark/app/integrations/container/pysparkWriteDeltaTableVersionEnd.json
  integration/spark/app/integrations/container/pysparkWriteDeltaTableVersionStart.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MockServerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkOpenLineageFailuresTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_delta.py
  integration/spark/app/src/test/resources/spark_scripts/spark_delta_event_filter.py
  integration/spark/app/src/test/resources/spark_scripts/spark_delta_save_as_table.py
  integration/spark/app/src/test/resources/spark_scripts/spark_save_into_data_source.py
  integration/spark/app/src/test/resources/spark_scripts/spark_test_failures.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_replace_table.py
  integration/spark/app/src/test/resources/spark_scripts/spark_write_delta_table_version.py
  integration/spark/shared/build.gradle
Labels: integration/spark, ci, tests

#1507 spark: Add square brackets for list-based spark configs
  integration/spark/README.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
Labels: documentation, integration/spark

#1512 ci: enable dbt integration tests
  integration/airflow/tests/integration/Dockerfile
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_bigquery.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_snowflake.py
  integration/airflow/tests/integration/tests/airflow/dbt-requirements.txt
Labels: integration/airflow

#1525 sql: bump JNI package version
  integration/sql/iface-java/Cargo.toml
  integration/sql/iface-java/src/lib.rs
Labels: integration/sql

#1511 improve iceberg integration tests
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkV2AlterTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AlterTableStartEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendDataCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendDataStartEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectStartEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableStartEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteStartEvent.json
  integration/spark/app/integrations/container/pysparkV2DropTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DropTableStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableStartEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwriteByExpressionCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwriteByExpressionStartEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwritePartitionsCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwritePartitionsStartEvent.json
  integration/spark/app/integrations/container/pysparkV2ReplaceTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2ReplaceTableAsSelectStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateStartEvent.json
  integration/spark/app/integrations/container/pysparkWriteIcebergTableVersionEnd.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MockServerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_alter.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_append.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_create.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_create_as_select.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_delete.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_drop.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_merge_into_table.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_overwrite_by_expression.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_overwrite_partitions.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_replace_table_as_select.py
  integration/spark/app/src/test/resources/spark_scripts/spark_v2_update.py
  integration/spark/app/src/test/resources/spark_scripts/spark_write_iceberg_table_version.py
Labels: integration/spark

#1528 edit spec readmes
  CHANGELOG.md
  spec/Naming.md
  spec/OpenLineage.md
  spec/Versioning.md
Labels: documentation, spec

#1532 common: add explicit SQL dependency
  integration/airflow/tests/integration/Dockerfile
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/setup.py
Labels: integration/airflow, integration/great-expectations, common

#1495 [INTEGRATION][AIRFLOW] Add new extractor for GCSToGCSOperator
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/extractors/extractors.py
  integration/airflow/openlineage/airflow/extractors/gcs_extractor.py
  integration/airflow/tests/extractors/test_gcs_extractor.py
  integration/airflow/tests/integration/requests/gcs.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/gcs_dag.py
  integration/airflow/tests/integration/tests/docker-compose.yml
Labels: documentation, integration/airflow, extractor

#1543 Fix dbt test command output.
  CHANGELOG.md
  integration/common/openlineage/common/provider/dbt.py
  integration/common/tests/dbt/test/result.json
Labels: documentation, common

#1509 Add proposal for client proxy
  proposals/1412/client_proxy.md
  proposals/1412/diagrams/ClientProxySidecar.svg
  proposals/1412/diagrams/FileBasedEvent Storage.svg
  proposals/1412/diagrams/SqliteEventStorage.svg
Labels: documentation, proposal
