Repository OpenLineage/OpenLineage, pull requests merged in 2024-06, with the labels that each got.

#2749 [SPARK] fix NPE in column level lineage
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/RddsTest.java
Labels: area:integration/spark, area:tests, language:java

#2759 fix changelog
  CHANGELOG.md
Labels: area:documentation

#2754 [SPARK] refactor OpenLineageRunEventBuilder
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
Labels: area:integration/spark, area:tests, language:java

#2760 python: bump mypy to 1.10, use attr scope
  .pre_commit/generate-facets/generate.py
  .pre_commit/generate-facets/templates/dataclass.jinja2
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/openlineage/client/generated/dataset_version_dataset.py
  client/python/openlineage/client/generated/datasource_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generated/error_message_run.py
  client/python/openlineage/client/generated/external_query_run.py
  client/python/openlineage/client/generated/extraction_error_run.py
  client/python/openlineage/client/generated/job_type_job.py
  client/python/openlineage/client/generated/lifecycle_state_change_dataset.py
  client/python/openlineage/client/generated/nominal_time_run.py
  client/python/openlineage/client/generated/output_statistics_output_dataset.py
  client/python/openlineage/client/generated/ownership_dataset.py
  client/python/openlineage/client/generated/ownership_job.py
  client/python/openlineage/client/generated/parent_run.py
  client/python/openlineage/client/generated/processing_engine_run.py
  client/python/openlineage/client/generated/schema_dataset.py
  client/python/openlineage/client/generated/source_code_job.py
  client/python/openlineage/client/generated/source_code_location_job.py
  client/python/openlineage/client/generated/sql_job.py
  client/python/openlineage/client/generated/storage_dataset.py
  client/python/openlineage/client/generated/symlinks_dataset.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/msk_iam.py
  client/python/tox.ini
Labels: area:ci, area:client/python, language:python

#2756 remodeled transformation type
  CHANGELOG.md
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/redact_fields.yml
  spec/facets/ColumnLineageDatasetFacet.json
Labels: area:documentation, area:spec, area:client/python, language:python

#2740 Register GCP common job facet
  client/java/generator/src/main/java/io/openlineage/client/Generator.java
  spec/registry/gcp/facets/GcpCommonJobFacet.json
  spec/registry/gcp/registry.json
  spec/release.sh
Labels: area:documentation, area:ci, area:spec, area:client/java, area:tests, language:java, language:python

#2761 Spark: Fix Hive metastore namespace
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddColumnsCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableRenameCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableSetLocationCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateDataSourceTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/DropTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/HiveTableRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveTableVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/TruncateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Labels: area:integration/spark, area:tests, language:java

#2729 Implementing facet registry (PROPOSAL #2161)
  CODEOWNERS
  spec/registry/core/registry.json
Labels: area:spec

#2776 Java: repair empty dataset name in java client
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifierUtils.java
  client/java/src/test/java/io/openlineage/client/utils/DatasetIdentifierUtilsTest.java
Labels: area:client/java, area:tests, language:java

#2769 Add log info when emitting lineage from spark (following 2650)
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
Labels: area:integration/spark, language:java

#2778 [SPARK] code style issue on main
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
Labels: area:integration/spark, language:java

#2773 Java: Improve namespace format for SQLServer
  client/java/src/main/java/io/openlineage/client/utils/JdbcUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/GenericJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcLocation.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcUrlSanitizer.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/SqlServerJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/JdbcUtilsTest.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForMySql.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForPostgres.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForSqlServer.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForUnknown.java
  integration/flink/flink115/src/test/java/io/openlineage/flink/visitor/JdbcSinkVisitorTest.java
  integration/flink/flink115/src/test/java/io/openlineage/flink/visitor/JdbcSourceVisitorTest.java
  integration/flink/flink117/src/test/java/io/openlineage/flink/visitor/JdbcSinkVisitorTest.java
  integration/flink/flink117/src/test/java/io/openlineage/flink/visitor/JdbcSourceVisitorTest.java
  integration/flink/flink118/src/test/java/io/openlineage/flink/visitor/JdbcSinkVisitorTest.java
  integration/flink/flink118/src/test/java/io/openlineage/flink/visitor/JdbcSourceVisitorTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/JdbcSinkVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/JdbcSourceVisitor.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlDWDatabricksVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/JdbcRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/JdbcRelationHandlerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageCollector.java
  spec/Naming.md
Labels: area:integration/spark, area:integration/flink, area:client/java, area:tests, language:java

#2781 [SPARK] Remove spark-interfaces-scala module
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  integration/spark-interfaces-scala/README.md
  integration/spark-interfaces-scala/build.gradle
  integration/spark-interfaces-scala/gradle.properties
  integration/spark-interfaces-scala/gradle/wrapper/gradle-wrapper.jar
  integration/spark-interfaces-scala/gradle/wrapper/gradle-wrapper.properties
  integration/spark-interfaces-scala/gradlew
  integration/spark-interfaces-scala/gradlew.bat
  integration/spark-interfaces-scala/src/main/scala/io/openlineage/spark/extension/scala/v1/columnLevel.scala
  integration/spark-interfaces-scala/src/main/scala/io/openlineage/spark/extension/scala/v1/common.scala
  integration/spark-interfaces-scala/src/main/scala/io/openlineage/spark/extension/scala/v1/planNodes.scala
  integration/spark-interfaces-scala/src/main/scala/io/openlineage/spark/extension/scala/v1/relation.scala
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark33DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeInputVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeOutputVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/ExtensionLineageRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ExtensionPlanUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/ExtensionLineageRelationHandlerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SparkExtensionV1InputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SparkExtensionV1OutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/OutputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/SparkExtensionV1InputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/SparkExtensionV1OutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  new-version.sh
Labels: area:documentation, area:integration/spark, area:ci, area:tests, language:scala, language:java

#2758 Spark/transport type extraction
  integration/spark/app/integrations/container/pysparkCLLEnd.json
  integration/spark/app/integrations/container/pysparkCLLStart.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_cll.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Dependency.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Input.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformationInfo.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformedInput.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ScalaConversionUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionFieldDependencyCollectorTest.java
Labels: area:integration/spark, area:spec, area:client/python, area:tests, language:java, language:python

#2785 changelog update
  CHANGELOG.md
Labels: area:documentation

#2787 Reduce logging from MockServer events in GCPUtilsTest
  CHANGELOG.md
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GCPUtilsTest.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#2782 Spark, Flink: Fix S3 dataset names
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifierUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemUriSanitizer.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GenericFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/LocalFilesystemDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/filesystem/ObjectStorageDatasetExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcUrlSanitizer.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/SqlServerJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/DatasetIdentifierUtilsTest.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForGCS.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForHDFS.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForLocal.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForS3.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForWASBS.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/IcebergSinkVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/IcebergSourceVisitor.java
  integration/spark/app/integrations/container/pysparkSaveIntoDatasourceCompleteEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitorTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_drop_table.py
  integration/spark/app/src/test/resources/spark_scripts/spark_truncate_table.py
  integration/spark/app/src/test/resources/test_data/test_data.csv
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDataSourceDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHiveDirVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/shared/src/test/resources/test_data/serde/hadoopfsrelation-node.json
  integration/spark/shared/src/test/resources/test_data/serde/insertintofs-node.json
  integration/spark/spark2/src/main/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Labels: area:integration/spark, area:integration/flink, area:client/java, area:tests, language:java, language:python

#2790 Tests: Properly cleanup MockServer
  integration/flink/app/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkOpenLineageFailuresTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Labels: area:integration/spark, area:integration/flink, area:tests, language:java

#2791 Update changelog for 1.17 release
  CHANGELOG.md
Labels: area:documentation

#2792 CI: release: move to OSSRH token
  .circleci/continue_config.yml
Labels: area:ci

#2793 Updates changelog.
  CHANGELOG.md
Labels: area:documentation

#2767 Spark: fallback to spark.sql.warehouse.dir as table namespace
  client/java/src/main/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtils.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForGCS.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForHDFS.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForLocal.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForS3.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForWASBS.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableSetLocationCommandVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateTableLikeCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandlerTest.java
Labels: area:integration/spark, area:client/java, area:tests, language:java, language:python

#2766 Spark: fix Glue naming format
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Labels: area:integration/spark, area:client/java, area:tests, language:java

#2800 Spark,Flink: Fix DBFS namespace format
  client/java/src/main/java/io/openlineage/client/utils/filesystem/GenericFilesystemDatasetExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/filesystem/FilesystemDatasetUtilsTestForDBFS.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Labels: area:integration/spark, area:client/java, area:tests, language:java

#2755 [SPARK] spark lineage CLI verifier
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ConfigurableIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/util/ConfigurableTestConfig.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/util/RunEventVerifier.java
  integration/spark/cli/.gitignore
  integration/spark/cli/Dockerfile
  integration/spark/cli/Dockerfile.dockerignore
  integration/spark/cli/configurable-test.sh
  integration/spark/cli/spark-conf.yml
  integration/spark/cli/tests/test_failing/example_failing.json
  integration/spark/cli/tests/test_failing/script.sql
  integration/spark/cli/tests/test_iceberg/create_table.json
  integration/spark/cli/tests/test_iceberg/script.py
  integration/spark/cli/tests/test_pyspark/example_expected_event_complete.json
  integration/spark/cli/tests/test_pyspark/example_expected_event_start.json
  integration/spark/cli/tests/test_pyspark/script.py
  integration/spark/cli/tests/test_simple/example_expected_event_complete.json
  integration/spark/cli/tests/test_simple/example_expected_event_start.json
  integration/spark/cli/tests/test_simple/script.sql
Labels: area:documentation, area:integration/spark, area:ci, area:client/java, area:tests, language:java, language:python

#2803 mention contributor working on a feature
  CHANGELOG.md
Labels: area:documentation

#2805 Update macOS resource class in CI.
  .circleci/continue_config.yml
Labels: area:ci
