Repository OpenLineage/OpenLineage, pull requests merged in 2024-03, with the labels that each got.

#2479 [FLINK] improve Cassandra lineage metadata
  CHANGELOG.md
  integration/flink/app/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/app/src/test/resources/create_cassandra_data.sh
  integration/flink/app/src/test/resources/events/expected_cassandra.json
  integration/flink/examples/stateful/src/main/resources/cassandra.conf
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/CassandraUtils.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/CassandraSinkVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/CassandraSourceVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/CassandraSinkWrapper.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/CassandraSourceWrapper.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/CassandraSinkVisitorTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/CassandraSourceVisitorTest.java
  spec/Naming.md
Labels: documentation, spec, integration/flink, streaming

#2475 [SPARK][FLINK][JAVA] http timeout fix
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Labels: documentation, client/java

#2483 [FLINK] cleanup unused resource files from shared module
  integration/flink/shared/src/test/resources/InputEvent.avsc
  integration/flink/shared/src/test/resources/create_cassandra_data.sh
  integration/flink/shared/src/test/resources/create_postgres_data.sh
  integration/flink/shared/src/test/resources/events.json
  integration/flink/shared/src/test/resources/events/expected_cassandra.json
  integration/flink/shared/src/test/resources/events/expected_failed.json
  integration/flink/shared/src/test/resources/events/expected_flink_conf.json
  integration/flink/shared/src/test/resources/events/expected_iceberg.json
  integration/flink/shared/src/test/resources/events/expected_iceberg_source.json
  integration/flink/shared/src/test/resources/events/expected_jdbc.json
  integration/flink/shared/src/test/resources/events/expected_kafka.json
  integration/flink/shared/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/shared/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/shared/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/shared/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/shared/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/shared/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/shared/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/shared/src/test/resources/generate_events.sh
  integration/flink/shared/src/test/resources/openlineage-network-partition.yml
  integration/flink/shared/src/test/resources/openlineage.yml
Labels: integration/flink, streaming

#2486 client: add info from http response to client exception
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransportResponseException.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
Labels: client/java

#2492 [AIRFLOW] fix: Proceed without rendering templates if task_instance copy fails
  integration/airflow/openlineage/airflow/listener.py
Labels: integration/airflow

#2493 Add new committer
  COMMITTERS.md
Labels: documentation

#2484 upgrade spotless
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifierUtils.java
Labels: client/java

#2494 Add new committer
  COMMITTERS.md
Labels: documentation

#2478 [PYTHON] Add support for MSK IAM authentication with a new transport
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/msk_iam.py
  client/python/pyproject.toml
  client/python/tests/test_msk_iam.py
  client/python/tox.ini
Labels: client/python

#2491 [FLINK] support lineage for hybrid source
  CHANGELOG.md
  integration/flink/shared/build.gradle
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/HybridSourceVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/VisitorFactoryImpl.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/HybridSourceVisitorTest.java
Labels: documentation, integration/flink, streaming

#2504 [FLINK] fix release runtime dependencies
  integration/flink/build.gradle
Labels: integration/flink, streaming

#2508 Flink | fix JDBC dataset naming
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/utils/JdbcUtils.java
  client/java/src/test/java/io/openlineage/client/utils/JdbcUtilsTest.java
  integration/flink/app/src/test/resources/events/expected_jdbc.json
  integration/flink/flink115/src/test/java/io/openlineage/flink/visitor/JdbcSinkVisitorTest.java
  integration/flink/flink115/src/test/java/io/openlineage/flink/visitor/JdbcSourceVisitorTest.java
  integration/flink/flink117/src/test/java/io/openlineage/flink/visitor/JdbcSinkVisitorTest.java
  integration/flink/flink117/src/test/java/io/openlineage/flink/visitor/JdbcSourceVisitorTest.java
  integration/flink/flink118/src/test/java/io/openlineage/flink/visitor/JdbcSinkVisitorTest.java
  integration/flink/flink118/src/test/java/io/openlineage/flink/visitor/JdbcSourceVisitorTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/JdbcSinkVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/JdbcSourceVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/JdbcRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageCollector.java
Labels: documentation, integration/spark, integration/flink, client/java, streaming

#2512 Flink refine jdbc table name
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/JdbcSourceWrapper.java
Labels: integration/flink, streaming

#2514 common: use uv instead of pip in openlineage-common tests.
  .circleci/continue_config.yml
  integration/common/setup.cfg
Labels: ci, common

#2515 Spark - prevent NPE if context is null
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Labels: integration/spark

#2516 Add missing changes for 1.10 release.
  CHANGELOG.md
Labels: documentation

#2517 release: revert spotless bump that fails with Java 8
  client/java/build.gradle
Labels: client/java

#2518 dagster: add new latest version provider in conftest
  integration/dagster/tests/conftest.py
Labels: integration/dagster

#2521 release: make flink release job depend on SQL java build job
  .circleci/continue_config.yml
Labels: ci

#2525 Spark - fix documentation link
  integration/spark/README.md
Labels: documentation, integration/spark

#2524 [AIRFLOW] Remove redundant operator information from facets
  integration/airflow/openlineage/airflow/extractors/bash_extractor.py
  integration/airflow/openlineage/airflow/extractors/manager.py
  integration/airflow/openlineage/airflow/extractors/python_extractor.py
  integration/airflow/openlineage/airflow/facets.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/integration/requests/custom_extractor.json
  integration/airflow/tests/integration/requests/default_extractor.json
  integration/airflow/tests/integration/requests/secrets.json
  integration/airflow/tests/integration/requests/unknown_operator.json
Labels: integration/airflow, extractor

#2526 Update changelog for 1.10.2
  CHANGELOG.md
Labels: documentation

#2523 spark: Change SparkPropertyFacetBuilder to support recording spark run time …
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkPropertyFacetBuilder.java
Labels: integration/spark

#2531 [FLINK] disable module metadata generation
  CHANGELOG.md
  integration/flink/build.gradle
Labels: documentation, integration/flink, streaming

#2535 [Spark] always catch IllegalStateException when accessing SparkSession
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeOutputVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkSessionUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkVersionUtils.java
Labels: documentation, integration/spark

#2496 metrics, java: add support for Micrometer metrics
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/OpenLineageYaml.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/SimpleMemoryCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/metrics/CompositeMeterRegistryFactory.java
  client/java/src/main/java/io/openlineage/client/metrics/MeterRegistryFactory.java
  client/java/src/main/java/io/openlineage/client/metrics/MicrometerProvider.java
  client/java/src/main/java/io/openlineage/client/metrics/SimpleMeterRegistryFactory.java
  client/java/src/main/java/io/openlineage/client/metrics/StatsDMeterRegistryFactory.java
  client/java/src/main/java/io/openlineage/client/utils/ReflectionUtils.java
  client/java/src/main/java/io/openlineage/client/utils/RuntimeUtils.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientTest.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerTest.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/SimpleMemoryCircuitBreakerTest.java
  client/java/src/test/java/io/openlineage/client/metrics/BaseMetricsTest.java
  client/java/src/test/java/io/openlineage/client/metrics/MetricsTest.java
  client/java/src/test/resources/config/metrics-complex.yaml
  client/java/src/test/resources/config/metrics.yaml
  integration/spark/build.gradle
Labels: integration/spark, client/java

#2539 [CLIENT] Small improvements of .emit() method logging & annotations
  client/python/openlineage/client/client.py
Labels: client/python

#2547 [SQL] Show error message then OpenLineageSql cannot find native library
  integration/sql/README.md
  integration/sql/iface-java/src/main/java/io/openlineage/sql/OpenLineageSql.java
Labels: documentation, integration/sql
