Repository OpenLineage/OpenLineage, pull requests merged in 2024-07, with the labels that each got.

#2807 Spark: Fix glue symlinks formatting bug
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Labels: area:integration/spark, area:tests, language:java

#2806 Java: Add PostgresJdbcExtractor
  client/java/src/main/java/io/openlineage/client/utils/jdbc/GenericJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcLocation.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcUrlSanitizer.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OverridingJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/PostgresJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/SqlServerJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForPostgres.java
Labels: area:client/java, area:tests, language:java

#2797 Spark: Fix Iceberg dataset location
  integration/spark/app/integrations/container/columnLineageJDBCComplete.json
  integration/spark/app/integrations/container/columnLineageJDBCStart.json
  integration/spark/app/integrations/container/pysparkV2AlterTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendDataCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2AppendDataStartEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectStartEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DropTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DropTableStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableStartEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwriteByExpressionCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwritePartitionsCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwritePartitionsStartEvent.json
  integration/spark/app/integrations/container/pysparkV2ReplaceTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCompleteEvent.json
  integration/spark/app/integrations/container/pysparkWriteIcebergTableVersionEnd.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Labels: area:integration/spark, area:tests, language:java

#2743 [SPARK] upgrade supported versions to 3.4.2->3.4.3 and 3.5.0->3.5.1
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/README.md
  integration/spark-docker/build.gradle.kts
  integration/spark-docker/manifest.json
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/gradle.properties
  integration/spark/scala-fixtures/build.gradle.kts
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilderTest.java
  integration/spark/shared/src/testScala212/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer212Test.java
  integration/spark/vendor/snowflake/build.gradle
Labels: area:documentation, area:integration/spark, area:ci, area:tests, language:java

#2824 Spark,Flink: Add OracleJdbcExtractor
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Labels: area:integration/spark, area:client/java, area:tests, language:java

#2823 fix flaky test
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
Labels: area:integration/spark, area:tests, language:java

#2789 Spark/transformation type masking
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformationInfo.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark35/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#2825 Spark,Flink: Add MySqlJdbcExtractor
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/MySqlJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForMySql.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Labels: area:integration/spark, area:client/java, area:tests, language:java

#2801 spec/facet/tests: adding example for change in #2756
  spec/tests/ColumnLineageDatasetFacet/1.json
Labels: area:spec, area:tests

#2826 Spark,Flink: Add TeradataJdbcExtractor
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/SqlServerJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/TeradataJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForTeradata.java
Labels: area:client/java, area:tests, language:java

#2827 fix NPE and incorrect comment
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
Labels: area:integration/spark, area:tests, language:java

#2822 [SPARK] configurable test with docker image provided
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ConfigurableIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ConfigurableTestConfig.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/util/RunEventVerifier.java
  integration/spark/cli/configurable-test.sh
  integration/spark/cli/spark-conf-docker.yml
  integration/spark/cli/tests/test_iceberg/create_table.json
  integration/spark/cli/tests/test_pyspark/example_expected_event_complete.json
  integration/spark/cli/tests/test_pyspark/example_expected_event_start.json
  integration/spark/cli/tests/test_simple/example_expected_event_complete.json
  integration/spark/cli/tests/test_simple/example_expected_event_start.json
Labels: area:integration/spark, area:ci, area:tests, language:java

#2831 Fix: convert scheme and authority to lowercase in JdbcLocation
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcLocation.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OverridingJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/SqlServerJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/TeradataJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForMySql.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForPostgres.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForSqlServer.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForTeradata.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForUnknown.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
Labels: area:integration/spark, area:client/java, area:tests, language:java

#2830 Fix: handle dashes in hostname for JdbcExtractors
  client/java/src/main/java/io/openlineage/client/utils/jdbc/GenericJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OverridingJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/SqlServerJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/TeradataJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForMySql.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForPostgres.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForSqlServer.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForTeradata.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForUnknown.java
Labels: area:client/java, area:tests, language:java

#2843 Fix configurable integration test
  integration/spark/cli/Dockerfile
Labels: area:integration/spark

#2844 sql: remove debug println
  integration/sql/impl/src/lineage.rs
Labels: area:integration/sql, language:rust

#2838 iceberg support for Spark 3.5.1
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/resources/log4j2.properties
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/OutputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/IcebergMergeIntoDependencyVisitor.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/MergeRowsColumnLineageVisitor.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#2841 spec: JobTypeJobFacet description correctly describes possible values in fields
  client/python/openlineage/client/generated/job_type_job.py
  spec/facets/JobTypeJobFacet.json
Labels: area:spec, area:client/python, language:python

#2845 nightly-build on main should run only specified workflows
  .circleci/config.yml
Labels: area:ci

#2852 Airflow: Add log_url to AirflowRunFacet
  integration/airflow/facets/AirflowRunFacet.json
  integration/airflow/openlineage/airflow/utils.py
Labels: area:integration/airflow, language:python

#2850 remove shaded dependency
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
Labels: area:documentation, area:integration/spark, language:java

#2856 [Spark] add handling for Generate
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#2859 [SPARK][JAR-VERIFIER] verify major java version of compiled classes
  CHANGELOG.md
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPluginDelegate.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPluginExtension.kt
Labels: area:documentation, area:integration/spark

#2860 Adding important information on how to run this plugin with prometheus
  proxy/fluentd/README.md
  proxy/fluentd/docker/Dockerfile
  proxy/fluentd/docker/conf/fluent.conf
Labels: area:documentation, area:proxy

#2855 [SPARK] Use Table's properties during column level lineage construction
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2Utils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2UtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/PlanUtils3Test.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilderTest.java
Labels: area:integration/spark, area:tests, language:java

#2851 [SPARK] Add support for Kafka datasets when Spark is in its streaming configuration
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/streaming/Kafka2KafkaJob.scala
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/NoOpStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/StreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/StreamingDataSourceV2RelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/TopicPartitionProxy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2Visitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ScalaConversionUtils.java
Labels: area:documentation, area:integration/spark, area:tests, language:scala, language:java

#2863 Spark: Make Delta dataset symlink consistent with non-Delta tables
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
Labels: area:integration/spark, area:tests, language:java

#2869 Java: Add DerbyJdbcExtractor
  client/java/src/main/java/io/openlineage/client/utils/jdbc/DerbyJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/GenericJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcLocation.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OverridingJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/SqlServerJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/TeradataJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForDerby.java
Labels: area:client/java, area:tests, language:java

#2862 fix nightly-run
  .circleci/config.yml
Labels: area:ci

#2861 [SPARK] Extracts job name creation to providers
  integration/spark/app/src/main/java/io/openlineage/spark/agent/job/naming/ApplicationJobNameProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/job/naming/ApplicationJobNameResolver.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/job/naming/AwsGlueApplicationJobNameProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/job/naming/OpenLineageAppNameApplicationJobNameProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/job/naming/SparkApplicationNameApplicationJobNameProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/job/naming/ApplicationJobNameResolverTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/job/naming/AwsGlueApplicationJobNameProviderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/job/naming/OpenLineageAppNameApplicationJobNameProviderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/job/naming/SparkApplicationNameApplicationJobNameProviderTest.java
Labels: area:integration/spark, area:tests, language:java

#2865 [airflow] fix: replace datetime.now with airflow.utils.timezone.utcnow
  integration/airflow/openlineage/airflow/listener.py
Labels: area:integration/airflow, language:python

#2876 Update the changelog
  CHANGELOG.md
Labels: area:documentation

#2877 Update docker image for Fluentd 1.17
  proxy/fluentd/docker/Dockerfile
Labels: area:proxy

#2880 bug fixed on error msgs descriptions
  proxy/fluentd/lib/fluent/plugin/parser_openlineage.rb
Labels: area:proxy

#2882 notify nightly CI runs
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
Labels: area:ci

#2883 Extract legacy column lineage visitors loader
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/LegacyColumnLineageVisitorsLoader.java
Labels: area:integration/spark, language:java

#2868 Add kafka input source when writing in foreach batch mode.
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#2828 Compile openlineage-spark with Java 17 while testing it on Java 8 & 17
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkBigqueryInsertEnd.json
  integration/spark/app/integrations/container/pysparkBigqueryInsertStart.json
  integration/spark/app/integrations/container/pysparkBigqueryQueryEnd.json
  integration/spark/app/integrations/container/pysparkBigquerySaveEnd.json
  integration/spark/app/integrations/container/pysparkBigquerySaveStart.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive2Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/facet/builder/LogicalPlanRunFacetBuilderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/MatchesMapRecursively.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/util/DerbyUtils.java
  integration/spark/app/src/test/resources/spark_scripts/spark_overwrite_hive.py
  integration/spark/app/src/test/resources/test_data/serde/aggregate-node.json
  integration/spark/app/src/test/resources/test_data/serde/bigqueryrelation-node.json
  integration/spark/app/src/test/resources/test_data/serde/hadoopfsrelation-node.json
  integration/spark/app/src/test/resources/test_data/serde/insertintods-node.json
  integration/spark/app/src/test/resources/test_data/serde/insertintofs-node.json
  integration/spark/app/src/test/resources/test_data/serde/logicalrelation-node.json
  integration/spark/app/src/test/resources/test_data/serde/openlineage-event.json
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/gradle.properties
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/LogicalPlanRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/VisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/CommandPlanVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/JobNameSuffixProvider.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilderTest.java
  integration/spark/shared/src/testScala213/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer213Test.java
Labels: area:documentation, area:integration/spark, area:ci, area:tests, language:java, language:python

#2889 adding descriptions and marquez-ui to docker compose file
  integration/spark/docker-compose.yml
Labels: area:integration/spark

#2888 Feature/spark/resolve kafka hosts
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaBootstrapServerResolver.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2Visitor.java
Labels: area:integration/spark, area:tests, language:java

#2897 fix flaky gcp test
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
Labels: area:integration/spark, area:tests, language:java

#2893 [SPARK] Extract Dataset from underlying BaseRelation
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/ExtensionLineageRelationHandler.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Labels: area:integration/spark, area:tests, language:java
