Repository OpenLineage/OpenLineage, pull requests merged in 2024-10, with the labels that each got.

#3132 Add gcs transport docs
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation

#3110 add support for dbt-athena adapter
  integration/common/openlineage/common/provider/dbt/processor.py
Labels: area:integration/common, language:python

#3134 ci: use machine for release-client-java job
  .circleci/continue_config.yml
Labels: area:ci

#3121 Require Java 17 only for Spark 4.0
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/spark40/build.gradle
Labels: area:integration/spark

#3141 avoid tests in configurable test
  integration/spark/cli/Dockerfile
Labels: area:integration/spark

#3085 Add extra CLL tests
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesOnlyFieldDependenciesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
Labels: area:integration/spark, area:tests, language:java

#3145 Update CHANGELOG.md link to PR
  CHANGELOG.md
Labels: area:documentation

#3148 spark: Limit the Seq size in RddPathUtils::extract() to avoid OutOfMemoryError for large jobs
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Labels: area:integration/spark, language:java

#3142 test: Add integration tests for EMR
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrTestEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Templating.java
  integration/spark/app/src/test/resources/emr_test_jobs/basic_script.py
Labels: area:integration/spark, area:tests, language:java, language:python

#3154 [docs] fix argos config to run on the main repo
  .github/workflows/visual-difference-detection.yml
Labels: area:dev, visual-comparison-required

#3162 fix: Fix Kotlin capitalized function deprecation warning
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/ScalaVariantDelegate.kt
Labels: area:integration/spark

#3161 use uv to manage maturin in python sqlparser interface
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
Labels: area:integration/sql

#3163 fix databricks naming mismatch in documentation
  website/docs/spec/naming.md
Labels: area:documentation

#3156 Rename Dataplex transport to GcpLineage
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-dataplex/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-gcplineage/README.md
  client/java/transports-gcplineage/build.gradle
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransport.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportBuilder.java
  client/java/transports-gcplineage/src/main/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportConfig.java
  client/java/transports-gcplineage/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-gcplineage/src/test/java/io/openlineage/client/transports/gcplineage/GcpLineageTransportTest.java
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation, area:ci, area:client/java, area:tests, language:java

#3147 Fix/emr implicit glue catalog
  .github/workflows/integration-tests-spark-aws.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrTestEnvironment.java
  integration/spark/app/src/test/resources/emr_test_jobs/glue_symlink_implicit_account_id.py
  integration/spark/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsAccountIdFetcher.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Labels: area:integration/spark, area:tests, area:dev, language:java, language:python

#3176 feature: Improve Databricks integration tests
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/EmrTestEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/ClusterLogConf.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/CreateCluster.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/InitScript.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/databricks/WorkspaceDestination.java
Labels: area:integration/spark, area:ci, area:tests, language:java

#3165 Add missing javadocs for spark-extension-interfaces (causing warnings)
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/DatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/DatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithFacets.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/InputDatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/LineageRelation.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/LineageRelationProvider.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OlExprId.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithDelegate.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithFacets.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/OutputDatasetWithIdentifier.java
  integration/spark-extension-interfaces/src/main/java/io/openlineage/spark/shade/extension/v1/lifecycle/plan/SparkOpenLineageExtensionVisitor.java
Labels: language:java

#3178 Fix Databricks integration running
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
Labels: area:integration/spark, area:ci, area:tests, language:java

#3179 refactor: Few changes in OpenLineageSparkListener
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Labels: area:integration/spark, language:java

#3045 ci: get labels from GitHub, filter jobs based on them
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  dev/filter_approvals.py
  dev/filter_matrix.py
Labels: area:ci, area:dev, language:python

#3159 local file system should not point to IP, added remote file system doc
  spec/Naming.md
  website/docs/spec/naming.md
Labels: area:documentation, area:spec

#3192 fix: Fix missing WEB_PORT variable where marquez-web container is used.
  .circleci/config.yml
  integration/spark/docker-compose.yml
  proxy/backend/docker-compose.yml
  proxy/fluentd/docker/docker-compose.yml
  website/blog/openlineage-spark/index.mdx
  website/docs/guides/airflow-quickstart.md
  website/docs/guides/spark.md
Labels: area:documentation, area:integration/spark, area:ci, area:proxy

#3193 fix: databricks integration tests on CircleCI regression is now fixed
  .circleci/continue_config.yml
Labels: area:ci

#3196 fix: fixes regression with bad Spark version in Databricks integration tests
  .circleci/workflows/openlineage-spark.yml
Labels: area:ci

#3053 fix: Fixes names normalization.
  integration/spark/app/integrations/container/pysparkHadoopFSEndEvent.json
  integration/spark/app/integrations/container/pysparkHadoopFSStartEvent.json
  integration/spark/app/integrations/container/pysparkLoadComplete.json
  integration/spark/app/integrations/container/pysparkLoadStart.json
  integration/spark/app/integrations/container/pysparkRDDWithParquetComplete.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/ApplicationJobNameResolver.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/JobNameBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/NameNormalizer.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/ExecutionContextTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/JobNameBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/NameNormalizerTest.java
Labels: area:integration/spark, area:tests, language:java

#3198 removal: Deprecated column level visitors
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/CustomColumnLineageVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/LegacyColumnLineageVisitorsLoader.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CustomColumnLineageVisitorTestImpl.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtilsTest.java
  integration/spark/spark3/src/test/resources/META-INF/services/io.openlineage.spark.agent.lifecycle.plan.column.CustomColumnLineageVisitor
  website/docs/integrations/spark/spark_column_lineage.md
Labels: area:documentation, area:integration/spark, area:tests, language:java

#3200 Move Spark release to the machine type common to other Java release jobs, set version using common method
  .circleci/continue_config.yml
Labels: area:ci

#3199 Add JobTypeJobFacets to dbt integration's model, test, snapshot events
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
Labels: area:tests, area:integration/common, language:python

#3206 test: Exit early when the Databricks integration test has unexpected version of the Spark passed.
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Labels: area:integration/spark, area:tests, language:java
