Repository OpenLineage/OpenLineage, pull requests merged in 2024-11, with the labels that each got.

#3208 [Fix][Integration/dbt] Parse dbt source tests
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test/result.json
  integration/common/tests/dbt/test/target/manifest.json
  integration/common/tests/dbt/test/target/run_results.json
  integration/common/tests/dbt/test_dbt_local.py
Labels: area:tests, area:integration/common, language:python

#3211 docs: fix edit this page link.
  .circleci/config.yml
  dev/filter_matrix.py
  website/docusaurus.config.js
Labels: area:documentation, area:ci, area:dev, language:python

#3217 fix: Fix docusaurus-mdx-checker errors
  website/blog/column-lineage/index.mdx
  website/docs/client/java/partials/java_transport.md
  website/docs/integrations/airflow/airflow.md
  website/docs/integrations/airflow/default-extractors.md
  website/docs/integrations/airflow/extractors/custom-extractors.md
  website/docs/integrations/airflow/extractors/extractor-testing.md
  website/docs/integrations/airflow/job-hierarchy.md
  website/docs/integrations/airflow/manual.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/usage.md
  website/docs/integrations/flink.md
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/spec/naming.md
Labels: area:documentation, area:tests

#3186 python: add EnvironmentVariablesRunFacet
  .pre_commit/check-redactions.py
  client/python/openlineage/client/client.py
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/facets.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/generated/environment_variables_run.py
  client/python/openlineage/client/transport/transport.py
  client/python/openlineage/client/utils.py
  client/python/redact_fields.yml
  client/python/tests/test_client.py
  client/python/tests/test_utils.py
  spec/facets/EnvironmentVariablesRunFacet.json
  website/docs/client/python.md
  website/docs/spec/facets/run-facets/environment_variables.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/static/spec/facets/1-0-0/EnvironmentVariablesRunFacet.json
Labels: area:documentation, area:ci, area:spec, area:client/python, area:tests, language:python

#3221 ci: add assertions for format in test events.
  .pre-commit-config.yaml
  .pre_commit/json-schema/test-facets.sh
  spec/tests/EnvironmentVariablesRunFacet/1.json
  spec/tests/NominalTimeRunFacet/1.json
Labels: area:ci, area:spec, area:tests

#3215 docs: fix outdated Spark-related docs
  website/blog/openlineage-spark/index.mdx
  website/docs/guides/spark.md
Labels: area:documentation

#3167 spark: Update Dataproc run facet to include runType property
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GcpRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/GCPUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/GCPUtilsTest.java
  spec/registry/gcp/dataproc/facets/GcpDataprocRunFacet.json
  spec/registry/gcp/dataproc/registry.json
  spec/registry/gcp/lineage/registry.json
Labels: area:integration/spark, area:spec, area:tests, language:java

#3205 Move http transport to httpclient5, move kinesis to separate module, update Flink integration's structure
  .circleci/continue_config.yml
  client/java/build.gradle
  client/java/settings.gradle
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/src/test/java/io/openlineage/client/transports/FileTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/transports-kinesis/README.md
  client/java/transports-kinesis/build.gradle
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisConfig.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransportBuilder.java
  client/java/transports-kinesis/src/main/resources/META-INF.services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
  client/java/transports-s3/build.gradle
  integration/flink/app/build.gradle
  integration/flink/app/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/examples/stateful/gradle.properties
  integration/flink/examples/stateful/gradle/wrapper/gradle-wrapper.jar
  integration/flink/examples/stateful/gradle/wrapper/gradle-wrapper.properties
  integration/flink/examples/stateful/gradlew
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkStoppableApplication.java
  integration/flink/settings.gradle
  integration/flink/shared/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/build.gradle
  integration/spark/buildDependencies.sh
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation, area:integration/spark, area:ci, area:integration/flink, area:client/java, area:tests, language:java

#3225 add build context to flink integration test
  .circleci/workflows/openlineage-flink.yml
Labels: area:ci

#3223 docs: Inject OpenLineage version in documentation
  website/blog/openlineage-spark/index.mdx
  website/docs/client/java/java.md
  website/docs/client/java/partials/s3_transport.md
  website/docs/guides/spark.md
  website/docs/integrations/spark/installation.md
  website/docs/integrations/spark/quickstart/quickstart_local.md
  website/docs/spec/producers.md
  website/docusaurus.config.js
Labels: area:documentation, visual-comparison-required

#3226 Make `from_dict` backwards compatible in Python client.
  client/python/openlineage/client/client.py
  client/python/tests/test_client.py
Labels: area:client/python, area:tests, language:python

#3227 passthrough credentials to Flink build job
  .circleci/continue_config.yml
Labels: area:ci

#3228 [Integration][DBT] Fix compatibility with DBT v1.8
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/no_test_metadata/dbt_project.yml
  integration/common/tests/dbt/no_test_metadata/profiles.yml
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/no_test_metadata/target/manifest.json
  integration/common/tests/dbt/no_test_metadata/target/run_results.json
  integration/common/tests/dbt/test_dbt_local.py
Labels: area:tests, area:integration/common, language:python

#3236 fix: Wrong Scala version in Databricks integration tests configuration.
  .circleci/workflows/openlineage-spark.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/sql/iface-py/script/setup-macos.sh
Labels: area:integration/spark, area:ci, area:integration/sql, area:tests, language:java

#3238 Introduce InputStatisticsInputDatasetFacet
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/redact_fields.yml
  spec/facets/InputStatisticsInputDatasetFacet.json
  website/static/spec/facets/1-0-0/InputStatisticsInputDatasetFacet.json
Labels: area:spec, area:client/python, language:python

#3239 java client: remove TransportType enum
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransport.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/NoopTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Labels: area:client/java, area:tests, language:java

#3237 Fix configurable integration test
  integration/spark/cli/tests/test_failing/example_failing.json
  integration/spark/cli/tests/test_pyspark/example_expected_event_complete.json
  integration/spark/cli/tests/test_pyspark/example_expected_event_start.json
  integration/spark/cli/tests/test_simple/example_expected_event_complete.json
  integration/spark/cli/tests/test_simple/example_expected_event_start.json
Labels: area:integration/spark, area:tests

#3207 Enable building input/output facets from the visitors
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/dataset/DatasetCompositeFacetsBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableRenameCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/DropTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/TruncateTableCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/ExtensionLineageRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2Utils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2UtilsTest.java
  integration/spark/spark31/src/main/java/io/openlineage/spark31/agent/lifecycle/plan/AlterTableDatasetBuilder.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilder.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilderTest.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Labels: area:documentation, area:integration/spark, area:client/java, area:tests, language:java, full-tests

#3241 fix: Clean project before running Databricks integration tests
  .circleci/continue_config.yml
Labels: area:ci

#3234 (proposal): New tags facet for arbitrary metadata
  proposals/3169/tags_facet.md
Labels: area:documentation, kind:proposal

#3242 feature: Upload Databricks integration tests logs
  .circleci/continue_config.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
Labels: area:integration/spark, area:ci, area:tests, language:java

#3244 Spark: Exclude META-INF/*TransportBuilder from Spark Extension Interfaces
  CHANGELOG.md
  integration/spark-extension-interfaces/build.gradle
Labels: area:documentation, area:integration/spark

#3251 added proper databricks configuration to fix Databricks SparkUI issue
  integration/spark/databricks/open-lineage-init-script.sh
  website/docs/integrations/spark/configuration/usage.md
Labels: area:documentation, area:integration/spark

#3253 Enable Delta 3.x version compatibility
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
Labels: area:integration/spark, language:java

#3257 Revert "ci: temporarily remove macos jobs"
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-python.yml
Labels: area:ci

#3262 Update integration version support in README.md
  integration/README.md
Labels: area:documentation

#3240 collect input/output statistics from Spark jobs
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkRddToTableRunningEvent.json
  integration/spark/app/integrations/container/pysparkWordCountWithCliArgsRunningEvent.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkSqlGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  spec/OpenLineage.md
  spec/registry/core/registry.json
Labels: area:documentation, area:integration/spark, area:spec, area:tests, language:java

#3264 [Integration][DBT] Support for CLL in DBT integration
  README.md
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/test_dbt_local.py
Labels: area:documentation, area:tests, area:integration/common, language:python

#3269 fix iceberg vendor build
  integration/spark/vendor/iceberg/build.gradle
Labels: area:integration/spark

#3273 update changelog for 1.25.0 release
  CHANGELOG.md
Labels: area:documentation

#3281 fix query recorder class loading
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLQueryParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLQueryParserTest.java
Labels: area:integration/spark, area:tests, language:java

#3282 fix: Improve deprecation warning about columnLineage.datasetLineageEnabled property
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Labels: area:integration/spark, language:java
