Repository OpenLineage/OpenLineage, pull requests merged in 2024-04, with the labels that each got.

#2545 [FLINK] support flink 1.19.0
  .circleci/workflows/openlineage-flink.yml
  CHANGELOG.md
  integration/flink/examples/stateful/build.gradle
  integration/flink/gradle.properties
  integration/flink/shared/build.gradle
Labels: documentation, ci, integration/flink, tests, streaming

#2549 Drop JFrog Artifactory URLs from Gradle config
  integration/spark-interfaces-scala/build.gradle
  integration/spark/build.gradle
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
Labels: integration/spark

#2546 [SQL] Fix parsing JDBCOptions(table=...) containing subquery
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/JdbcRelationHandlerTest.java
Labels: integration/spark

#2510 sqlparser: update code to conform to upstream sqlparser-rs changes
  integration/airflow/tests/integration/requests/failed_sql_extraction.json
  integration/airflow/tests/integration/tests/airflow/dags/failed_sql_extraction.py
  integration/common/tests/sql/test_parser.py
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/bigquery.rs
  integration/sql/impl/src/dialect.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_alter.rs
  integration/sql/impl/tests/table_lineage/tests_cte.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
  spec/tests/ExtractionErrorRunFacet/1.json
Labels: documentation, integration/airflow, ci, spec, integration/sql, client/java, client/python, tests, common

#2554 Update naming doc structure and sources
  spec/Naming.md
Labels: documentation, spec

#2560 dbt: `dbt-ol` should transparently exit with the same exit code as the child `dbt` process
  integration/dbt/scripts/dbt-ol
Labels: integration/dbt

#2538 spark: add missing relocate snakeyaml incantation
  integration/spark/app/build.gradle
  integration/spark/build.gradle
Labels: integration/spark

#2556 spark, bigquery: support query option on table read
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkBigqueryQueryEnd.json
  integration/spark/app/src/test/java/com/google/cloud/bigquery/connector/common/MockBigQueryClientModule.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MockServerUtils.java
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeInputVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/handlers/JdbcRelationHandler.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/spark3/build.gradle
Labels: integration/spark

#2563 spark,snowflake: support query option via SQL parser
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/vendor/snowflake/build.gradle
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeRelationVisitor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeSaveIntoDataSourceCommandDatasetBuilder.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
Labels: integration/spark

#2566 fix naming markdown links
  spec/Naming.md
Labels: documentation, spec

#2569 CI: Don't cache ./venv in pre-commit step.
  .circleci/continue_config.yml
Labels: ci

#2562 [SPEC] Add fileCount to dataset stats facets
  CHANGELOG.md
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
  client/python/openlineage/client/facet.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OutputStatisticsOutputDatasetFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/shared/src/test/resources/test_data/serde/openlineage-event.json
  proxy/fluentd/events/event_full.json
  proxy/fluentd/events/event_invalid_input_dataset_facet.json
  proxy/fluentd/events/event_invalid_output_dataset_facet.json
  proxy/fluentd/test/plugin/test_parser_openlineage.rb
  spec/facets/DataQualityMetricsInputDatasetFacet.json
  spec/facets/OutputStatisticsOutputDatasetFacet.json
  spec/tests/DataQualityMetricsInputDatasetFacet/1.json
  spec/tests/OutputStatisticsOutputDatasetFacet/1.json
Labels: documentation, proposal, integration/spark, spec, client/java, client/python, proxy

#2557 [Spark] fix memory leak in unknown-facet-listener
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/UnknownEntryFacetListener.java
Labels: documentation, integration/spark

#2564 [COMMON] feat: Add support for SCRIPT type jobs in BigQuery
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/tests/extractors/test_bigquery_extractor.py
  integration/airflow/tests/integration/requests/bigquery.json
  integration/airflow/tests/integration/tests/airflow/dags/bigquery_orders_popular_day_of_week.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/tests/bigquery/script_job_details.json
  integration/common/tests/bigquery/test_bigquery.py
Labels: integration/airflow, integration/bigquery, common, extractor

#2574 Update changelog
  CHANGELOG.md
  dev/get_changes.py
Labels: documentation, dev/ops

#2575 release, quickfix: make spark release job use scala interfaces build in their own release job
  .circleci/continue_config.yml
  integration/spark-interfaces-scala/gradle.properties
  new-version.sh
Labels: ci

#2576 release, quickfix: make spark-interfaces release job build java client itself
  .circleci/continue_config.yml
Labels: ci

#2577 release, ci: return to main directory when building java client in interfaces
  .circleci/continue_config.yml
Labels: ci

#2579 dagster: limit dagster version to 1.6.9.
  integration/dagster/setup.py
Labels: integration/dagster

#2578 [Airflow] Fixed format returned by `airflow.macros.lineage_parent_id`.
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/macros.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/integration/tests/airflow/dags/dbt_dag.py
  integration/airflow/tests/test_macros.py
Labels: documentation, integration/airflow

#2572 [CLIENT] Fix missing pkg_resources module on Python 3.12
  client/python/openlineage/client/transport/kafka.py
  client/python/pyproject.toml
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/tests/conftest.py
  integration/airflow/tests/extractors/test_bigquery_extractor.py
  integration/airflow/tests/extractors/test_dbt_cloud_extractor.py
  integration/airflow/tests/extractors/test_redshift_data_extractor.py
  integration/airflow/tests/extractors/test_sagemaker_extractors.py
  integration/airflow/tests/extractors/test_sftp_extractor.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor_dag.py
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/failed_sql_extraction.py
  integration/airflow/tests/integration/tests/airflow/dags/postgres_orders_popular_day_of_week.py
  integration/airflow/tests/test_utils.py
  integration/dagster/tests/conftest.py
Labels: documentation, integration/airflow, client/python, integration/dagster

#2584 spark: use hashset in column level lineage instead of iterating through linkedlist
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
Labels: integration/spark

#2585 make sure string isn't empty to prevent going out of bounds
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifierUtils.java
Labels: client/java

#2582 Airflow: Add lineage_job_namespace and lineage_job_name macros
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/macros.py
  integration/airflow/openlineage/airflow/plugin.py
  integration/airflow/tests/test_macros.py
Labels: documentation, integration/airflow

#2591 dbt: Propagate the dbt return code also when no OpenLineage events are emitted
  integration/dbt/scripts/dbt-ol
Labels: integration/dbt

#2588 [Spark] fix PMD for test
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/OpenLineageRunEventTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkPropertyFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/CreateViewFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/SparkNodesFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/hooks/JobNameHookTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/JdbcRelationHandlerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RemovePathPatternUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/SparkConfUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/VendorsTest.java
  integration/spark/shared/src/testScala213/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer213Test.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CustomColumnLineageVisitorTestImpl.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/SparkExtensionV1InputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/SparkExtensionV1OutputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CosmosHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionFieldDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/ExtesionDataSourceV2UtilsTest.java
  integration/spark/spark32/src/test/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoDelta11ColumnLineageVisitorTest.java
  integration/spark/spark32/src/test/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoIceberg013ColumnLineageVisitorTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceVisitorDatasetBuilderTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/ReplaceIcebergDataDatasetBuilderTest.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/CreateReplaceInputDatasetBuilderTest.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoDelta24ColumnLineageVisitorTest.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoIceberg13ColumnLineageVisitorTest.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Labels: integration/spark

#2596 [PYTHON] fix: load_config now returns empty dict instead of None when empty file
  client/python/openlineage/client/utils.py
  client/python/tests/test_utils.py
Labels: client/python

#2598 [PROXY] Rename localServerId to messageKey
  proxy/backend/src/main/java/io/openlineage/proxy/ProxyStreamFactory.java
  proxy/backend/src/main/java/io/openlineage/proxy/api/models/KafkaConfig.java
  proxy/backend/src/main/java/io/openlineage/proxy/api/models/KafkaLineageStream.java
Labels: proxy

#2599 spark, snowflake: parse NPE when query option is used and table is empty
  integration/spark/vendor/snowflake/build.gradle
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeRelationVisitor.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
Labels: integration/spark

#2597 [PYTHON] Allow user to set Kafka message key
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
Labels: client/python

#2571 [JAVA] Properly set Kafka messages key
  client/java/src/main/java/io/openlineage/client/transports/KafkaConfig.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransportBuilder.java
  client/java/src/test/java/io/openlineage/client/Events.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
Labels: integration/spark, client/java

#2604 [Python] Add GZIP compression to HttpTransport
  client/python/openlineage/client/transport/http.py
  client/python/tests/config/http.yml
  client/python/tests/test_client.py
  client/python/tests/test_facet.py
  client/python/tests/test_facet_v2.py
  client/python/tests/test_http.py
Labels: client/python

#2603 [Java] Add GZIP compression to HttpTransport
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientUtilsTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/resources/config/http.yaml
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
Labels: integration/spark, integration/flink, client/java, streaming

#2610 Fix pmd for java client
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/metrics/MicrometerProvider.java
  client/java/src/main/java/io/openlineage/client/utils/JdbcUtils.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientUtilsTest.java
  client/java/src/test/java/io/openlineage/client/metrics/MetricsTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/java/io/openlineage/client/utils/JdbcUtilsTest.java
Labels: client/java

#2614 [Java] Render lombok generated methods in javadoc
  client/java/build.gradle
Labels: client/java

#2609 Allow timeout for circuit breakers
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/SimpleMemoryCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/SimpleMemoryCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/CommonCircuitBreakerTest.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreakerTest.java
  client/java/src/test/resources/config/circuitBreaker2.yaml
  client/java/src/test/resources/config/circuitBreaker4.yaml
Labels: documentation, client/java

#2617 [Spark] fix PMD for shared and spark3
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DatabricksEnvironmentFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/CreateViewFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/hooks/JobNameHook.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeInputVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SqlUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/Vendors.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/MergeIntoDeltaColumnLineageVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/IcebergMergeIntoDependencyVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtesionDataSourceV2Utils.java
Labels: integration/spark

#2619 [Airflow] Fix macros docstrings
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/macros.py
Labels: documentation, integration/airflow

#2615 [Client] Remove runId from Kafka messageKey
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
Labels: client/java, client/python

#2620 [Java] Sync Kinesis partitionKey format with Kafka implementation
  client/java/src/main/java/io/openlineage/client/transports/KinesisTransport.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/KinesisTransportTest.java
Labels: client/java

#2628 [JAVA] fix javadoc on main
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
Labels: client/java

#2632 common: force higher version of typing_extensions
  integration/common/setup.cfg
Labels: common

#2533 [SPARK][FLINK] job ownership facet
  CHANGELOG.md
  integration/flink/app/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/app/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/app/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkOpenLineageConfig.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilderTest.java
Labels: documentation, integration/spark, integration/flink, client/java, streaming

#2613 add custom token provider support
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/TokenProvider.java
  client/java/src/main/java/io/openlineage/client/transports/TokenProviderTypeIdResolver.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/FakeTokenProvider.java
Labels: documentation, integration/spark, client/java

#2636 Fix CHANGELOG
  CHANGELOG.md
Labels: documentation

#2638 Update changelog for 1.13.0 release
  CHANGELOG.md
Labels: documentation

#2635 [SPARK] make gradle build less verbose
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/resources/log4j2.properties
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilderTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Labels: integration/spark

#2633 flink: add metrics support
  integration/flink/app/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/app/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/app/src/test/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerTest.java
  integration/flink/app/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/build.gradle
  integration/flink/shared/build.gradle
  integration/flink/shared/src/main/java/io/openlineage/flink/client/Versions.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Labels: integration/spark, integration/flink, streaming

#2644 java, release: fix java 8 required unnecessary cast
  client/java/src/main/java/io/openlineage/client/Clients.java
Labels: client/java

#2645 Update the changelog
  CHANGELOG.md
Labels: documentation

#2532 Python: generate client api docs
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-integration-python.yml
  .pre-commit-config.yaml
  .pre_commit/generate-facets/generate.py
  client/python/.gitignore
  client/python/docs/Makefile
  client/python/docs/conf.py
  client/python/docs/convert.py
  client/python/docs/index.rst
  client/python/docs/make.bat
  client/python/docs/release-api-reference.sh
  client/python/docs/source/openlineage.client.rst
  client/python/pyproject.toml
Labels: ci, client/python, tests

#2649 Remove duplicate entries from the changelog
  CHANGELOG.md
Labels: documentation
