Repository OpenLineage/OpenLineage, pull requests merged in 2024-12, with the labels that each got.

#3290 bump py03, fix warnings in latest rust
  integration/sql/iface-java/src/lib.rs
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/src/lib.rs
  integration/sql/impl/src/dialect.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/tests/test_utils/mod.rs
Labels: area:integration/sql, area:tests, language:rust

#3293 docs: Refresh docs about scheduling Airflow from Spark
  website/docs/integrations/spark/configuration/airflow.md
Labels: area:documentation

#3279 sql: make build script on macos easier to use
  .circleci/continue_config.yml
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/setup-macos.sh
Labels: area:ci, area:integration/sql

#3294 bump micrometer version across whole codebase
  client/java/transports.build.gradle
  integration/flink/app/build.gradle
  integration/flink/shared/build.gradle
  integration/spark/app/build.gradle
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Labels: area:integration/spark, area:integration/flink, area:client/java

#3300 add missing changelog entry
  CHANGELOG.md
Labels: area:documentation

#3301 introduce transform transport
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/CompositeConfig.java
  client/java/src/main/java/io/openlineage/client/transports/EventTransformer.java
  client/java/src/main/java/io/openlineage/client/transports/TransformConfig.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransport.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/TransformTransportException.java
  client/java/src/main/java/io/openlineage/client/transports/TransportConfig.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/TestingEventTransformer.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
  client/java/src/test/resources/config/composite-array.yaml
  client/java/src/test/resources/config/composite-map.yaml
  client/java/src/test/resources/config/transform.yaml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation, area:integration/spark, area:integration/flink, area:client/java, area:tests, language:java

#3307 Add shellcheck to pre-commit. Fix errors.
  .circleci/checksum.sh
  .circleci/get-docker-compose.sh
  .pre-commit-config.yaml
  .pre_commit/json-schema/check-spec.sh
  .pre_commit/json-schema/test-facets.sh
  .pre_commit/run-pmd.sh
  .pre_commit/run-spec-snapshot.sh
  .pre_commit/set-java-version.sh
  integration/airflow/scripts/run-dev-airflow.sh
  integration/airflow/tests/integration/docker/up.sh
  integration/airflow/tests/integration/docker/wait-for-it.sh
  integration/dbt/setup.cfg
  integration/flink/app/src/test/resources/create_cassandra_data.sh
  integration/flink/app/src/test/resources/create_postgres_data.sh
  integration/flink/app/src/test/resources/generate_events.sh
  integration/spark/app/src/test/resources/metastore_psql/init-db.sh
  integration/spark/cli/configurable-test.sh
  integration/spark/docker/wait-for-it.sh
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/script/compile.sh
  integration/sql/iface-java/script/generate_jni_header.sh
  integration/sql/iface-java/src/test/integration/run_test.sh
  integration/sql/iface-py/script/build-macos.sh
  integration/sql/iface-py/script/build.sh
  new-version.sh
  proxy/backend/docker/entrypoint.sh
  proxy/backend/docker/wait-for-it.sh
  proxy/fluentd/docker/entrypoint.sh
  proxy/fluentd/docker/wait-for-it.sh
  website/scripts/build-docs.sh
Labels: area:integration/airflow, area:integration/dbt, area:integration/spark, area:ci, area:integration/flink, area:integration/sql, area:tests, area:proxy

#3305 Parallel event emitting for composite transport
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/CompositeConfig.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation, area:client/java, area:tests, language:java

#3313 Fix: run full-tests in nightly run
  .circleci/config.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_rdd_to_table.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/NameNormalizer.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/NameNormalizerTest.java
Labels: area:integration/spark, area:ci, area:tests, language:java, language:python

#3316 Fix concurrency exception in tests
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/resources/log4j2.properties
Labels: area:integration/spark, area:tests, language:java

#3330 upgdate some dependencies
  integration/flink/app/build.gradle
  integration/flink/buildSrc/build.gradle.kts
  integration/flink/flink115/build.gradle
  integration/flink/flink117/build.gradle
  integration/flink/flink118/build.gradle
  integration/flink/shared/build.gradle
Labels: area:integration/flink

#3320 Update the Airflow+Marquez tutorial in the guides
  website/docs/guides/airflow-quickstart.md
  website/docs/guides/docs/counter-inc-graph.png
  website/docs/guides/docs/counts-detail.png
  website/docs/guides/docs/counts-graph-new-schema.png
  website/docs/guides/docs/marquez-current-lineage-view-job.png
  website/docs/guides/docs/marquez-search.png
  website/docs/guides/docs/sum-data-ops.png
  website/docs/guides/docs/sum-history.png
Labels: area:documentation

#3332 Docs: fix slack links
  CODE_QUALITY_AND_SECURITY.md
  GOVERNANCE.md
  README.md
  website/src/pages/community/index.mdx
  website/src/pages/getting-started/index.mdx
  website/src/pages/home.tsx
Labels: area:documentation

#3336 Website: fix AWS logo and reorder consumers
  website/README.md
  website/static/ecosystem/consumers.tsx
  website/static/img/AWS_logo_RGB.svg
Labels: area:documentation

#3342 Add extra test to verify custom run and job facets are created for application events
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Labels: area:integration/spark, area:tests, language:java

#3343 Fix cached thread pool in circuit breaker
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
Labels: area:client/java, language:java

#3344 typo in transport type
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation

#3346 fix: add version in python sql interface of pyproject.toml
  integration/sql/iface-py/pyproject.toml
  new-version.sh
Labels: area:integration/sql

#3350 [SPARK] Move the GCP-specific code into the vendor projects folder
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/build.gradle
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/api/Vendors.java
  integration/spark/vendor/gcp/README.md
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/GcpVendor.java
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/facets/builder/GcpJobFacetBuilder.java
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/facets/builder/GcpRunFacetBuilder.java
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/lifecycle/plan/GcpEventHandlerFactory.java
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtils.java
  integration/spark/vendor/gcp/src/test/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtilsTest.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#3314 [DBT][Feature] Consume dbt structured logs and report progress in real time
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/utils.py
  integration/common/tests/dbt/structured_logs/dbt_project.yml
  integration/common/tests/dbt/structured_logs/postgres/run/logs/failed_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/run/logs/successful_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/target/manifest.json
  integration/common/tests/dbt/structured_logs/postgres/seed/logs/seed_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/target/manifest.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/logs/snapshot_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/target/manifest.json
  integration/common/tests/dbt/structured_logs/profiles.yml
  integration/common/tests/dbt/structured_logs/snowflake/run/logs/failed_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/snowflake/run/logs/successful_run_logs.jsonl
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/target/manifest.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/logs/seed_logs.jsonl
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/target/manifest.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/logs/snapshot_logs.jsonl
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/target/manifest.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/common/tests/test_utils.py
  integration/dbt/openlineage/dbt/__init__.py
Labels: area:integration/dbt, area:tests, area:integration/common, language:python

#3352 update changelog entries for 1.26.0 release
  CHANGELOG.md
Labels: area:documentation

#3354 remove bumping nonexisting version in dbt integration
  integration/dbt/setup.cfg
Labels: area:integration/dbt

#3319 blog post: Capturing dataset statistics in Apache Spark
  integration/spark/docker-compose.yml
  website/blog/spark-dataset-statistics/index.mdx
Labels: area:integration/spark

#3366 fix: bump version in dbt's utils.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/setup.cfg
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/sql/.bumpversion.cfg
  integration/sql/iface-py/pyproject.toml
Labels: area:integration/sql, area:tests, area:integration/common, language:python

#3361 dataSource facet reconciliation
  spec/tests/DatasourceDatasetFacet/1.json
Labels: area:spec, area:tests

#3360 [Maintain][dbt] Add unit tests for structured logs parsing
  integration/common/tests/dbt/structured_logs/postgres/events/logs/MainReportVersion.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/NodeStart.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/SQLQuery.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_CommandCompleted.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_CommandCompleted.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/tests/test_main.py
Labels: area:integration/dbt, area:tests, area:integration/common, language:python
