Repository OpenLineage/OpenLineage, pull requests merged in 2024-01, with the labels that each got.

#2347 Bump both py03 libraries
  integration/sql/iface-py/Cargo.toml
Labels: integration/sql

#2283 Support Glue catalog in iceberg
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Labels: integration/spark

#2348 [SPARK] support column lineage for merge into on databricks
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/resources/databricks_notebooks/merge_into.py
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanInputDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandEdgeInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandEdgeOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandOutputDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoCommandEdgeColumnLineageBuilder.java
Labels: documentation, integration/spark

#2350 [SPARK] fix removePathPattern behaviour
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatasetIdentifier.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RemovePathPatternUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RemovePathPatternUtilsTest.java
Labels: documentation, integration/spark

#2356 [SPARK] fix vague rdd test
  integration/spark/app/integrations/sparkrdd/1.json
  integration/spark/app/integrations/sparkrdd/2.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/MatchesMapRecursively.java
Labels: integration/spark

#2358 airflow: Add dag_id to task_run_id to avoid duplicates
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/macros.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/tests/test_listener.py
  integration/airflow/tests/test_macros.py
  integration/airflow/tests/test_openlineage_adapter.py
Labels: integration/airflow

#2363 spark: add custom environment facet option description
  integration/spark/README.md
Labels: documentation, integration/spark

#2357 [SPARK] Use ScalaConversionUtils to convert Scala and Java collections.
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/com/google/cloud/bigquery/MockBigQueryRelationProvider.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddColumnsCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddPartitionCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableRenameCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableSetLocationCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/DropTableCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LoadDataCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SnowflakeRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/TruncateTableCommandVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DatabricksEnvironmentFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/UnknownEntryFacetListener.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/AlterTableAddColumnsCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ScalaConversionUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/LogicalPlanRunFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkProcessingEngineFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkPropertyFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkVersionFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DatabricksEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/UnknownEntryFacetListenerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/JdbcRelationHandlerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AlterTableDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/CustomCollectorsUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageExpressionCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/JdbcColumnLineageInputCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/OutputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/visitors/UnionFieldDependencyCollectorTest.java
  integration/spark/spark33/src/test/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceVisitorDatasetBuilderTest.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/CreateReplaceInputDatasetBuilderTest.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoDelta24ColumnLineageVisitorTest.java
  integration/spark/spark35/src/test/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceDatasetBuilderTest.java
Labels: integration/spark

#2360 [SPARK] Fix a type incompatibility in RddExecutionContext between Scala 2.12 and 2.13
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
Labels: integration/spark

#2359 [SPARK] Bump BigQuery version from 0.26.0 to 0.29.0 in /integration/spark
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/com/google/cloud/bigquery/MockBigQueryRelationProvider.java
  integration/spark/app/src/test/java/com/google/cloud/bigquery/connector/common/MockBigQueryClientModule.java
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
Labels: integration/spark

#2364 airflow: Add database information to SnowflakeExtractor
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/tests/extractors/test_snowflake_extractor.py
Labels: integration/airflow, extractor

#2365 [SPARK] Move Spark 3.1 code from the spark3 project
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/build.gradle
  integration/spark/settings.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark31/src/main/java/io/openlineage/spark31/agent/lifecycle/plan/AlterTableDatasetBuilder.java
  integration/spark/spark31/src/test/java/io/openlineage/spark31/agent/lifecycle/plan/AlterTableDatasetBuilderTest.java
  integration/spark/spark31/src/test/resources/io/openlineage/spark/agent/version.properties
Labels: integration/spark

#2361 [SPARK] Support multiple Scala versions `LogicalPlan` implementation
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
Labels: integration/spark

#2366 [FLINK] support flink 1.18
  .circleci/workflows/openlineage-flink.yml
  CHANGELOG.md
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/gradle.properties
Labels: documentation, ci, integration/flink, tests, streaming

#2367 [FLINK] apply spotless plugin on example app
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/examples/stateful/src/main/java/io/openlineage/cassandra/Event.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/common/config/ConfigWrapper.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkCassandraApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkCrashingLineageProviderApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkFailedApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkFakeApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkIcebergApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkIcebergSourceApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkLegacyKafkaApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkSourceWithGenericRecordApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkStatefulApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkStoppableApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/StatefulCounter.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/StreamEnvironment.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/kafka/KafkaClientProvider.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/util/OpenLineageFlinkJobListenerBuilder.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/util/StateUtils.java
Labels: ci, integration/flink, streaming

#2362 [SPARK] include integration test for google storage and RDDs
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkBigqueryInsertEnd.json
  integration/spark/app/integrations/container/pysparkBigqueryInsertStart.json
  integration/spark/app/integrations/container/pysparkBigquerySaveEnd.json
  integration/spark/app/integrations/container/pysparkBigquerySaveStart.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MockServerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/resources/spark_scripts/spark_bigquery.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
Labels: integration/spark

#2373 [AIRFLOW] Add tests for column lineage facet and sql parser
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/tests/extractors/test_sql_extractor.py
Labels: integration/airflow, extractor

#2376 [SPARK] Add Gradle plugins to simplify the build process to support Scala 2.13
  integration/spark/app/build.gradle
  integration/spark/build.gradle
  integration/spark/buildSrc/README.md
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonJavaConfigPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/PrintSourceSetConfigurationPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/Scala213VariantPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/StandardSpotlessPlugin.kt
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
Labels: documentation, integration/spark

#2377 [SPARK] Clean up the individual build.gradle files, in preparation for Scala 2.13 support
  integration/spark/app/build.gradle
  integration/spark/build.gradle
  integration/spark/buildSrc/README.md
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPluginExtension.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonJavaConfigPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/PrintSourceSetConfigurationPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/Scala213VariantPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/Scala213VariantPluginExtension.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/StandardSpotlessPlugin.kt
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
Labels: documentation, integration/spark

#2380 Update the changelog for 1.8.
  CHANGELOG.md
Labels: documentation

#2383 [SPARK] Refactored the gradle plugins to make it easier to define Scala variants per module
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPluginExtension.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/Scala213VariantPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/Scala213VariantPluginExtension.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/ScalaBuildVariant.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/ScalaVariantDelegate.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/ScalaVariantsPlugin.kt
Labels: integration/spark

#2374 ci: approve integration tests
  .circleci/config.yml
  .circleci/workflows/openlineage-integration-airflow.yml
  .circleci/workflows/openlineage-spark.yml
Labels: ci, tests

#2384 [SPARK] Migrated 'shared' module to produce Scala 2.12 and Scala 2.13 variants
  integration/spark/gradle.properties
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DatabricksEnvironmentFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/CatalogTableTestUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
  integration/spark/shared/src/testScala212/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer212Test.java
  integration/spark/shared/src/testScala213/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer213Test.java
Labels: integration/spark

#2385 [SPARK] Migrated 'spark3' module to produce Scala 2.12 and Scala 2.13 variants
  integration/spark/gradle.properties
  integration/spark/spark3/README.md
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceVisitorDatasetBuilderTest.java
Labels: documentation, integration/spark

#2390 [SPARK] Migrated 'spark35' module to produce Scala 2.12 and Scala 2.13 variants
  .circleci/workflows/openlineage-spark.yml
  integration/spark/.gitignore
  integration/spark/app/build.gradle
  integration/spark/gradle.properties
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/column/CreateReplaceInputDatasetBuilderTest.java
  integration/spark/spark35/build.gradle
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Labels: documentation, integration/spark, ci, tests

#2393 [SPARK] fix bigquery test to recreate table every time
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
Labels: integration/spark

#2391 [SPARK] Conform the 'spark2' module to the new build process
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/resources/log4j.properties
  integration/spark/build.gradle
  integration/spark/gradle.properties
  integration/spark/settings.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/ScalaUtils.java
Labels: documentation, integration/spark, ci

#2403 [FLINK] resolve PMD rule violation warnings
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkCassandraApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkSourceWithGenericRecordApplication.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/CassandraSinkVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/IcebergSinkVisitor.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/IcebergSinkWrapper.java
Labels: integration/flink, streaming
