Repository OpenLineage/OpenLineage, pull requests merged in 2024-02, with the labels that each got.

#2409 [FLINK][BUG][ICEBERG] fix IcebergSourceWrapper for iceberg connector 1.17
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/IcebergSourceWrapper.java
Labels: integration/flink, streaming

#2410 [SPARK] JobTypeJobFacet added and used in Spark
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Labels: documentation, integration/spark

#2405 [SPARK] Move Snowflake code into the vendor projects folders
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/build.gradle
  integration/spark/settings.gradle
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/VisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SnowflakeRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/Vendor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/Vendors.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VendorsImpl.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/VendorsTest.java
  integration/spark/vendor/README.md
  integration/spark/vendor/docs/assets/dependency_schema.png
  integration/spark/vendor/snowflake/README.md
  integration/spark/vendor/snowflake/build.gradle
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/Constants.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/SnowflakeVendor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeDataset.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeRelationVisitor.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/SnowflakeVisitorFactory.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeEventHandlerFactory.java
  integration/spark/vendor/snowflake/src/main/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeSaveIntoDataSourceCommandDatasetBuilder.java
  integration/spark/vendor/snowflake/src/test/java/io/openlineage/spark/agent/vendor/snowflake/lifecycle/plan/SnowflakeRelationVisitorTest.java
  integration/spark/vendor/snowflake/src/test/resources/io/openlineage/spark/agent/version.properties
Labels: documentation, integration/spark

#2411 [DBT] Add support for `JobTypeJobFacet` properties.
  CHANGELOG.md
  integration/dbt/scripts/dbt-ol
Labels: documentation, integration/dbt

#2417 [FLINK] support Kafka dynamic table source and sink
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/KafkaSinkWrapper.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapper.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/wrapper/KafkaSinkWrapperTest.java
  integration/flink/src/test/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapperTest.java
Labels: integration/flink, streaming

#2414 [SPARK] Add custom DockerBuild Gradle plugins
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/BuildDockerImageTask.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerBuildPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerBuildPluginExtension.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerImageBuilder.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerManifest.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/MaterialiseDockerfileTask.kt
Labels: integration/spark

#2415 [SPARK] Refactor the CommonConfig Gradle plugin
  integration/spark/app/build.gradle
  integration/spark/build.gradle
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPluginExtension.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/ScalaBuildVariant.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/ScalaVariantDelegate.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/ScalaVariantsPlugin.kt
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Labels: integration/spark

#2418 [FLINK] bump default Flink version to 1.18.1
  .circleci/workflows/openlineage-flink.yml
  CHANGELOG.md
  integration/README.md
  integration/flink/gradle.properties
Labels: documentation, ci, integration/flink, tests, streaming

#2419 [SPARK] Apply the DockerBuild plugin to the 'app' module
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/docker/Dockerfile
  integration/spark/app/docker/manifest.json
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/BuildDockerImageTask.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerBuildPluginExtension.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerImageBuilder.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerImageBuilderDelegate.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerManifest.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/MaterialiseDockerfileTask.kt
Labels: integration/spark, ci

#2406 [Dev] fix contributor stats script and update reqs and readme in dev
  dev/README.md
  dev/get_contributor_stats.py
  dev/requirements.txt
Labels: documentation, dev/ops

#2434 [Airflow] tests: Bump mapped dag required airflow version in integration test
  integration/airflow/tests/integration/test_integration.py
Labels: integration/airflow

#2433 [SPARK] disable spark.logicalPlan by default
  CHANGELOG.md
  integration/spark/README.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
Labels: documentation, integration/spark

#2412 [AIRFLOW] Add support for JobTypeJobFacet properties.
  CHANGELOG.md
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/tests/test_openlineage_adapter.py
Labels: documentation, integration/airflow

#2407 [SPARK] introduce circuit breaker
  CHANGELOG.md
  client/java/README.md
  client/java/pmd-openlineage.xml
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/OpenLineageYaml.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerConfigTypeIdResolver.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerFactory.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolver.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerState.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/NoOpCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/NoOpCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/RuntimeUtils.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/SimpleMemoryCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/SimpleMemoryCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/SimpleMemoryCircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/StaticCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/StaticCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/StaticCircuitBreakerConfig.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifierUtils.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientTest.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientUtilsTest.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/CommonCircuitBreakerTest.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/JavaRuntimeCircuitBreakerTest.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/SimpleMemoryCircuitBreakerTest.java
  client/java/src/test/java/io/openlineage/client/transports/FileTransportTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportTest.java
  client/java/src/test/java/io/openlineage/client/utils/DatasetIdentifierUtilsTest.java
  client/java/src/test/resources/config/circuitBreaker1.yaml
  client/java/src/test/resources/config/circuitBreaker2.yaml
  client/java/src/test/resources/config/circuitBreaker3.yaml
  client/java/src/test/resources/config/circuitBreaker4.yaml
  integration/flink/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/src/main/java/io/openlineage/flink/client/FlinkConfigParser.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  integration/spark/README.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/CircuitBreakerIntegrationTest.java
Labels: documentation, integration/spark, integration/flink, client/java, streaming

#2379 fix/spark-integration-catalog-symlink-without-warehouse
  integration/spark/app/integrations/container/pysparkAlterTableAddColumnsEnd.json
  integration/spark/app/integrations/container/pysparkAlterTableRenameEnd.json
  integration/spark/app/integrations/container/pysparkCTASEnd.json
  integration/spark/app/integrations/container/pysparkCTASStart.json
  integration/spark/app/integrations/container/pysparkCTASWithColumnLineageEnd.json
  integration/spark/app/integrations/container/pysparkCreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkCreateTableStartEvent.json
  integration/spark/app/integrations/container/pysparkDeltaCTASComplete.json
  integration/spark/app/integrations/container/pysparkDeltaSaveAsTableComplete.json
  integration/spark/app/integrations/container/pysparkHiveCompleteEvent.json
  integration/spark/app/integrations/container/pysparkHiveRunningEvent.json
  integration/spark/app/integrations/container/pysparkHiveSelectEndEvent.json
  integration/spark/app/integrations/container/pysparkHiveSelectStartEvent.json
  integration/spark/app/integrations/container/pysparkHiveStartEvent.json
  integration/spark/app/integrations/container/pysparkLoadComplete.json
  integration/spark/app/integrations/container/pysparkLoadStart.json
  integration/spark/app/integrations/container/pysparkOverwriteNameCompleteEvent.json
  integration/spark/app/integrations/container/pysparkOverwriteNameRunningEvent.json
  integration/spark/app/integrations/container/pysparkOverwriteNameStartEvent.json
  integration/spark/app/integrations/container/pysparkTruncateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoDeltaTableStartEvent.json
  integration/spark/app/integrations/container/pysparkV2ReplaceTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkWriteDeltaTableVersionEnd.json
  integration/spark/app/integrations/container/pysparkWriteDeltaTableVersionStart.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
Labels: integration/spark

#2431 spark: don't fail on exception of UnknownEntryFacet creation
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/UnknownEntryFacetListener.java
Labels: integration/spark

#2438 [SPARK] Add change log entries
  CHANGELOG.md
Labels: documentation

#2435 custom circuit breaker loaded with ServiceLoader
  client/java/README.md
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolver.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolverTest.java
Labels: documentation, client/java

#2441 [BUG][PYTHON] Fix issue with append option in file config
  client/python/openlineage/client/transport/file.py
  client/python/tests/test_file.py
Labels: client/python

#2447 [BUG][PYTHON] Fix issue with file config creating additional file
  client/python/openlineage/client/transport/file.py
  client/python/tests/test_file.py
Labels: client/python

#2451 Update TSC
  TECHNICAL_STEERING_COMMITTEE.md
Labels: documentation

#2450 Add d-m-h (Damien Hawes) to COMMITTERS.md
  COMMITTERS.md
Labels: documentation

#2446 [SPARK]Added the capability to publish Scala 2.12 and 2.13 variants of `openlineage-spark`
  .circleci/continue_config.yml
  CHANGELOG.md
  integration/spark/README.md
  integration/spark/app/build.gradle
  integration/spark/build.gradle
Labels: documentation, integration/spark, ci

#2455 spark: use prebuild Spark images from quay.io
  integration/spark/app/build.gradle
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/gradle.properties
Labels: integration/spark

#2456 [SPARK] Extract the Docker image build logic into a separate Gradle project
  integration/spark-docker/.gitignore
  integration/spark-docker/Dockerfile
  integration/spark-docker/README.md
  integration/spark-docker/build.gradle.kts
  integration/spark-docker/gradle/wrapper/gradle-wrapper.jar
  integration/spark-docker/gradle/wrapper/gradle-wrapper.properties
  integration/spark-docker/gradlew
  integration/spark-docker/gradlew.bat
  integration/spark-docker/manifest.json
  integration/spark-docker/settings.gradle.kts
  integration/spark/app/build.gradle
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/BuildDockerImageTask.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerBuildPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerBuildPluginExtension.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerImageBuilder.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/docker/DockerManifest.kt
Labels: documentation, integration/spark

#2449 [DBT] Add a warning log instead of make the job fail in case of failed emit
  integration/dbt/scripts/dbt-ol
Labels: integration/dbt

#2453 Address outputs missing with unity catalog
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Labels: integration/spark

#2452 Docs: update changelog
  CHANGELOG.md
  dev/get_changes.py
Labels: documentation, dev/ops

#2461 [FLINK] add common config gradle plugin
  CHANGELOG.md
  integration/flink/app/build.gradle
  integration/flink/build.gradle
  integration/flink/buildSrc/build.gradle.kts
  integration/flink/buildSrc/gradle/wrapper/gradle-wrapper.jar
  integration/flink/buildSrc/gradle/wrapper/gradle-wrapper.properties
  integration/flink/buildSrc/gradlew
  integration/flink/buildSrc/gradlew.bat
  integration/flink/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/flink/examples/stateful/build.gradle
  integration/flink/flink115/build.gradle
  integration/flink/flink115/src/test/java/io/openlineage/flink/visitor/JdbcSinkVisitorTest.java
  integration/flink/flink115/src/test/java/io/openlineage/flink/visitor/JdbcSourceVisitorTest.java
  integration/flink/flink117/build.gradle
  integration/flink/flink117/src/test/java/io/openlineage/flink/visitor/JdbcSinkVisitorTest.java
  integration/flink/flink117/src/test/java/io/openlineage/flink/visitor/JdbcSourceVisitorTest.java
  integration/flink/shared/build.gradle
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/JdbcSinkVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/JdbcSourceVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/VisitorFactoryImpl.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/JdbcSinkWrapper.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/JdbcSourceWrapper.java
Labels: documentation, integration/flink, streaming

#2471 release: readd sources and javadoc spark jars
  integration/spark/build.gradle
Labels: integration/spark

#2472 [FLINK] bump Flink JDBC connector version to 3.1.2-1.18 for Flink 1.18
  CHANGELOG.md
  integration/flink/app/build.gradle
  integration/flink/build.gradle
  integration/flink/examples/stateful/build.gradle
  integration/flink/flink118/build.gradle
  integration/flink/flink118/src/test/java/io/openlineage/flink/visitor/JdbcSinkVisitorTest.java
  integration/flink/flink118/src/test/java/io/openlineage/flink/visitor/JdbcSourceVisitorTest.java
  integration/flink/settings.gradle
  integration/flink/shared/build.gradle
Labels: documentation, integration/flink, streaming

#2476 [SPARK] move README content to documentation
  integration/spark/README.md
Labels: documentation, integration/spark

#2481 [FLINK] fix failing build
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-flink.yml
  integration/flink/flink115/build.gradle
  integration/flink/flink117/build.gradle
  integration/flink/flink118/build.gradle
  integration/flink/shared/build.gradle
Labels: ci, integration/flink, tests, streaming
