Repository OpenLineage/OpenLineage, pull requests merged in 2024-05, with the labels that each got.

#2655 fix: CI error for clone() in common-sql
  integration/sql/impl/src/context/mod.rs
Labels: integration/sql

#2663 add facet conversion test
  client/java/src/test/java/io/openlineage/client/OpenLineageTest.java
Labels: client/java

#2662 Spark: Add spark_jobDetails facet
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/SparkJobDetailsFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkJobDetailsFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkJobDetailsFacetBuilderTest.java
Labels: integration/spark

#2654 [Docs] Remove duplicate entry in changelog
  CHANGELOG.md
Labels: documentation

#2659 Spark: Drop SparkVersionFacet
  integration/spark/app/integrations/container/pysparkHiveCompleteEvent.json
  integration/spark/app/integrations/container/pysparkHiveOverwriteDirCompleteEvent.json
  integration/spark/app/integrations/container/pysparkHiveOverwriteDirStartEvent.json
  integration/spark/app/integrations/container/pysparkHiveRunningEvent.json
  integration/spark/app/integrations/container/pysparkHiveStartEvent.json
  integration/spark/app/integrations/container/pysparkKafkaAssignReadCompleteEvent.json
  integration/spark/app/integrations/container/pysparkKafkaAssignReadStartEvent.json
  integration/spark/app/integrations/container/pysparkKafkaReadCompleteEvent.json
  integration/spark/app/integrations/container/pysparkKafkaReadStartEvent.json
  integration/spark/app/integrations/container/pysparkKafkaWriteCompleteEvent.json
  integration/spark/app/integrations/container/pysparkKafkaWriteStartEvent.json
  integration/spark/app/integrations/container/pysparkOverwriteNameCompleteEvent.json
  integration/spark/app/integrations/container/pysparkOverwriteNameRunningEvent.json
  integration/spark/app/integrations/container/pysparkOverwriteNameStartEvent.json
  integration/spark/app/integrations/sparksql/1.json
  integration/spark/app/integrations/sparksql/2.json
  integration/spark/app/integrations/sparksql/3.json
  integration/spark/app/integrations/sparksql/4.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/facets/spark/v1/version-facet.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/SparkVersionFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkVersionFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkVersionFacetBuilderTest.java
Labels: integration/spark

#2660 Airflow: Drop old ParentRunFacet key
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/tests/integration/requests/athena.json
  integration/airflow/tests/integration/requests/failing/bash.json
  integration/airflow/tests/test_openlineage_adapter.py
Labels: documentation, integration/airflow

#2671 Add DREMIO to supported dbt profile types
  integration/common/openlineage/common/provider/dbt/processor.py
Labels: common

#2674 Fix : DREMIO to supported dbt profile types
  integration/common/openlineage/common/provider/dbt/processor.py
Labels: common

#2658 [dbt] Support a less ambiguous logic to generate job names.
  integration/common/openlineage/common/provider/dbt/local.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/utils.py
  integration/common/tests/test_utils.py
  integration/dbt/scripts/dbt-ol
Labels: integration/dbt, common

#2661 GreatExpectations: Rename ParentRunFacet key
  integration/common/openlineage/common/provider/great_expectations/action.py
Labels: integration/great-expectations, common

#2482 [FLINK] protobuf support
  CHANGELOG.md
  integration/flink/app/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/app/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/app/src/test/resources/InputEvent.proto
  integration/flink/app/src/test/resources/events/expected_protobuf.json
  integration/flink/app/src/test/resources/events_proto.json
  integration/flink/app/src/test/resources/generate_events.sh
  integration/flink/app/src/test/resources/log4j-console.properties
  integration/flink/app/src/test/resources/log4j.properties
  integration/flink/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/flink/examples/stateful/build.gradle
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkProtobufApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/FlinkSourceWithGenericRecordApplication.java
  integration/flink/examples/stateful/src/main/java/io/openlineage/flink/StatefulProtoCounter.java
  integration/flink/examples/stateful/src/main/proto/InputEvent.proto
  integration/flink/examples/stateful/src/main/proto/OutputEvent.proto
  integration/flink/shared/build.gradle
  integration/flink/shared/src/main/java/io/openlineage/flink/TransformationUtils.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/CheckpointFacet.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/AvroSchemaUtils.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ProtobufFieldResolver.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ProtobufUtils.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/KafkaSinkVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/KafkaSourceVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/KafkaSinkWrapper.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapper.java
  integration/flink/shared/src/test/java/io/openlineage/flink/utils/ProtobufFieldResolverTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/utils/ProtobufUtilsTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/HybridSourceVisitorTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/KafkaSinkVisitorTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/KafkaSourceVisitorTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/wrapper/KafkaSinkWrapperTest.java
  integration/flink/shared/src/test/java/io/openlineage/flink/visitor/wrapper/KafkaSourceWrapperTest.java
  integration/flink/shared/src/test/proto/ProtobufTestEvent.proto
Labels: documentation, integration/flink, streaming

#2676 update to use org.apache.commons.lang3 instead of org.apache.commons.lang
  client/java/src/main/java/io/openlineage/client/utils/ReflectionUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/BigQueryNodeInputVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ReflectionUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RemovePathPatternUtils.java
  integration/spark/shared/src/testScala212/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer212Test.java
  integration/spark/shared/src/testScala213/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer213Test.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandEdgeInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/MergeIntoCommandEdgeOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/AbstractDatabricksHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtesionDataSourceV2Utils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/InMemoryRelationInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandlerTest.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
Labels: integration/spark, client/java

#2679 python: allow relative paths in URI formats for Python facets.
  .pre_commit/generate-facets/templates/validators.jinja2
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/datasource_dataset.py
  client/python/openlineage/client/generated/source_code_location_job.py
Labels: client/python

#2646 spark, glue: add Glue symlink if reading from Glue catalog table
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkConfUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/SparkUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateTableLikeCommandVisitor.java
Labels: integration/spark

#2652 [SPARK] job type facet
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/shared/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/StreamingContextUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/StreamingContextUtilsTest.java
Labels: documentation, integration/spark

#2683 Update the changelog
  .github/pull_request_template.md
  CHANGELOG.md
Labels: documentation

#2684 Fixes in changelog
  CHANGELOG.md
Labels: documentation

#2689 Spark: add nested fields to SchemaDatasetFieldsFacet
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PlanUtilsTest.java
Labels: integration/spark

#2653 [Python] Clean up python client code, add logging.
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/file.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/msk_iam.py
  client/python/openlineage/client/transport/noop.py
  client/python/openlineage/client/utils.py
  client/python/tests/test_client.py
  client/python/tests/test_factory.py
  client/python/tests/test_utils.py
Labels: integration/sql, client/python

#2685 Flink: fix SchemaDatasetFacet for Protobuf repeated primitive types
  integration/flink/app/src/test/resources/events/expected_protobuf.json
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ProtobufFieldResolver.java
  integration/flink/shared/src/test/java/io/openlineage/flink/utils/ProtobufFieldResolverTest.java
  integration/flink/shared/src/test/proto/ProtobufTestEvent.proto
Labels: bug, integration/flink, streaming

#2677 Spark: Add facets to Spark Application events
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CustomEnvironmentVariablesCaptureTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkProcessingEngineRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkProcessingEngineRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkPropertyFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/ExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RemovePathPatternUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkSessionUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkProcessingEngineFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkPropertyFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/hooks/JobNameHookTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RemovePathPatternUtilsTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Labels: integration/spark

#2687 Python: Use UUIDv7 instead of UUIDv4
  NOTICE.txt
  client/python/docs/source/openlineage.client.rst
  client/python/openlineage/client/uuid.py
  client/python/tests/test_client.py
  client/python/tests/test_file.py
  client/python/tests/test_http.py
  client/python/tests/test_msk_iam.py
  client/python/tests/test_uuid.py
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/listener.py
  integration/airflow/openlineage/airflow/macros.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/tests/extractors/test_bigquery_extractor.py
  integration/airflow/tests/extractors/test_dbt_cloud_extractor.py
  integration/airflow/tests/extractors/test_redshift_data_extractor.py
  integration/airflow/tests/integration/tests/airflow/dags/event_order.py
  integration/airflow/tests/test_listener.py
  integration/airflow/tests/test_macros.py
  integration/airflow/tests/test_openlineage_adapter.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/tests/dbt/test_dbt_local.py
  integration/dagster/openlineage/dagster/utils.py
  integration/dagster/tests/conftest.py
  integration/dagster/tests/test_adapter_pipeline.py
  integration/dagster/tests/test_adapter_step.py
  integration/dagster/tests/test_sensor_cursor.py
  integration/dagster/tests/test_sensor_evaluation.py
  integration/dagster/tests/test_utils.py
  integration/dbt/scripts/dbt-ol
Labels: integration/airflow, integration/dbt, integration/great-expectations, client/python, common, integration/dagster

#2686 Java: Use UUIDv7 instead of UUIDv4
  NOTICE.txt
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
  integration/flink/app/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
Labels: integration/spark, integration/flink, client/java, streaming

#2700 fix: Empty dataset name for AthenaExtractor
  integration/airflow/openlineage/airflow/extractors/athena_extractor.py
  integration/airflow/tests/extractors/test_athena_extractor.py
Labels: kind:bug, area:integration/airflow, area:tests, language:python

#2702 Remove needs-triage label from boring-cyborg.yml
  .github/boring-cyborg.yml
Labels: area:dev, state:needs-triage

#2688 Spark: Add SparkApplicationDetailsFacet
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/SparkApplicationDetailsFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilderTest.java
Labels: area:integration/spark

#2703 sql: catch TokenizerErrors, PanicException
  integration/common/openlineage/common/sql/__init__.py
  integration/sql/impl/src/lib.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
Labels: area:integration/sql, area:tests, area:integration/common, language:python, language:rust

#2706 Flink: handle Iceberg tables with nested and complex field types
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/IcebergSchemaUtils.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/IcebergUtils.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/IcebergSinkVisitor.java
  integration/flink/shared/src/main/java/io/openlineage/flink/visitor/IcebergSourceVisitor.java
  integration/flink/shared/src/test/java/io/openlineage/flink/utils/IcebergSchemaUtilsTest.java
Labels: area:integration/flink, area:tests, language:java

#2711 Flink: handle Avro schema with nested and complex field types
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/AvroSchemaUtils.java
  integration/flink/shared/src/test/java/io/openlineage/flink/utils/AvroSchemaUtilsTest.java
Labels: area:integration/flink, area:tests, language:java

#2713 python: suppress warning on importing v1 module in __init__.py.
  client/python/openlineage/client/__init__.py
Labels: area:client/python, language:python

#2693 python: use v2 Python facets
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/extractors/athena_extractor.py
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/extractors/bash_extractor.py
  integration/airflow/openlineage/airflow/extractors/bigquery_extractor.py
  integration/airflow/openlineage/airflow/extractors/converters.py
  integration/airflow/openlineage/airflow/extractors/dbt_cloud_extractor.py
  integration/airflow/openlineage/airflow/extractors/gcs_extractor.py
  integration/airflow/openlineage/airflow/extractors/python_extractor.py
  integration/airflow/openlineage/airflow/extractors/redshift_data_extractor.py
  integration/airflow/openlineage/airflow/extractors/s3_extractor.py
  integration/airflow/openlineage/airflow/extractors/sagemaker_extractors.py
  integration/airflow/openlineage/airflow/extractors/snowflake_extractor.py
  integration/airflow/openlineage/airflow/extractors/sql_check_extractors.py
  integration/airflow/openlineage/airflow/extractors/sql_extractor.py
  integration/airflow/openlineage/airflow/facets.py
  integration/airflow/openlineage/airflow/utils.py
  integration/airflow/tests/extractors/test_athena_extractor.py
  integration/airflow/tests/extractors/test_bash_extractor.py
  integration/airflow/tests/extractors/test_bigquery_extractor.py
  integration/airflow/tests/extractors/test_converters.py
  integration/airflow/tests/extractors/test_dbt_cloud_extractor.py
  integration/airflow/tests/extractors/test_default_extractor.py
  integration/airflow/tests/extractors/test_extractor_manager.py
  integration/airflow/tests/extractors/test_gcs_extractor.py
  integration/airflow/tests/extractors/test_python_extractor.py
  integration/airflow/tests/extractors/test_redshift_data_extractor.py
  integration/airflow/tests/extractors/test_s3_extractor.py
  integration/airflow/tests/extractors/test_sql_extractor.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor.py
  integration/airflow/tests/integration/requests/athena.json
  integration/airflow/tests/integration/requests/mapped_dag.json
  integration/airflow/tests/integration/requests/source_code.json
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/airflow/dags/custom_extractor.py
  integration/airflow/tests/integration/tests/airflow/dags/default.py
  integration/airflow/tests/integration/tests/airflow/dags/event_order.py
  integration/airflow/tests/integration/tests/airflow/dags/failed_sql_extraction.py
  integration/airflow/tests/integration/tests/airflow/dags/greatexpectations_dag.py
  integration/airflow/tests/integration/tests/airflow/dags/mysql_orders_popular_day_of_week.py
  integration/airflow/tests/test_openlineage_adapter.py
  integration/common/openlineage/common/dataset.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/great_expectations/action.py
  integration/common/openlineage/common/provider/redshift_data.py
  integration/common/tests/bigquery/test_bigquery.py
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/test/result.json
  integration/common/tests/great_expectations/test_great_expectations_validation_action.py
  integration/common/tests/test_dataset.py
  integration/dbt/scripts/dbt-ol
Labels: area:integration/airflow, area:integration/dbt, tool:bigquery, area:tests, area:integration/common, language:python

#2714 dbt: add dataset description in documentationdatasetfacet
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/small/target/manifest.json
Labels: area:tests, area:integration/common, language:python

#2710 [Airflow] Remove Airflow < 2.3.0 support
  .circleci/workflows/openlineage-integration-airflow.yml
  integration/airflow/README.md
  integration/airflow/openlineage/airflow/__init__.py
  integration/airflow/openlineage/lineage_backend/__init__.py
  integration/airflow/setup.cfg
  integration/airflow/tests/conftest.py
  integration/airflow/tests/extractors/test_athena_extractor.py
  integration/airflow/tests/extractors/test_bigquery_extractor.py
  integration/airflow/tests/extractors/test_redshift_data_extractor.py
  integration/airflow/tests/extractors/test_sagemaker_extractors.py
  integration/airflow/tests/integration/failures/airflow/dags/hanging_extractor_dag.py
  integration/airflow/tests/integration/failures/docker-compose.yml
  integration/airflow/tests/integration/test_integration.py
  integration/airflow/tests/integration/tests/docker-compose.yml
Labels: area:documentation, area:integration/airflow, area:ci, area:tests, language:python

#2721 Update the changelog
  CHANGELOG.md
Labels: area:documentation

#2725 dbt: bump manifest version
  integration/common/openlineage/common/provider/dbt/cloud.py
Labels: area:integration/common, language:python

#2728 Revise CONTRIBUTORS doc as table of orgs and contributions
  CONTRIBUTORS.md
Labels: area:documentation

#2719 Spark: Add jobType facet to Spark application events
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CustomEnvironmentVariablesCaptureTest.java
Labels: area:integration/spark, area:tests, language:java

#2735 Fix swapped namespace and name in dbt integration.
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/setup.cfg
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/snapshot/result.json
Labels: area:tests, area:integration/common, language:python

#2694 Run pmd checks from pre-commit hooks.
  .circleci/continue_config.yml
  .gitignore
  .pre-commit-config.yaml
  .pre_commit/run-pmd.sh
Labels: area:ci

#2737 Java: Remove deprecated Transport.emit(String)
  client/java/src/main/java/io/openlineage/client/transports/ConsoleTransport.java
  client/java/src/main/java/io/openlineage/client/transports/FileTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
Labels: area:client/java, language:java

#2738 Java: Remove deprecated localServerId option from Kafka config
  client/java/src/main/java/io/openlineage/client/transports/KafkaConfig.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  proxy/backend/src/main/java/io/openlineage/proxy/api/models/KafkaConfig.java
Labels: area:integration/spark, area:client/java, area:tests, area:proxy, language:java

#2739 ci: use uv in Python client tox.
  .circleci/continue_config.yml
  client/python/tox.ini
Labels: area:ci, area:client/python

#2698 [SPARK] verify jar content after build
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/build.gradle
  integration/spark/buildSrc/README.md
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPlugin.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPluginDelegate.kt
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/JarVerificationPluginExtension.kt
  integration/spark/shared/build.gradle
  integration/spark/spark2/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Labels: area:documentation, area:integration/spark, area:ci, language:java

#2741 Spark: Fix historyUrl format
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/SparkApplicationDetailsFacet.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilderTest.java
Labels: area:integration/spark, area:tests, language:java

#2742 Add Atlan as OpenLineage contributor
  CONTRIBUTORS.md
Labels: area:documentation

#2745 [SPARK] fix drop table for Spark 3.4 and higher
  CHANGELOG.md
  integration/spark/app/integrations/container/pysparkDropTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkDropTableEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/V2SessionCatalogHandlerTest.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/DropTableDatasetBuilder.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#2744 spark: make sure debug logging is guarded when it can cause function call
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/CreateReplaceInputDatasetBuilder.java
Labels: area:integration/spark, area:tests, language:java
