Repository OpenLineage/OpenLineage, pull requests merged in 2024-09, with the labels that each got.

#3020 fix: Fix AWS Glue jobs naming for RDD events
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/JobNameBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilderTest.java
Labels: area:integration/spark, area:tests, language:java

#3005 ci: run Java-based pre-commit hooks.
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-always.yml
  .pre-commit-config.yaml
  .pre_commit/run-pmd.sh
  .pre_commit/set-java-version.sh
  client/java/build-cache/gc.properties
Labels: area:ci, area:client/java

#3030 upgrade lombok for java/client
  client/java/build.gradle
Labels: area:client/java

#3023 refresh from OpenLineage/docs
  website/blog/sf-meetup-3/index.mdx
  website/docs/client/java/configuration.md
  website/docs/development/developing/python/api-reference/openlineage.client.md
  website/docs/development/developing/spark/setup.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/flink.md
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/integrations/spark/quickstart/glue_settings.png
  website/docs/integrations/spark/quickstart/quickstart_glue.md
  website/docs/spec/facets/custom-facets.md
Labels: area:documentation

#2944 feat: [sql parser] add support for USE statement with different syntaxes
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/dialect.rs
  integration/sql/impl/src/lib.rs
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/mod.rs
  integration/sql/impl/tests/table_lineage/test_use.rs
Labels: area:integration/sql, area:tests, language:rust

#3032 chore: don't put build-cache in git
  client/java/.gitignore
  client/java/build-cache/gc.properties
Labels: area:client/java

#3033 switch to target repo / switch to target domain
  .github/workflows/website-snapshot.yml
  website/CNAME
  website/docusaurus.config.js
Labels: area:dev

#2999 fix: Support IDENTIFIER function instead of treating it like table name
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
  integration/sql/impl/tests/table_lineage/tests_merge.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
  integration/sql/impl/tests/table_lineage/tests_update.rs
Labels: area:integration/sql, area:tests, language:rust

#3034 Fix environment of github pages deploy actions
  .github/workflows/website-new-version.yml
  .github/workflows/website-snapshot.yml
Labels: area:dev

#3027 ci: close and release sonatype staging repository
  .circleci/continue_config.yml
Labels: area:ci

#3035 fix: add support for SingleQuotedString in Identifier()
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
  integration/sql/impl/tests/table_lineage/tests_merge.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
  integration/sql/impl/tests/table_lineage/tests_update.rs
Labels: area:integration/sql, area:tests, language:rust

#2918 Fix issue with only one table in inputs from sql query while reading from jdbc.
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MultipleTablesInJDBCSparkQueryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SchemaUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergMetadataJsonTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkSqlQueryRecordingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
  integration/spark/app/src/test/resources/queries/with_multiple_tables.sql
  integration/spark/app/src/test/resources/queries/with_one_table.sql
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DatasetFactory.java
Labels: area:integration/spark, area:tests, language:java

#3040 Fix issue with only one table in inputs from sql query while reading …
  integration/spark/app/build.gradle
  integration/spark/buildSrc/build.gradle.kts
Labels: area:integration/spark, area:tests, language:java

#3044 Add script to build Spark dependencies
  integration/spark/buildDependencies.sh
  integration/sql/iface-java/script/compile.sh
  website/docs/development/developing/spark/setup.md
Labels: area:documentation, area:integration/spark, area:integration/sql

#3050 Changelog update
  CHANGELOG.md
Labels: area:documentation

#3051 ci: use nexusPublishing plugin for proxy backend
  .circleci/continue_config.yml
Labels: area:ci

#3052 Fix in changelog
  CHANGELOG.md
Labels: area:documentation

#3054 Python: Do not validate optional attributes.
  .pre_commit/generate-facets/templates/dataclass.jinja2
  .pre_commit/generate-facets/templates/validators.jinja2
  client/python/openlineage/client/generated/datasource_dataset.py
  client/python/openlineage/client/generated/nominal_time_run.py
  client/python/tests/test_facet_v2.py
Labels: area:ci, area:client/python, area:tests, language:python

#3055 Missing release notes and meetup blog post update
  website/blog/sf-meetup-3/index.mdx
  website/docs/releases/1_20_5.md
  website/docs/releases/1_21_1.md
  website/docs/releases/1_22_0.md
Labels: area:documentation, area:website

#3039 Java: Add CompositeTransport.
  client/java/src/main/java/io/openlineage/client/transports/CompositeConfig.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransportBuilder.java
  client/java/src/main/java/io/openlineage/client/transports/TransportConfig.java
  client/java/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
  client/java/src/test/resources/config/composite-array.yaml
  client/java/src/test/resources/config/composite-map.yaml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation, area:integration/spark, area:client/java, area:tests, language:java

#3071 fix slack notification
  .circleci/workflows/openlineage-spark.yml
Labels: area:ci

#3058 doc: add OpenLineage for Spark Connectors doc
  website/docs/guides/spark-connector.md
Labels: area:documentation

#3073 Fix docker container for configurable test
  integration/spark/cli/Dockerfile
Labels: area:integration/spark

#3056 spark: test on latest version 3.5.2
  .circleci/workflows/openlineage-spark.yml
  integration/README.md
  integration/spark-docker/manifest.json
  integration/spark/app/build.gradle
  integration/spark/gradle.properties
  integration/spark/scala-fixtures/build.gradle.kts
  integration/spark/vendor/snowflake/build.gradle
Labels: area:documentation, area:integration/spark, area:ci

#3068 Enhancing plugin's capabilities
  proxy/fluentd/FLUENT_PLUGIN.md
  proxy/fluentd/docker/Dockerfile
  proxy/fluentd/docker/conf/fluent.conf
  proxy/fluentd/docker/docker-compose.yml
Labels: area:documentation, area:proxy

#2962 [SQL-Parser] Filter input tables to only used.
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/mod.rs
  integration/sql/impl/tests/table_lineage/test_alias_resolving.rs
Labels: area:integration/spark, area:integration/sql, area:tests, language:java, language:rust

#3078 common: Suspend Great Expectations tests.
  integration/common/openlineage/common/provider/redshift_data.py
  integration/common/pyproject.toml
  integration/common/setup.cfg
Labels: area:integration/common, language:python

#3062 Update visitors to be able to support table extended sources via extensions.
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanInputDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/AppendDataDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilderTest.java
Labels: area:integration/spark, area:integration/sql, area:tests, language:java

#3043 Add GCP Dataplex transport as separate module
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
  client/java/settings.gradle
  client/java/transports-dataplex/README.md
  client/java/transports-dataplex/build.gradle
  client/java/transports-dataplex/src/main/java/io/openlineage/client/transports/dataplex/DataplexConfig.java
  client/java/transports-dataplex/src/main/java/io/openlineage/client/transports/dataplex/DataplexTransport.java
  client/java/transports-dataplex/src/main/java/io/openlineage/client/transports/dataplex/DataplexTransportBuilder.java
  client/java/transports-dataplex/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-dataplex/src/test/java/io/openlineage/client/transports/dataplex/DataplexTransportTest.java
Labels: area:documentation, area:ci, area:client/java, area:tests, language:java

#3083 Dataplex transport documentation
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation

#3086 Updates python client example
  website/docs/client/python.md
Labels: area:documentation

#3076 fix nightly run
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
  integration/sql/iface-java/script/compile.sh
Labels: area:integration/spark, area:ci, area:integration/sql, area:tests, language:java

#3093 Fix transports-dataplex build
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
Labels: area:ci, area:client/java

#3094 Configure Java client with environment variables.
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/Environment.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/utils/OpenLineageEnvParser.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/utils/OpenLineageEnvParserTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkConfigParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  website/docs/client/java/configuration.md
  website/docs/client/java/partials/java_dynamic_env_vars.md
  website/docusaurus.config.js
Labels: area:documentation, area:integration/spark, area:integration/flink, area:client/java, area:tests, language:java

#3107 Fix issue when column lineage was pointing to cte instead of origin table for complex cte's.
  integration/sql/impl/src/context/mod.rs
  integration/sql/impl/tests/table_lineage/test_alias_resolving.rs
Labels: area:integration/sql, area:tests, language:rust

#3108 Spark - improve test logging
  .circleci/continue_config.yml
  integration/spark/app/build.gradle
  integration/spark/app/src/test/resources/log4j2.properties
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializer.java
Labels: area:integration/spark, area:ci, area:tests, language:java

#3114 Configure Python client with environment variables.
  client/python/openlineage/client/client.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_client.py
  client/python/tests/test_composite.py
  client/python/tests/test_kafka.py
  website/docs/client/java/partials/java_dynamic_env_vars.md
  website/docs/client/python.md
Labels: area:documentation, area:client/python, area:tests, language:python

#3118 docs: Document CompositeTransport in Python.
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Labels: area:documentation

#3116 Python: allow custom headers in HTTP transport
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_http.py
  website/docs/client/python.md
Labels: area:documentation, area:client/python, area:tests, language:python

#3120 fix: Update classes used in column lineage after schema update
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformationInfo.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
Labels: area:integration/spark, area:tests, language:java

#3122 Make OpenLineageClient and Transports AutoCloseable
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/main/java/io/openlineage/client/transports/Transport.java
  client/java/transports-dataplex/src/main/java/io/openlineage/client/transports/dataplex/DataplexTransport.java
  client/java/transports-gcs/src/main/java/io/openlineage/client/transports/gcs/GcsTransport.java
Labels: area:client/java, language:java

#3123 fix: update `integration/airflow/README.md` reference
  integration/airflow/README.md
Labels: area:documentation, area:integration/airflow
