Repository OpenLineage/OpenLineage, pull requests merged in 2024-08, with the labels that each got.

#2898 disable facets unrelated to the test
  integration/spark/app/integrations/container/pysparkHiveOverwriteDirCompleteEvent.json
  integration/spark/app/integrations/container/pysparkHiveOverwriteDirStartEvent.json
  integration/spark/app/src/test/resources/spark_scripts/spark_overwrite_hive.py
Labels: area:integration/spark, area:tests, language:python

#2854 Support Spark 4.0
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/integrations/container/pysparkCreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkCreateTableStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/DatasetBuilderFactoryProvider.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive2Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageHiveTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/resources/spark_scripts/overwrite_appname.py
  integration/spark/build.gradle
  integration/spark/gradle.properties
  integration/spark/settings.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkPropertyFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KafkaMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/NoOpStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/StreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/StreamingDataSourceV2RelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/TopicPartitionProxy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkSessionUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/SparkVersionUtils.java
  integration/spark/spark40/build.gradle
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/StreamingDataSourceV2ScanRelationDatasetBuilder.java
  integration/spark/vendor/snowflake/build.gradle
  integration/sql/iface-java/build.gradle
Labels: area:documentation, area:integration/spark, area:ci, area:integration/sql, area:tests, language:java, language:python

#2900 [SPARK] Extract DatasetIdentifier from extension LineageNode
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
Labels: area:integration/spark, area:tests, language:java

#2908 Detect incorrect java version when compiling
  integration/spark/buildSrc/src/main/kotlin/io/openlineage/gradle/plugin/CommonConfigPlugin.kt
Labels: area:integration/spark

#2909 Upgrade gradle and plugins
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/gradle/wrapper/gradle-wrapper.properties
Labels: area:integration/spark, area:tests, language:java

#2906 Feature/spark/support kinesis source
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SchemaUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/resources/streaming/csvinput/csv0.csv
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/streaming/KinesisReadJob.scala
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/KinesisMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/StreamingDataSourceV2RelationVisitor.java
Labels: area:integration/spark, area:tests, language:scala, language:java

#2904 Proxy config
  proxy/backend/Dockerfile
  proxy/backend/proxy.dev.yml
Labels: area:documentation, area:integration/spark, area:proxy

#2903 Update COMMITTERS.md
  COMMITTERS.md
Labels: area:documentation

#2887 Feature/spark/support mongostream source
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/resources/mongoconf/initializeReplica.js
  integration/spark/app/src/test/resources/mongoconf/insertRecords.js
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/streaming/MongoStreamingJob.scala
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/MongoMicroBatchStreamStrategy.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/StreamingDataSourceV2RelationVisitor.java
Labels: area:integration/spark, area:tests, language:scala, language:java

#2912 feature: New mechanism for disabling facets
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/Clients.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/test/java/io/openlineage/client/transports/FacetsConfigTest.java
  integration/flink/app/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageDeltaTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/facet/builder/LogicalPlanRunFacetBuilderTest.java
  integration/spark/app/src/test/resources/config/openlineage.yml
  integration/spark/app/src/test/resources/spark_scripts/spark_emit_metrics.py
  integration/spark/app/src/test/resources/spark_scripts/spark_facets_disable.py
  integration/spark/app/src/test/resources/spark_scripts/spark_overwrite_hive.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/FacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
Labels: area:integration/spark, area:integration/flink, area:client/java, area:tests, language:java, language:python

#2917 fix: Accept any provider for AWS Glue storage format.
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/CreateTableCommandVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateDataSourceTableCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/CreateHiveTableAsSelectCommandVisitorTest.java
  integration/spark/spark2/src/test/java/io/openlineage/spark2/agent/lifecycle/plan/OptimizedCreateHiveTableAsSelectCommandVisitorTest.java
Labels: area:integration/spark, area:tests, language:java

#2933 dbt: add V6 run_result support
  integration/common/openlineage/common/provider/dbt/cloud.py
  integration/common/openlineage/common/provider/dbt/local.py
Labels: area:integration/common, language:python

#2936 add static code analysis and software composition analysis
  .github/workflows/datadog-sca.yml
  .github/workflows/datadog-static-analysis.yml
Labels: area:dev

#2925 Python: Add CompositeTransport.
  client/python/docs/source/openlineage.client.rst
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/composite.py
  client/python/tests/test_composite.py
Labels: area:client/python, area:tests, language:python

#2934 [SPARK] Extract DatasetIdentifier from SaveIntoDataSourceCommandVisitor options
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
Labels: area:integration/spark, area:tests, language:java

#2943 fix: Properly set ARN in namespace for Iceberg Glue symlinks
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Labels: area:integration/spark, area:tests, language:java

#2946 fix: add Python metadata to SQL parser to fix twine check
  integration/sql/iface-py/README.md
  integration/sql/iface-py/pyproject.toml
Labels: area:documentation, area:integration/sql

#2947 fix, ci: make configurble Spark test use Java 17
  .circleci/continue_config.yml
Labels: area:ci

#2949 fix, ci: non-committers should be able to run build jobs
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-flink.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-spark.yml
Labels: area:ci

#2950 Update the changelog
  CHANGELOG.md
Labels: area:documentation

#2951 fix, ci: explicitely run workflow on versioned tag
  .circleci/config.yml
Labels: area:ci

#2952 fix, ci: explicitely set up all jobs to run on tags
  .circleci/workflows/openlineage-always.yml
  .circleci/workflows/openlineage-flink.yml
  .circleci/workflows/openlineage-integration-publish.yml
  .circleci/workflows/openlineage-java.yml
  .circleci/workflows/openlineage-proxy-backend.yml
  .circleci/workflows/openlineage-proxy-fluentd.yml
  .circleci/workflows/openlineage-python.yml
  .circleci/workflows/openlineage-spark.yml
Labels: area:ci

#2954 ci, fix: Don't add requires to openlineage-always.
  .circleci/config.yml
  .circleci/workflows/openlineage-always.yml
Labels: area:ci

#2963 Changelog fix.
  CHANGELOG.md
Labels: area:documentation

#2964 fix, ci: remove usage of unnecessary build tag on python build
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
Labels: area:ci

#2965 Changelog update.
  CHANGELOG.md
Labels: area:documentation

#2967 ci: build integration-common on tag
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
Labels: area:ci

#2969 Changelog update
  CHANGELOG.md
Labels: area:documentation

#2937 [SPARK] Reading Apache Iceberg data from a filepath, instead of a Spark Catalog, results in no input datasets being present in the OpenLineage event
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergMetadataJsonTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/util/OpenLineageHttpHandler.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/util/StatefulHttpServer.java
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/iceberg/CreateSeedDataJob.scala
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/iceberg/ReadIcebergMetadataJsonOutsideConfiguredCatalogJob.scala
  integration/spark/scala-fixtures/src/main/scala/io/openlineage/spark/iceberg/ReadIcebergMetadataJsonWithoutAConfiguredIcebergCatalog.scala
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DatasetVersionDatasetFacetUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnEndInputDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2ScanRelationOnStartInputDatasetBuilderTest.java
Labels: area:documentation, area:integration/spark, area:ci, area:tests, language:scala, language:java

#2982 [CIRCLE-CI] Optimize CircleCI Cache Keys to Reduce Excessive Storage Use
  .circleci/checksum.sh
  .circleci/continue_config.yml
Labels: area:ci

#2984 fix: Iceberg tables in AWS Glue have slashes instead of dots in symlinks
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Labels: area:integration/spark, area:tests, language:java

#2985 doc: Add naming for AWS Glue tables
  website/docs/spec/naming.md
Labels: area:documentation

#2968 ci: automatically close sonatype staging repo
  .circleci/continue_config.yml
  client/java/build.gradle
  integration/flink/build.gradle
  integration/spark-extension-entrypoint/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/build.gradle
  integration/sql/iface-java/build.gradle
Labels: area:integration/spark, area:ci, area:integration/flink, area:integration/sql, area:client/java

#2983 chore: Update SQL integration code to work with latest sqlparser-rs main
  integration/airflow/tests/integration/requests/failed_sql_extraction.json
  integration/common/tests/sql/test_parser.py
  integration/sql/impl/Cargo.toml
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_cte.rs
  integration/sql/impl/tests/table_lineage/tests_error_handling.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Labels: area:integration/airflow, area:integration/sql, area:tests, area:integration/common, language:python, language:rust

#2989 common: Update snowflake naming for account names and locators.
  integration/common/openlineage/common/provider/snowflake.py
  integration/common/tests/test_snowflake.py
Labels: area:tests, area:integration/common, language:python

#2991 Verify website build
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-website.yml
  website/docusaurus.config.js
Labels: area:ci

#2994 ci: run static analysis on main repo only
  .github/workflows/datadog-sca.yml
  .github/workflows/datadog-static-analysis.yml
Labels: area:dev

#2990 refactor: Minor Spark filters refactor
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/AdaptivePlanEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DatabricksEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/EventFilterUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
Labels: area:integration/spark, language:java

#2995 ci: exclude dependabot from static analysis
  .github/workflows/datadog-sca.yml
  .github/workflows/datadog-static-analysis.yml
Labels: area:dev

#2986 Fix issue with column lineage when using delta merge into command.
  integration/spark/app/integrations/container/deltaMergeCommandVerification.json
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
Labels: area:integration/spark, area:tests, language:java

#2997 Changelog update.
  CHANGELOG.md
Labels: area:documentation

#2998 fix: release sql should depend on compile- jobs, rebuild the shadowJar to depend on native libs
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-java.yml
Labels: area:ci

#2987 [Spec] gcp dataproc facet
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GcpDataprocRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/GcpLineageJobFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GcpJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/GcpRunFacetBuilder.java
  proposals/2161/registry.md
  spec/registry/gcp/dataproc/facets/GcpDataprocSparkRunFacet.json
  spec/registry/gcp/dataproc/registry.json
  spec/registry/gcp/lineage/facets/GcpLineageJobFacet.json
  spec/registry/gcp/lineage/registry.json
Labels: area:documentation, kind:proposal, area:integration/spark, area:spec, language:java

#3001 fix: Fix AWS Glue jobs naming for SQL events
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/ApplicationJobNameProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/ApplicationJobNameResolver.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/AwsGlueApplicationJobNameProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/JobNameBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/OpenLineageAppNameApplicationJobNameProvider.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/naming/SparkApplicationNameApplicationJobNameProvider.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/ApplicationJobNameResolverTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/AwsGlueApplicationJobNameProviderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/JobNameBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/OpenLineageAppNameApplicationJobNameProviderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/naming/SparkApplicationNameApplicationJobNameProviderTest.java
Labels: area:integration/spark, area:tests, language:java

#3004 increse resource class on CI for website check
  .circleci/continue_config.yml
  website/docusaurus.config.js
Labels: area:ci

#3008 Changelog update
  CHANGELOG.md
Labels: area:documentation

#3006 Fix java setting for databricks test
  .circleci/continue_config.yml
Labels: area:ci

#3003 gradle: set group id as per publish plugin recommendation
  client/java/build.gradle
  integration/flink/build.gradle
  integration/spark-extension-entrypoint/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/build.gradle
  integration/sql/iface-java/build.gradle
  proxy/backend/build.gradle
Labels: area:integration/spark, area:integration/flink, area:integration/sql, area:client/java, area:proxy

#3009 Changelog update
  CHANGELOG.md
Labels: area:documentation

#3010 Add option in changes script to get new contributors only
  dev/get_changes.py
Labels: area:dev, language:python

#3011 Fix version snapshot to not override versions
  .github/workflows/website-snapshot.yml
Labels: area:dev

#3002 CI: Group Dependabot MRs
  .github/dependabot.yml
Labels: area:dev
