Repository OpenLineage/OpenLineage, pull requests merged in 2025-05, with the labels that each got.

#3673 [spark] Calling get() on Option.None throws java.util.NoSuchElementEx…
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
Labels: area:integration/spark, language:java

#3672 Java: Add UUIDUtils.generateStaticUUID method
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
  client/python/tests/test_uuid.py
Labels: area:client/java, area:client/python, area:tests, language:java, language:python

#3676 Fix dataset namespace resolvers for flink2
  client/java/src/main/java/io/openlineage/client/dataset/namespace/resolver/DatasetNamespaceCombinedResolver.java
  client/java/src/main/java/io/openlineage/client/dataset/namespace/resolver/PatternMatchingGroupNamespaceResolverBuilder.java
  client/java/src/main/java/io/openlineage/client/dataset/namespace/resolver/PatternNamespaceResolverBuilder.java
  client/java/src/test/java/io/openlineage/client/dataset/namespace/resolver/DatasetNamespaceCombinedResolverTest.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageDatasetExtractor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Labels: area:integration/flink, area:client/java, area:tests, language:java

#3667 [SPARK] Added extra condition to ensure Spark Job Name suffix is extracted
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitorTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
Labels: area:integration/spark, area:tests, language:java

#3679 add few missing release notes in docs
  website/docs/releases/1_29_0.md
  website/docs/releases/1_30_0.md
  website/docs/releases/1_30_1.md
  website/docs/releases/1_31_0.md
Labels: area:documentation

#3650 Support schema facet for Avro
  .circleci/continue_config.yml
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/gradle.properties
  integration/flink/flink2/README.md
  integration/flink/flink2/build.gradle
  integration/flink/flink2/buildFlinkConnectorKafka.sh
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/AvroTypeDatasetFacetVisitorDelegate.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeDatasetFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicListDatasetIdentifierVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/Flink2ContainerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeDatasetFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicListDatasetIdentifierVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitorTest.java
  integration/flink/gradle.properties
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Labels: area:documentation, area:ci, area:integration/flink, area:tests, language:java

#3682 [dbt] forward dbt's returncode
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
Labels: area:integration/dbt, area:tests, area:integration/common, language:python

#3683 [dbt] Handle dbt log file rotation
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
  integration/dbt/openlineage/tests/test_main.py
Labels: area:integration/dbt, area:tests, area:integration/common, language:python

#3684 Changelog for 1.32.1 release
  CHANGELOG.md
  website/docs/releases/1_32_1.md
Labels: area:documentation

#3681 Flink 2 - support jdbc naming
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/JdbcTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/JdbcTableLineageDatasetIdentifierVisitorTest.java
Labels: area:integration/flink, area:tests, language:java

#3686 spark: Broaden getIcebergTable exception catching to ensure columLineage facet is included
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Labels: area:integration/spark, language:java

#3689 Update debug facet information
  website/docs/integrations/spark/configuration/spark_conf.md
  website/docs/integrations/spark/debug_facet.md
  website/docs/integrations/spark/extending.md
  website/docs/integrations/spark/metrics.md
  website/docs/integrations/spark/spark_column_lineage.md
  website/docs/integrations/spark/testing.md
Labels: area:documentation, area:tests

#3688 Spark: Don't swallow all Exceptions in getIcebergTable method
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Labels: area:integration/spark, area:tests, language:java

#3659 spec: add CatalogDatasetFacet
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/redact_fields.yml
  spec/facets/CatalogDatasetFacet.json
  website/static/spec/facets/1-0-0/CatalogDatasetFacet.json
Labels: area:spec, area:client/python, language:python

#3696 DBT: Generate new runId for each start event
  integration/dagster/tests/conftest.py
  integration/dbt/openlineage/dbt/__init__.py
Labels: area:integration/dbt, area:tests, area:integration/dagster, language:python

#3697 feat: Add TransformTransport for Python Client
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/transform/__init__.py
  client/python/openlineage/client/transport/transform/transform.py
  client/python/openlineage/client/transport/transform/transformers/__init__.py
  client/python/openlineage/client/transport/transform/transformers/job_namespace_replace_transformer.py
  client/python/tests/transform/__init__.py
  client/python/tests/transform/test_transform.py
  client/python/tests/transform/transformers/__init__.py
  client/python/tests/transform/transformers/test_job_namespace_replace_transformer.py
  website/docs/client/python.md
Labels: area:documentation, area:client/python, area:tests, language:python

#3700 DBT: Remote empty facets
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/skipped_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
Labels: area:tests, area:integration/common, language:python

#3685 Add Amazon DataZone transport
  .circleci/continue_config.yml
  client/java/settings.gradle
  client/java/transports-datazone/README.md
  client/java/transports-datazone/build.gradle
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneConfig.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransport.java
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportBuilder.java
  client/java/transports-datazone/src/main/resources/META-INF/services/io.openlineage.client.transports.TransportBuilder
  client/java/transports-datazone/src/test/java/io/openlineage/client/testdata/OpenLineageEventsDataHelper.java
  client/java/transports-datazone/src/test/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportTest.java
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/pyproject.toml
  client/python/tests/test_amazon_datazone.py
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Labels: area:documentation, area:ci, area:client/java, area:client/python, area:tests, language:java, language:python

#3695 spark: Implement CatalogDatasetFacet for CatalogHandler
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkRestIcebergIntegrationTest.java
  integration/spark/buildDependencies.sh
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/AwsUtils.java
  integration/spark/spark3/build.gradle
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DropTableVisitor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksDeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DatabricksUnityV2Handler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/DeltaHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/JdbcHandlerTest.java
Labels: area:integration/spark, area:spec, area:client/python, area:tests, language:java, language:python

#3706 feat: Add parent run facet modification to JobNamespaceReplaceTransformer
  client/python/openlineage/client/transport/transform/transformers/job_namespace_replace_transformer.py
  client/python/tests/transform/transformers/test_job_namespace_replace_transformer.py
Labels: area:client/python, area:tests, language:python

#3707 DBT: Do not include database `None` to dataset name
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/tests/dbt/spark/thrift/profiles.yml
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/spark/thrift/target/manifest.json
Labels: area:tests, area:integration/common, language:python

#3708 Changelog for 1.33.0 release
  CHANGELOG.md
  website/docs/releases/1_33_0.md
Labels: area:documentation

#3691 Extract lineage for AWS dynamic frames
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/AwsDynamicFrameIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/app/src/test/resources/spark_scripts/dynamic_frame.py
  integration/spark/app/src/test/resources/test_data/dynamic_data.json
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
Labels: area:documentation, area:integration/spark, area:tests, language:java, language:python

#3717 add new symlink type
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifier.java
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/util/HiveUtils.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/integration/ColumnLevelLineageTests.java
  integration/hive/hive-openlineage-hook/src/test/java/io/openlineage/hive/util/HiveUtilsTest.java
Labels: area:documentation, area:client/java, area:tests, language:java, area:integration/hive

#3720 describe CatalogDatasetFacet on docs site
  website/docs/spec/facets/dataset-facets/catalog.md
  website/docs/spec/facets/dataset-facets/tag-facet.md
Labels: area:documentation

#3725 [DBT] Add processing_engine facet
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/no_test_metadata/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_with_parent_id_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/test/result.json
Labels: area:tests, area:integration/common, language:python

#3730 Add Github stars statistics to Readme
  README.md
Labels: area:documentation
