Repository OpenLineage/OpenLineage, pull requests merged in 2025-03, with the labels that each got.

#3527 Flink2: topic pattern resolving test
  integration/flink/examples/flink2-test-apps/build.gradle
  integration/flink/examples/flink2-test-apps/src/main/avro/io/openlineage/flink/avro/event/InputEvent.avsc
  integration/flink/examples/flink2-test-apps/src/main/avro/io/openlineage/flink/avro/event/OutputEvent.avsc
  integration/flink/examples/flink2-test-apps/src/main/avro/io/openlineage/flink/avro/infrastructure/state/managed/Counter.avsc
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/FlinkTopicPatternApplication.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/StatefulCounter.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/util/StateUtils.java
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/FlinkContainerUtils.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitorTest.java
  integration/flink/flink2/src/test/resources/events.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetKafkaConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
Labels: area:documentation, area:integration/flink, area:tests, language:java

#3530 add tag facet documentation
  website/docs/spec/facets/dataset-facets/tag-facet.md
  website/docs/spec/facets/job-facets/tag-facet.md
  website/docs/spec/facets/run-facets/tag-facet.md
Labels: area:documentation

#3528 Flink2 - include SQL comments in OL events
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenlineageListenerIntegrationTest.java
Labels: area:documentation, area:integration/flink, area:tests, language:java

#3531 Checkpoint facet for Flink2
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/common/config/ConfigWrapper.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/FlinkTopicPatternApplication.java
  integration/flink/examples/flink2-test-apps/src/main/java/io/openlineage/flink/StreamEnvironment.java
  integration/flink/examples/flink2-test-apps/src/main/resources/kafka-consumer.conf
  integration/flink/examples/flink2-test-apps/src/main/resources/kafka-producer.conf
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerFactory.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/ContainerTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/openlineage.yml
  integration/flink/shared/build.gradle
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/restapi/Checkpoints.java
  integration/flink/shared/src/main/java/io/openlineage/flink/tracker/restapi/CheckpointsCounts.java
  integration/flink/shared/src/test/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerTest.java
Labels: area:documentation, area:integration/flink, area:tests, language:java

#3535 [dbt][structured logs] Fix race condition on dbt log file
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Labels: area:integration/common, language:python

#3540 update outdated script
  integration/spark/docker/wait-for-it.sh
Labels: area:integration/spark

#3549 disable shellcheck on wait-for-it when suggestions break the script
  integration/spark/docker/wait-for-it.sh
Labels: area:integration/spark

#3545 [dbt][structured logs] Handle skipped dbt nodes
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/logs/skipped_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/skipped_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Labels: area:tests, area:integration/common, language:python

#3548 Spark - input duplicates for subquery alias
  integration/spark/app/src/test/java/io/openlineage/spark/agent/GoogleCloudIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Labels: area:integration/spark, area:integration/flink, area:tests, language:java, full-tests

#3533 Website: preflight check class in docs
  website/docs/integrations/airflow/default-extractors.md
  website/docs/integrations/airflow/older.md
  website/docs/integrations/airflow/preflight-check-class.md
  website/docs/integrations/airflow/preflight-check-dag.md
Labels: area:documentation

#3552 spark: catch Java 17 add opens exception
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
Labels: area:integration/spark, language:java

#3556 changelog for release 1.30.0
  CHANGELOG.md
Labels: area:documentation

#3562 fix Flink example app versions and version bump
  integration/flink/examples/flink1-test-apps/gradle.properties
  integration/flink/examples/flink2-test-apps/gradle.properties
  new-version.sh
Labels: area:integration/flink, area:tests

#3554 Docs: Update Airflow preflight DAG and fix preflight class
  website/docs/integrations/airflow/preflight-check-class.md
  website/docs/integrations/airflow/preflight-check-dag.md
Labels: area:documentation

#3566 check whether new-version.sh script contains links to proper dirs
  .pre-commit-config.yaml
  .pre_commit/check_version_update_path.sh
Labels: area:ci

#3576 Fix User Tags in Event v2 Events
  client/python/openlineage/client/client.py
  client/python/tests/test_client.py
Labels: area:client/python, area:tests, language:python

#3580 [dbt][structured logs][fix] Read dbt log file incrementally
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/utils.py
  integration/common/tests/test_utils.py
Labels: area:tests, area:integration/common, language:python

#3583 [spark] Fix NPE
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SaveIntoDataSourceCommandVisitor.java
Labels: area:integration/spark, language:java

#3584 Changelog for 1.30.1 release
  CHANGELOG.md
Labels: area:documentation

#3585 remove extra space in changelog
  CHANGELOG.md
Labels: area:documentation

#3586 [Java] Fix Oracle thin JDBC URL normalization
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
Labels: area:client/java, area:tests, language:java

#3588 [CI] Fix run-pmd.sh on non-CI environment
  .pre-commit-config.yaml
  .pre_commit/run-pmd.sh
  .pre_commit/run-spotless.sh
  .pre_commit/set-java-version.sh
Labels: area:ci
