Repository OpenLineage/OpenLineage, pull requests merged in 2025-08, with the labels that each got.

#3947 Fix vendors parsing in SparkOpenLineageConfig
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Labels: area:integration/spark, area:tests, language:java

#3949 [SPARK] Add schema size size limit for column level lineage processing
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtilsTest.java
Labels: area:integration/spark, area:tests, language:java

#3946 Spark - CLL performance improvements
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/Dependency.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformationInfo.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/ColumnLineageConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ColumnLevelLineageUtils.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#3934 Spark 4 - fix context facetory
  integration/spark/app/src/main/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
Labels: area:integration/spark, language:java

#3956 Python: Change gzip compression level in HttpTransport
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/http.py
Labels: area:client/python, language:python

#3860 spark: implement support for WriteDelta, WriteIcebergDelta logical plan nodes
  integration/spark/app/integrations/container/pysparkV2DeleteCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2DeleteMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2MergeIntoTableMorStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateCowStartEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2UpdateMorStartEvent.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLevelLineageIcebergTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilderTest.java
  integration/spark/spark32/src/main/java/io/openlineage/spark32/agent/lifecycle/plan/column/MergeIntoIceberg013ColumnLineageVisitor.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilder.java
  integration/spark/spark34/src/main/java/io/openlineage/spark34/agent/lifecycle/plan/column/MergeIntoIceberg13ColumnLineageVisitor.java
  integration/spark/spark34/src/test/java/io/openlineage/spark34/agent/lifecycle/plan/WriteIcebergDeltaDatasetBuilderTest.java
Labels: area:documentation, area:integration/spark, area:tests, language:java, full-tests

#3961 changelog for release 1.37.0
  CHANGELOG.md
  website/docs/releases/1_37_0.md
Labels: area:documentation

#3963 fix release position on website
  website/docs/releases/1_37_0.md
Labels: area:documentation

#3968 fix: import from facet_v2 and event_v2 instead of directly from generated modules
  .pre-commit-config.yaml
  client/python/openlineage/client/client.py
  client/python/openlineage/client/event_v2.py
  client/python/tests/test_client.py
  client/python/tests/transform/transformers/test_job_namespace_replace_transformer.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/test_processor.py
Labels: area:client/python, area:tests, area:integration/common, language:python

#3974 spark: Adjust tmp dir in integration tests
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
Labels: area:integration/spark, area:tests, language:java

#3976 Fix PMD pre-commit hook for Spark integration
  .pre-commit-config.yaml
  integration/spark/vendor/gcp/src/main/java/io/openlineage/spark/agent/vendor/gcp/util/GCPUtils.java
Labels: area:integration/spark, language:java

#3986 Gcp composer facets
  spec/registry/gcp/composer/facets/GcpComposerJobFacet.json
  spec/registry/gcp/composer/facets/GcpComposerRunFacet.json
  spec/registry/gcp/composer/registry.json
Labels: area:spec

#3983 Python: add fsspec support for FileTransport.
  client/python/openlineage/client/transport/file.py
  client/python/pyproject.toml
  client/python/tests/test_file.py
  client/python/tox.ini
  website/docs/client/python.md
Labels: area:documentation, area:client/python, area:tests, language:python

#3985 Spark: optimize lineage extraction when reading a lot of S3 objects
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilderTest.java
Labels: area:integration/spark, area:tests, language:java

#3999 Revert 3997 python/fix classes generation and bump datamodel-code-generator.
  .pre-commit-config.yaml
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/data_quality_assertions_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/openlineage/client/generated/dataset_type_dataset.py
  client/python/openlineage/client/generated/dataset_version_dataset.py
  client/python/openlineage/client/generated/datasource_dataset.py
  client/python/openlineage/client/generated/documentation_dataset.py
  client/python/openlineage/client/generated/documentation_job.py
  client/python/openlineage/client/generated/environment_variables_run.py
  client/python/openlineage/client/generated/error_message_run.py
  client/python/openlineage/client/generated/external_query_run.py
  client/python/openlineage/client/generated/extraction_error_run.py
  client/python/openlineage/client/generated/input_statistics_input_dataset.py
  client/python/openlineage/client/generated/job_type_job.py
  client/python/openlineage/client/generated/lifecycle_state_change_dataset.py
  client/python/openlineage/client/generated/nominal_time_run.py
  client/python/openlineage/client/generated/output_statistics_output_dataset.py
  client/python/openlineage/client/generated/ownership_dataset.py
  client/python/openlineage/client/generated/ownership_job.py
  client/python/openlineage/client/generated/parent_run.py
  client/python/openlineage/client/generated/processing_engine_run.py
  client/python/openlineage/client/generated/schema_dataset.py
  client/python/openlineage/client/generated/source_code_job.py
  client/python/openlineage/client/generated/source_code_location_job.py
  client/python/openlineage/client/generated/sql_job.py
  client/python/openlineage/client/generated/storage_dataset.py
  client/python/openlineage/client/generated/symlinks_dataset.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/openlineage/client/generator/base.py
  client/python/openlineage/client/generator/templates/dataclass.jinja2
  client/python/openlineage/client/generator/templates/validators.jinja2
  client/python/pyproject.toml
Labels: area:client/python, language:python

#4000 Python: allow type aliases
  client/python/openlineage/client/generator/templates/root.jinja2
Labels: area:client/python, language:python

#4001 fix bitnami docker image location
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Labels: area:integration/spark, area:tests, language:java

#4004 [Docs] Update Catalog and Symlinks Dataset Facet Documentation
  website/docs/spec/facets/dataset-facets/catalog.md
  website/docs/spec/facets/dataset-facets/symlinks.md
Labels: area:documentation
