Repository OpenLineage/OpenLineage, pull requests merged in 2025-10, with the labels that each got.

#4060 bump integration common in dbt version
  integration/dbt/pyproject.toml
Labels: area:integration/dbt

#4057 spark: Add missing facets in inputs for Databricks Unity Catalog
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksIntegrationTest.java
  integration/spark/app/src/test/resources/databricks_notebooks/unity_catalog.py
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/DatabricksUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/PathUtilsTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
Labels: area:integration/spark, area:tests, language:java, language:python

#4061 Fix dataset trimming logic for CLL inputs
  client/java/src/main/java/io/openlineage/client/dataset/partition/ReducedDataset.java
  client/java/src/main/java/io/openlineage/client/utils/DatasetIdentifier.java
  client/java/src/test/java/io/openlineage/client/utils/DatasetIdentifierTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/plan/column/ColumnLevelLineageBuilderTest.java
Labels: area:integration/spark, area:client/java, area:tests, language:java

#4065 feature: Update the naming documentation to include MSQL and Spanner which now have OpenLineage support in Apache Airflow
  website/docs/spec/naming.md
Labels: area:documentation
