Repository OpenLineage/OpenLineage, pull requests merged in 2025-09, with the labels that each got.

#4014 Python: Raise errors if custom token provider cannot be loaded
  client/python/openlineage/client/transport/http.py
  client/python/tests/test_client.py
  client/python/tests/test_http.py
  website/docs/integrations/spark/configuration/airflow.md
Labels: area:documentation, area:client/python, area:tests, language:python

#4015 Python: Don't silence import errors in DefaultTransportFactory
  client/python/openlineage/client/transport/factory.py
  client/python/tests/test_factory.py
Labels: area:client/python, area:tests, language:python

#4017 add dbt cloud account id to DbtRunRunFacet
  integration/airflow/openlineage/airflow/extractors/dbt_cloud_extractor.py
  integration/common/openlineage/common/provider/dbt/cloud.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/schema/dbt-run-run-facet.json
Labels: area:integration/airflow, area:integration/common, language:python

#4013 Make output statistics available within complete event
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/JobMetricsHolder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/JobMetricsHolderTest.java
Labels: area:integration/spark, area:tests, language:java, full-tests

#4026 Python: Improve logging in AsyncHttpTransport
  client/python/openlineage/client/transport/async_http.py
Labels: area:client/python, language:python

#4041 fix: pre-commit failing on pygrep
  .pre-commit-config.yaml
Labels: area:ci

#4039 [SPARK] Add gcp_project_id and gcp_location to BigQueryMetastore catalog properties
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Labels: area:integration/spark, area:tests, language:java

#4044 spark: rely on BQ bucket info inside BigQueryIntermediateJobFilter
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/BigQueryIntermediateJobFilterTest.java
Labels: area:integration/spark, area:tests, language:java
