Repository OpenLineage/OpenLineage, pull requests merged in 2025-07, with the labels that each got.

#3834 [website] Add Debezium job naming convention
  website/docs/spec/naming.md
Labels: area:documentation

#3835 [SPARK] Fix missing output's dataset catalog facet when running CTAS queries on Iceberg tables
  integration/spark/app/integrations/container/pysparkV2AppendDataCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableAsSelectCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2CreateTableCompleteEvent.json
  integration/spark/app/integrations/container/pysparkV2OverwriteByExpressionCompleteEvent.json
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark33/src/main/java/io/openlineage/spark33/agent/lifecycle/plan/CreateReplaceDatasetBuilder.java
  integration/spark/spark35/src/main/java/io/openlineage/spark35/agent/lifecycle/plan/CreateReplaceOutputDatasetBuilder.java
Labels: area:integration/spark, language:java, full-tests

#3812 python: async HTTP transport v2
  .circleci/continue_config.yml
  CHANGELOG.md
  client/python/openlineage/client/client.py
  client/python/openlineage/client/event_v2.py
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/catalog_dataset.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/openlineage/client/generated/data_quality_metrics_input_dataset.py
  client/python/openlineage/client/generated/ownership_dataset.py
  client/python/openlineage/client/generated/ownership_job.py
  client/python/openlineage/client/generated/parent_run.py
  client/python/openlineage/client/generated/schema_dataset.py
  client/python/openlineage/client/generated/source_code_location_job.py
  client/python/openlineage/client/generated/symlinks_dataset.py
  client/python/openlineage/client/generator/cli.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/transport/__init__.py
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/openlineage/client/transport/async_http.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/transform/__init__.py
  client/python/openlineage/client/transport/transport.py
  client/python/openlineage/client/utils.py
  client/python/pyproject.toml
  client/python/tests/config/test-transport.yaml
  client/python/tests/conftest.py
  client/python/tests/fixtures/events.py
  client/python/tests/fixtures/mock_responses.py
  client/python/tests/generator/test_base.py
  client/python/tests/generator/test_cli.py
  client/python/tests/integration/docker-compose.yml
  client/python/tests/integration/test_server/Dockerfile
  client/python/tests/integration/test_server/requirements.txt
  client/python/tests/integration/test_server/test_server.py
  client/python/tests/test_amazon_datazone.py
  client/python/tests/test_async_http.py
  client/python/tests/test_client.py
  client/python/tests/test_composite.py
  client/python/tests/test_facet.py
  client/python/tests/test_facet_v2.py
  client/python/tests/test_factory.py
  client/python/tests/test_http.py
  client/python/tests/test_http_integration.py
  client/python/tests/test_kafka.py
  client/python/tests/test_msk_iam.py
  client/python/tests/transform/test_transform.py
  integration/airflow/pyproject.toml
  integration/airflow/tests/integration/server/app.py
  integration/dbt/openlineage/dbt/__init__.py
  website/docs/client/python.md
Labels: area:documentation, area:ci, area:client/python, area:tests, language:python

#3829 feat: Add continue_on_success and sorting transport in CompositeTransport
  client/python/openlineage/client/__init__.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/factory.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_client.py
  client/python/tests/test_composite.py
  client/python/tests/test_factory.py
  website/docs/client/python.md
Labels: area:documentation, area:client/python, area:tests, language:python

#3841 [Java] Make CompositeTransport.close() more reliable
  client/java/src/main/java/io/openlineage/client/transports/CompositeTransport.java
  client/java/src/test/java/io/openlineage/client/transports/CompositeTransportTest.java
Labels: area:client/java, area:tests, language:java

#3839 [Java] Cover OpenLineageClient.close() with tests
  client/java/src/main/java/io/openlineage/client/OpenLineageClient.java
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
  client/java/src/test/java/io/openlineage/client/OpenLineageClientTest.java
Labels: area:integration/spark, area:client/java, area:tests, language:java

#3838 [Python] Implement KafkaTransport.wait_for_completion() and .close()
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
Labels: area:client/python, area:tests, language:python

#3858 [Spark] Use Hive as default Iceberg catalog implementation
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
Labels: area:integration/spark, language:java

#3856 [SPARK] Replace weak hash-map with a map with weak keys and entries
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Labels: area:integration/spark, language:java, full-tests

#3843 [Python] Reuse requests.Session() in sync HttpTransport
  client/python/openlineage/client/transport/http.py
  client/python/tests/conftest.py
  client/python/tests/test_facet_v2.py
  client/python/tests/test_http.py
Labels: area:client/python, area:tests, language:python, full-tests

#3861 [Spark] Support delta 3.3.2
  integration/spark/app/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/DeltaEventFilter.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/DeltaEventFilterTest.java
Labels: area:integration/spark, area:tests, language:java

#3871 Delta merge with column
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Labels: area:integration/spark, area:tests, language:java

#3836 more resiliency for missing dbt nodes
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
  integration/dbt/openlineage/dbt/__init__.py
Labels: area:integration/dbt, area:tests, area:integration/common, language:python

#3848 [Spark] Include spark_applicationDetails facet to all START events
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilder.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/SparkApplicationDetailsFacetBuilderTest.java
Labels: area:integration/spark, area:tests, language:java

#3857 [Python][Java] Implement Transport.close() for Datazone and Kinesis
  client/java/transports-datazone/src/main/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransport.java
  client/java/transports-datazone/src/test/java/io/openlineage/client/transports/datazone/AmazonDataZoneTransportTest.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
  client/python/openlineage/client/transport/amazon_datazone.py
  client/python/tests/test_amazon_datazone.py
Labels: area:client/java, area:client/python, area:tests, language:java, language:python

#3849 [Airflow] Send pending events after Airflow DAG is finished
  integration/airflow/openlineage/airflow/adapter.py
  integration/airflow/openlineage/airflow/listener.py
  integration/dbt/openlineage/dbt/__init__.py
Labels: area:integration/airflow, area:integration/dbt, language:python

#3887 nit: fix composite transport logging of multiple transports
  client/python/openlineage/client/transport/composite.py
Labels: area:client/python, language:python

#3888 Changelog for 1.35.0 release
  CHANGELOG.md
  website/docs/releases/1_35_0.md
Labels: area:documentation

#3889 Fix filenames for windows users
  integration/spark/app/src/test/resources/debug/dates/part-00000.csv
  integration/spark/app/src/test/resources/debug/orders/part-00000.csv
Labels: area:integration/spark, area:tests

#3869 website: Documentation for compatibility tests
  website/docs/integrations/openlineage_compatibility/_category_.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/_category_.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/compatibility_test.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/_category_.json
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/contributing.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_consumer.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_consumer_scenario.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_input_events.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_producer.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/contributing/new_producer_scenario.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/reusable_actions_and_common_scripts.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/structure.md
  website/docs/integrations/openlineage_compatibility/compatibility_test/test_workflows.md
  website/docs/integrations/openlineage_compatibility/openlineage_compatibility.md
Labels: area:documentation, area:tests

#3894 fix dbt version
  integration/dbt/pyproject.toml
  integration/dbt/setup.cfg
Labels: area:integration/dbt

#3902 Make visitors stateless - avoid memory leak
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/BaseVisitorFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
Labels: area:documentation, area:integration/spark, area:tests, language:java, full-tests

#3901 nit: improve comments and add some tests
  client/python/openlineage/client/client.py
  client/python/tests/test_client.py
Labels: area:client/python, area:tests, language:python

#3851 [Spark] Close OpenLineageClient in onApplicationEnd
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkAgentTestExtension.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkTestUtils.java
Labels: area:integration/spark, area:tests, language:java, full-tests

#3908 retry exception on empty row
  integration/airflow/tests/integration/test_integration.py
Labels: area:integration/airflow, area:tests, language:python

#3907 Bump minor Spark versions: 3.4.3 -> 3.4.4, 3.5.4 -> 3.5.6
  .circleci/workflows/openlineage-spark.yml
  CHANGELOG.md
  integration/spark-docker/manifest.json
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkDeltaIntegrationTest.java
  integration/spark/gradle.properties
  integration/spark/scala-fixtures/build.gradle.kts
  integration/spark/vendor/snowflake/build.gradle
Labels: area:documentation, area:integration/spark, area:ci, area:tests, language:java, full-tests

#3911 Fix spark version for databricks test
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Labels: area:integration/spark, area:ci, area:tests, language:java

#3914 Add memory info to debug facet
  CHANGELOG.md
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventTimeoutExecutor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializerTest.java
  website/docs/integrations/spark/debug_facet.md
Labels: area:documentation, area:integration/spark, area:tests, language:java

#3915 Flink integration: connector of type kafka-upsert wasn't identifying kafka topics correctly
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTableLineageDatasetIdentifierVisitorTest.java
Labels: area:integration/flink, area:tests, language:java

#3909 Refactor iceberg handler
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/TableContentChangeDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BaseCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/BigQueryMetastoreCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/GlueCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HadoopCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/HiveCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/IcebergHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/NessieCatalogTypeHandler.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/iceberg/RestCatalogTypeHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3Test.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Labels: area:integration/spark, area:tests, language:java

#3918 dbt: query id capture in structured logs
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
Labels: area:tests, area:integration/common, language:python

#3921 spark: add new AlterTableCommandDatasetBuilder for spark40
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/spark40/src/main/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilder.java
  integration/spark/spark40/src/test/java/io/openlineage/spark40/agent/lifecycle/plan/AlterTableCommandDatasetBuilderTest.java
  integration/spark/spark40/src/test/resources/io/openlineage/spark/agent/version.properties
Labels: area:integration/spark, area:tests, language:java

#3916 dbt: more telemetry, fix quadratic file reading
  client/python/openlineage/client/transport/async_http.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/utils.py
  integration/dbt/openlineage/dbt/__init__.py
Labels: area:integration/dbt, area:client/python, area:integration/common, language:python

#3924 changelog for release 1.36.0
  CHANGELOG.md
  website/docs/releases/1_36_0.md
Labels: area:documentation

#3928 Fix commit authors in 1.36.0 changelog
  CHANGELOG.md
  website/docs/releases/1_36_0.md
Labels: area:documentation

#3927 spark: re-enable SparkScalaContainerTest for spark40
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
Labels: area:integration/spark, area:tests, language:java

#3923 feat: add Jackson Blackbird module for JSON performance optimization
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/OpenLineageClientUtils.java
Labels: area:client/java, language:java

#3925 Add support for spark 4 in SparkStreamingTest integration tests
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ColumnLineageIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive2Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/MetastoreHive3Test.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/Spark4CompatUtils.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkStreamingTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/facet/builder/LogicalPlanRunFacetBuilderTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LogicalPlanSerializerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/KustoRelationVisitorTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/plan/SQLDWDatabricksVisitorTest.java
  integration/spark/buildSrc/build.gradle.kts
  integration/spark/shared/build.gradle
  integration/spark/spark3/build.gradle
  integration/spark/spark31/build.gradle
  integration/spark/spark32/build.gradle
  integration/spark/spark33/build.gradle
  integration/spark/spark34/build.gradle
  integration/spark/spark35/build.gradle
  integration/spark/spark40/build.gradle
  integration/spark/vendor/gcp/build.gradle
  integration/spark/vendor/iceberg/build.gradle
  integration/spark/vendor/snowflake/build.gradle
Labels: area:integration/spark, area:tests, language:java
