Repository OpenLineage/OpenLineage, pull requests merged in 2025-06, with the labels that each got.

#3742 Prettify Flink JSON event examples
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
Labels: area:integration/flink, area:tests

#3743 Prettify DBT JSON event examples
  integration/common/openlineage/common/schema/dbt-version-run-facet.json
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/env_vars/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/test/result.json
Labels: area:tests, area:integration/common

#3744 [Flink] Add facet with Flink jobId
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink1/src/test/resources/events/expected_cassandra.json
  integration/flink/flink1/src/test/resources/events/expected_failed.json
  integration/flink/flink1/src/test/resources/events/expected_flink_conf.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg.json
  integration/flink/flink1/src/test/resources/events/expected_iceberg_source.json
  integration/flink/flink1/src/test/resources/events/expected_jdbc.json
  integration/flink/flink1/src/test/resources/events/expected_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_checkpoints.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_generic_record.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_multi_topic_sink.json
  integration/flink/flink1/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka.json
  integration/flink/flink1/src/test/resources/events/expected_legacy_kafka_topic_pattern.json
  integration/flink/flink1/src/test/resources/events/expected_protobuf.json
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern.json
  integration/flink/flink2/src/test/resources/events/expected_kafka_topic_pattern_checkpoint.json
  integration/flink/flink2/src/test/resources/events/expected_sql_kafka.json
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/facets/FlinkJobDetailsFacet.java
Labels: area:integration/flink, area:tests, language:java

#3739 [DBT] Initial support for Clickhouse
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/dbt/README.md
  website/docs/integrations/dbt.md
Labels: area:documentation, area:integration/dbt, area:integration/common, language:python

#3751 [spark] Update Spark 4 dependency to 4.0.0 (remove -preview1 suffix)
  integration/spark/spark40/build.gradle
Labels: area:integration/spark, full-tests

#3752 [Docs] Add documentation for some facets
  spec/registry/core/registry.json
  spec/tests/DatasetTypeDatasetFacet/1.json
  website/docs/spec/facets/dataset-facets/catalog.md
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
  website/docs/spec/facets/dataset-facets/data_quality_assertions.md
  website/docs/spec/facets/dataset-facets/data_source.md
  website/docs/spec/facets/dataset-facets/documentation.md
  website/docs/spec/facets/dataset-facets/lifecycle_state_change.md
  website/docs/spec/facets/dataset-facets/ownership.md
  website/docs/spec/facets/dataset-facets/schema.md
  website/docs/spec/facets/dataset-facets/storage.md
  website/docs/spec/facets/dataset-facets/symlinks.md
  website/docs/spec/facets/dataset-facets/type.md
  website/docs/spec/facets/dataset-facets/version_facet.md
  website/docs/spec/facets/job-facets/job-type.md
  website/docs/spec/facets/job-facets/ownership.md
  website/docs/spec/facets/job-facets/source-code-location.md
  website/docs/spec/facets/job-facets/source-code.md
  website/docs/spec/facets/job-facets/sql.md
  website/docs/spec/facets/run-facets/environment_variables.md
  website/docs/spec/facets/run-facets/error_message.md
  website/docs/spec/facets/run-facets/external_query.md
  website/docs/spec/facets/run-facets/extraction_error.md
  website/docs/spec/facets/run-facets/nominal_time.md
  website/docs/spec/facets/run-facets/parent_run.md
  website/docs/spec/facets/run-facets/processing_engine.md
  website/docs/spec/facets/run-facets/tag-facet.md
Labels: area:documentation, area:spec, area:tests

#3069 Tweak the Maven signing config
  client/java/build.gradle
Labels: area:client/java

#3738 [DBT] Add DbtRun facet
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/schema/dbt-run-run-facet.json
  integration/common/tests/dbt/build/result.json
  integration/common/tests/dbt/catalog/result.json
  integration/common/tests/dbt/compiled_code/result.json
  integration/common/tests/dbt/duckdb/result.json
  integration/common/tests/dbt/fail/result.json
  integration/common/tests/dbt/large/result.json
  integration/common/tests/dbt/postgres/result.json
  integration/common/tests/dbt/profiles/result.json
  integration/common/tests/dbt/small/result.json
  integration/common/tests/dbt/snapshot/result.json
  integration/common/tests/dbt/spark/odbc/result.json
  integration/common/tests/dbt/spark/thrift/result.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/events/logs/MainReportVersion.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/NodeStart.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/SQLQuery.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/missing_command_completed.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/skipped_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_CommandCompleted.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_SQLQueryStatus.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/missing_command_completed_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/skipped_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_with_parent_id_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/test/result.json
Labels: area:tests, area:integration/common, language:python

#3754 [Java] Speedup generateNewUUID
  client/java/src/main/java/io/openlineage/client/utils/UUIDUtils.java
  client/java/src/test/java/io/openlineage/client/utils/UUIDUtilsTest.java
Labels: area:client/java, area:tests, language:java

#3760 [spark] Add support for Big Query Metastore catalog type
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandler.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/IcebergHandlerTest.java
Labels: area:integration/spark, language:java

#3715 [SPARK] Smart debug facet
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/EventEmitter.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkContainerIntegrationTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkScalaContainerTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/app/src/test/resources/spark_scripts/spark_smart_debug.py
  integration/spark/cli/spark-conf.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/DebugRunFacet.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegate.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializer.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/FacetUtils.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/DebugConfig.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageRunStatus.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/DebugRunFacetBuilderDelegateTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/serializer/DebugRunFacetSerializerTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/FacetUtilsTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/api/DebugConfigTest.java
  website/docs/integrations/spark/debug_facet.md
Labels: area:documentation, area:integration/spark, area:tests, language:java, language:python, full-tests

#3773 [Spark] Fix missing table path in InsertIntoHadoopFsRelationCommand
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
Labels: area:integration/spark, language:java

#3778 Github: mark Hive PRs with proper label
  .github/boring-cyborg.yml
Labels: area:dev

#3776 chore: Use attr.define instead of attr.s
  .pre-commit-config.yaml
  client/python/openlineage/client/client.py
  client/python/openlineage/client/facets.py
  client/python/openlineage/client/filter.py
  client/python/openlineage/client/tags.py
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/http.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/msk_iam.py
  client/python/openlineage/client/transport/transform/transform.py
  client/python/openlineage/client/transport/transport.py
  client/python/tests/test_events.py
  client/python/tests/test_facet.py
  client/python/tests/test_facet_v2.py
  client/python/tests/transform/test_transform.py
  integration/airflow/openlineage/airflow/extractors/base.py
  integration/airflow/openlineage/airflow/facets.py
  integration/airflow/tests/extractors/test_default_extractor.py
  integration/airflow/tests/integration/tests/airflow/dags/default.py
  integration/airflow/tests/test_facets.py
  integration/common/openlineage/common/provider/bigquery.py
  integration/common/openlineage/common/provider/dbt/facets.py
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/great_expectations/facets.py
  integration/common/openlineage/common/provider/great_expectations/results.py
  integration/common/openlineage/common/provider/redshift_data.py
  integration/common/tests/bigquery/test_bigquery.py
  integration/common/tests/dbt/test_facets.py
  integration/dagster/openlineage/dagster/cursor.py
  website/docs/integrations/airflow/extractors/custom-extractors.md
  website/docs/spec/facets/custom-facets.md
Labels: area:documentation, area:integration/airflow, area:client/python, area:tests, area:integration/common, area:integration/dagster, language:python

#3783 Website: correct Node version in README
  website/README.md
Labels: area:documentation

#3785 [spark] Disable module metadata file generation
  integration/spark-extension-interfaces/build.gradle
Labels: area:integration/spark

#3786 [Hive] Add hive_session facet
  integration/hive/hive-openlineage-hook/build.gradle
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/api/OpenLineageContext.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/EventEmitter.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/client/HiveOpenLineageConfigParser.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/facets/HiveSessionInfoFacet.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/HiveOpenLineageHook.java
  integration/hive/hive-openlineage-hook/src/test/resources/hive-site.xml
  website/docs/integrations/hive/configuration/configuration.md
  website/docs/integrations/hive/installation.md
Labels: language:java, area:integration/hive

#3789 [Hive] Add jobType facet
  integration/hive/hive-openlineage-hook/integrations/container/cllCaseInsensitivityComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllComplexQueryCTEJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllCtasWithJoinsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllIfNotExists.json
  integration/hive/hive-openlineage-hook/integrations/container/cllMultiInsertsComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/cllPartitionedTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSelectStar.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleInsertFromTable.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryExplode.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMasking.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryMultipleIndirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyAggregation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyIdentity.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryOnlyTransform.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryPriorityDirect.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryRank.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedAggregate.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWindowedTransformation.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithCaseWhenConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllSimpleQueryWithIfConditional.json
  integration/hive/hive-openlineage-hook/integrations/container/cllUnionComplete.json
  integration/hive/hive-openlineage-hook/integrations/container/simpleCtasComplete.json
  integration/hive/hive-openlineage-hook/src/main/java/io/openlineage/hive/hooks/Faceting.java
Labels: language:java, area:integration/hive

#3808 run Java SQL tests when building package
  integration/sql/iface-java/script/build.sh
  integration/sql/iface-java/src/test/java/io/openlineage/sql/OpenLineageSqlTest.java
Labels: area:integration/sql, area:tests, language:java

#3796 [DBT] Make invocation_id facet optional
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/common/openlineage/common/provider/dbt/structured_logs.py
Labels: area:integration/common, language:python

#3810 docs: Remove empty Flink page.
  website/docs/integrations/flink.md
Labels: area:documentation

#3799 Flink integration: Fixed a bug incorrectly loading configuration in Event Emitter
  client/java/src/main/java/io/openlineage/client/OpenLineageConfig.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/sql/README.md
Labels: area:documentation, area:integration/flink, area:integration/sql, area:client/java, language:java

#3814 fix new rust formatting warnings
  integration/sql/iface-py/script/build.sh
  integration/sql/impl/src/lineage.rs
  integration/sql/impl/tests/table_lineage/tests_copy.rs
  integration/sql/impl/tests/table_lineage/tests_delete.rs
  integration/sql/impl/tests/table_lineage/tests_merge.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
  integration/sql/impl/tests/table_lineage/tests_update.rs
Labels: area:integration/sql, area:tests, language:rust

#3780 [doc] Document object model for design lineage and static metadata
  website/docs/spec/object-model-dataset-event.svg
  website/docs/spec/object-model-job-event.svg
  website/docs/spec/object-model.md
Labels: area:documentation, area:integration/airflow, area:client/java, area:client/python, area:tests, area:integration/common, area:dev, language:python

#3821 [DOCS]: Update OpenLineage Java circuit breaker documentation
  website/docs/client/java/partials/java_circuit_breaker.md
Labels: area:documentation

#3827 docs: Fix composite transport python docs on continue_on_failure
  website/docs/client/python.md
Labels: area:documentation
