Repository OpenLineage/OpenLineage, pull requests merged in 2025-01, with the labels that each got.

#3368 [feature][sql] Add minimal support for Snowflake LATERAL
  integration/sql/impl/src/visitor.rs
  integration/sql/impl/tests/table_lineage/tests_select.rs
Labels: area:ci, area:integration/sql, area:client/java, area:tests, language:java, language:python, language:rust

#3351 Website: update misc project details and images
  README.md
  doc/before-ol.svg
  doc/lfaidata-project-badge-sandbox-black.png
  doc/openlineage-lfai-logo.png
  doc/scope.svg
  doc/with-ol.svg
  website/docs/before-ol.svg
  website/docs/guides/airflow-quickstart.md
  website/docs/scope.svg
  website/docs/with-ol.svg
Labels: area:documentation

#3370 Docs: fix misc images in docs
  doc/before-ol.svg
  doc/with-ol.svg
  website/docs/before-ol.svg
  website/docs/with-ol.svg
Labels: area:documentation

#3311 Handle errors in parse_assertions for dbt integration
  integration/common/openlineage/common/provider/dbt/processor.py
Labels: area:integration/common, language:python

#3362 [Feature][dbt] Consume dbt structured logs for `test` and `build` commands
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/openlineage/common/test.py
  integration/common/tests/dbt/structured_logs/postgres/build_command/logs/build_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/build_command/target/manifest.json
  integration/common/tests/dbt/structured_logs/postgres/events/logs/failed_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/logs/successful_test_NodeFinished.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/logs/test_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/target/manifest.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Labels: area:integration/dbt, area:tests, area:integration/common, language:python

#3379 Attaching custom facets to RDDExecContext events
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/ContextFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/LibraryTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/StaticExecutionContextFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
Labels: area:integration/spark, area:tests, language:java

#3371 Fix infinite loop in RDD flatten & perf optimization
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/Rdds.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRDDVisitor.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/SqlExecutionRDDVisitor.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/lifecycle/RddsTest.java
Labels: area:integration/spark, area:tests, area:integration/common, language:java, language:python

#3383 Add Datadog to contributors
  CONTRIBUTORS.md
Labels: area:documentation

#3385 Add oleander to contributors
  CONTRIBUTORS.md
Labels: area:documentation

#3387 fix flink ci
  .circleci/continue_config.yml
  integration/flink-native-listener/README.md
  integration/flink-native-listener/buildDependencies.sh
Labels: area:documentation, area:ci

#3391 python: allow to add additional properties in Python client facets.
  .pre_commit/generate-facets/generate.py
  .pre_commit/generate-facets/templates/dataclass.jinja2
  client/python/openlineage/client/generated/base.py
  client/python/openlineage/client/generated/column_lineage_dataset.py
  client/python/pyproject.toml
  client/python/tests/test_facet_v2.py
Labels: area:ci, area:client/python, area:tests, language:python

#3396 Website: new community page with talks
  website/src/pages/community.tsx
  website/src/pages/community/index.mdx
  website/src/pages/ecosystem.tsx
  website/static/img/airflow_summit_v2.png
  website/static/img/boston-meetup.png
  website/static/img/boston_screen.jpg
  website/static/img/buzzwords_2021.png
  website/static/img/buzzwords_2022.png
  website/static/img/buzzwords_2023.png
  website/static/img/data+ai_summit.png
  website/static/img/data_council.png
  website/static/img/data_driven_nyc.png
  website/static/img/github.png
  website/static/img/kafka_summit_v2.png
  website/static/img/london-meetup.png
  website/static/img/newyork-meetup.png
  website/static/img/ocs_2020.png
  website/static/img/oleander_logo_full.svg
  website/static/img/sf-meetup.png
  website/static/img/sf_screen.webp
  website/static/img/slack.png
  website/static/img/toronto-meetup.png
  website/static/img/toronto_screen.png
  website/static/img/tsc_screen.png
  website/static/img/warsaw-meetup.png
  website/static/img/warsaw_screen.png
  website/static/meetups/meetupStrings.tsx
  website/static/talks/talkStrings.tsx
Labels: visual-comparison-required

#3402 include offending class information in WriteToDataSourceV2Visitor
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/WriteToDataSourceV2Visitor.java
Labels: area:integration/spark, language:java

#3397 [Fix][dbt][structured logs] Add `JobType` facet to dbt command's start/end OL event
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/postgres/build_command/results/build_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/events/results/MainReportVersion_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/NodeStart_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/SQLQuery_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/failed_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_SQLQueryStatus_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_test_NodeFinished_OL.yaml
  integration/common/tests/dbt/structured_logs/postgres/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test/results/test_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/failed_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/run/results/successful_run_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/seed/results/seed_ol_events.json
  integration/common/tests/dbt/structured_logs/snowflake/snapshot/results/snapshot_ol_events.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Labels: area:tests, area:integration/common, language:python

#3390 spec: add DatasetTypeDatasetFacet.
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/dataset_type_dataset.py
  client/python/redact_fields.yml
  integration/spark-extension-entrypoint/bin/main/io/openlineage/spark/extension/OpenLineageExtensionProvider.class
  spec/facets/DatasetTypeDatasetFacet.json
  spec/registry/core/registry.json
  website/static/spec/facets/1-0-0/DatasetTypeDatasetFacet.json
Labels: area:spec, area:client/python, language:python

#3406 ci: fix detection of spec changes.
  .pre-commit-config.yaml
  .pre_commit/run-spec-snapshot.sh
Labels: area:ci

#3399 Feature/tags facets v2
  client/python/openlineage/client/facet_v2.py
  client/python/openlineage/client/generated/tags_dataset.py
  client/python/openlineage/client/generated/tags_job.py
  client/python/openlineage/client/generated/tags_run.py
  client/python/redact_fields.yml
  spec/facets/TagsDatasetFacet.json
  spec/facets/TagsJobFacet.json
  spec/facets/TagsRunFacet.json
  spec/tests/TagsDatasetFacet/1.json
  spec/tests/TagsJobFacet/1.json
  spec/tests/TagsRunFacet/1.json
  website/static/spec/facets/1-0-0/TagsDatasetFacet.json
  website/static/spec/facets/1-0-0/TagsJobFacet.json
  website/static/spec/facets/1-0-0/TagsRunFacet.json
Labels: area:spec, area:client/java, area:client/python, area:tests, language:java, language:python

#3412 Use create release notes script.
  .github/workflows/website-new-version.yml
  website/scripts/create_release_notes.py
Labels: area:dev, language:python

#3415 Add docs for creating new facets
  website/docs/spec/schemas.md
Labels: area:documentation

#3413 Spark: fix concurrent jar upload for Databricks nightly run
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksEnvironment.java
Labels: area:integration/spark, area:tests, language:java

#3408 [SPARK] Fix ClassLoader handling for OpenLineageExtensionProvider
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/SparkOpenLineageExtensionVisitorWrapper.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ExtensionClassloader.java
Labels: area:integration/spark, language:java

#3422 update changelog entries for 1.27.0 release
  CHANGELOG.md
Labels: area:documentation

#3423 Bump versions for flink-native-listener.
  integration/flink-native-listener/gradle.properties
  integration/flink-native-listener/src/test/resources/io/openlineage/flink/client/version.properties
  new-version.sh
Labels: area:tests

#3424 add missing link to changelog
  CHANGELOG.md
Labels: area:documentation

#3426 Fix multiline release body.
  .github/workflows/website-new-version.yml
Labels: area:dev

#3425 [SPARK] Modify the OpenLineageSparkListener to have a public, single-argument constructor
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/OpenLineageSparkListenerTest.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#3429 Add initial support for Trino in DBT
  integration/common/openlineage/common/provider/dbt/processor.py
Labels: area:integration/common, language:python

#3432 [dbt][fix][structured logs] Fix parent_run facet of root dbt event
  integration/common/openlineage/common/provider/dbt/utils.py
  integration/common/tests/dbt/structured_logs/postgres/events/results/successful_CommandCompleted_with_parent_id_OL.yaml
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Labels: area:tests, area:integration/common, language:python

#3434 Spark - improve column lineage - detect inputs on complete
  CHANGELOG.md
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark34DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark35DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3DatasetBuilderFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark40DatasetBuilderFactory.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanInputDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnEndDatasetBuilder.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputOnStartDatasetBuilder.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationDatasetBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnEndBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationInputDatasetOnStartBuilderTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/DataSourceV2RelationOutputDatasetBuilderTest.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#3386 Update Spark extension documentation
  website/docs/development/developing/spark/built_in_lineage.md
Labels: area:documentation

#3435 Unsupported catalog should be less verbose
  CHANGELOG.md
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/catalog/CatalogUtils3.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/PlanUtils3.java
Labels: area:documentation, area:integration/spark, language:java

#3433 Website: thumbnails for social links
  website/docs/index.md
  website/src/pages/ecosystem.tsx
  website/src/pages/getting-started/index.mdx
  website/src/pages/home.tsx
  website/src/pages/resources/index.mdx
  website/static/img/docs-thumb.png
  website/static/img/ecosystem-thumb.png
  website/static/img/getting-started-thumb.png
  website/static/img/resources-thumb.png
Labels: area:documentation

#3438 Fix misc meta titles and img
  website/docs/index.md
  website/src/pages/ecosystem.tsx
Labels: area:documentation

#3443 [SPARK] Add direct methods to the OpenLineageContext
  CHANGELOG.md
  integration/spark/app/build.gradle
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
Labels: area:documentation, area:integration/spark, language:java

#3442 [SPARK] configurable node filtering
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/filters/SparkNodesFilterTest.java
  website/docs/client/java/partials/java_namespace_resolver.md
  website/docs/integrations/spark/configuration/spark_conf.md
Labels: area:documentation, area:integration/spark, area:tests, language:java

#3444 Enable SSL context for Java client
  CHANGELOG.md
  client/java/build.gradle
  client/java/src/main/java/io/openlineage/client/transports/HttpConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpSslContextConfig.java
  client/java/src/main/java/io/openlineage/client/transports/HttpTransport.java
  client/java/src/main/resources/log4j.properties
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation, area:client/java, area:tests, language:java

#3437 client: Add task queue based async circuit breaker
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerState.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/ExecutorCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerBuilder.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerTest.java
  website/docs/client/java/partials/java_circuit_breaker.md
Labels: area:documentation, area:client/java, area:tests, language:java

#3446 Fix docs - async circuit breaker.
  website/docs/client/java/partials/java_circuit_breaker.md
Labels: area:documentation

#3447 Add exclude md flag in check_change function
  .circleci/check-changes.sh
  .circleci/config.yml
Labels: area:ci
