Repository OpenLineage/OpenLineage, pull requests merged in 2025-02, with the labels that each got.

#3455 fix docs markdown
  website/docs/client/java/partials/java_namespace_resolver.md
Labels: area:documentation

#3459 Expose TaskQueueCircuitBreaker metrics
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/test/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerTest.java
Labels: area:documentation, area:integration/spark, area:client/java, area:tests, language:java

#3454 update installation section of the docs
  website/docs/integrations/spark/installation.md
Labels: area:documentation

#3462 Fix unreleased task queue circuit breaker
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerFactory.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/CircuitBreakerResolver.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/java/io/openlineage/client/transports/HttpTransportSslContextTest.java
  client/java/src/test/resources/config/circuitBreaker5.yaml
  website/docs/client/java/partials/java_circuit_breaker.md
Labels: area:documentation, area:client/java, area:tests, language:java

#3463 Fix refresh table command visitor
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark32VisitorFactoryImpl.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/filters/SparkNodesFilter.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitor.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/RefreshTableCommandVisitorTest.java
Labels: area:integration/spark, area:tests, language:java

#3464 Enable filtering through transform transport
  client/java/src/main/java/io/openlineage/client/transports/TransformTransport.java
  client/java/src/test/java/io/openlineage/client/transports/TransformTransportTest.java
  website/docs/client/java/partials/java_transport.md
  website/static/ecosystem/consumers.tsx
Labels: area:documentation, area:client/java, area:tests, language:java

#3468 Docs: Fix Java transport headers.
  website/docs/client/java/partials/java_transport.md
Labels: area:documentation

#3469 prepare changelog entries for 1.28.0 release
  CHANGELOG.md
Labels: area:documentation

#3474 Docs: add missing 1.27.0 and 1.28.0 release notes.
  website/docs/releases/1_27_0.md
  website/docs/releases/1_28_0.md
Labels: area:documentation

#3475 Fix 1.28.0 position.
  website/docs/releases/1_28_0.md
Labels: area:documentation

#3477 spark: bump tested version
  .circleci/workflows/openlineage-spark.yml
  integration/spark-docker/manifest.json
  integration/spark/app/build.gradle
  integration/spark/app/src/test/java/io/openlineage/spark/agent/DatabricksDynamicParameter.java
  integration/spark/gradle.properties
  integration/spark/scala-fixtures/build.gradle.kts
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjector.java
  integration/spark/vendor/snowflake/build.gradle
Labels: area:integration/spark, area:ci, area:tests, language:java

#3483 [SPARK] Use all of the underlying classloaders to find `META-INF/services` resources
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/ExtensionClassloader.java
Labels: area:integration/spark, language:java

#3486 [flink] default null job manager address
  .pre_commit/set-java-version.sh
  integration/flink/app/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
Labels: area:ci, area:integration/flink, language:java

#3481 Set java toolchain & fix spark build deps script
  client/java/build.gradle
  integration/spark-extension-interfaces/build.gradle
  integration/spark/buildDependencies.sh
Labels: area:integration/spark, area:client/java

#3488 [dbt][fix][structured logs] Fix `inputs` for dbt tests on sources
  integration/common/openlineage/common/provider/dbt/structured_logs.py
  integration/common/tests/dbt/structured_logs/postgres/test_source/logs/test_source_logs.jsonl
  integration/common/tests/dbt/structured_logs/postgres/test_source/results/test_source_ol_events.json
  integration/common/tests/dbt/structured_logs/postgres/test_source/target/manifest.json
  integration/common/tests/dbt/structured_logs/test_structured_logs.py
Labels: area:tests, area:integration/common, language:python

#3487 Async breaker timeout setting is not a real timeout.
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreaker.java
  client/java/src/main/java/io/openlineage/client/circuitBreaker/TaskQueueCircuitBreakerConfig.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/resources/config/circuitBreaker5.yaml
  website/docs/client/java/partials/java_circuit_breaker.md
Labels: area:documentation, area:client/java, area:tests, language:java

#3497 Fix bigquery namespace
  website/docs/spec/naming.md
Labels: area:documentation

#3493 java: add tags facets from config
  client/java/src/main/java/io/openlineage/client/OpenLineageConfig.java
  client/java/src/main/java/io/openlineage/client/job/JobConfig.java
  client/java/src/main/java/io/openlineage/client/run/RunConfig.java
  client/java/src/main/java/io/openlineage/client/utils/TagField.java
  client/java/src/main/java/io/openlineage/client/utils/TagsDeserializer.java
  client/java/src/test/java/io/openlineage/client/ConfigTest.java
  client/java/src/test/resources/config/tags-edge-case.yaml
  client/java/src/test/resources/config/tags.yaml
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageJobExtractor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkOpenLineageConfig.java
  integration/spark/app/integrations/container/applicationLevelCompleteApplication.json
  integration/spark/app/integrations/container/applicationLevelCompleteJob.json
  integration/spark/app/integrations/container/applicationLevelStartApplication.json
  integration/spark/app/integrations/container/applicationLevelStartJob.json
  integration/spark/app/src/main/java/io/openlineage/spark/agent/ArgumentParser.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/InternalEventHandlerFactory.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/RddExecutionContext.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContext.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/ArgumentParserTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
  integration/spark/app/src/test/resources/config/openlineage.yml
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/SparkOpenLineageConfig.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/OwnershipJobFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsJobFacetBuilderTest.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/facets/builder/TagsRunFacetBuilderTest.java
  website/docs/client/java/configuration.md
  website/docs/integrations/spark/configuration/spark_conf.md
Labels: area:documentation, area:integration/spark, area:integration/flink, area:client/java, area:tests, language:java

#3498 Store test results as artifacts
  .circleci/continue_config.yml
Labels: area:ci

#3499 Add ArrayBuffer support in ParallelCollectionRDDExtractor::extract (#…
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  integration/spark/shared/src/test/java/io/openlineage/spark/agent/util/RddPathUtilsTest.java
Labels: area:integration/spark, area:tests, language:java, full-tests

#3494 Unify configs and context for flink versions
  integration/flink/flink1/build.gradle
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/tracker/OpenLineageContinousJobTracker.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContext.java
  integration/flink/flink1/src/main/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextFactory.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/JobListenerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/tracker/OpenLineageContinousJobTrackerTest.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/visitor/lifecycle/FlinkExecutionContextTest.java
  integration/flink/flink1/src/test/resources/log4j-console.properties
  integration/flink/flink2/README.md
  integration/flink/flink2/build.gradle
  integration/flink/flink2/src/main/java/io/openlineage/flink/client/EventEmitter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/client/OpenLineageContext.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/client/Versions.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/LineageGraphConverter.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageDatasetExtractor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/converter/OpenLineageJobExtractor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/Flink2VisitorFactory.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitor.java
  integration/flink/flink2/src/main/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitor.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/config/OpenlineageConfigParserTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/converter/LineageGraphConverterTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TableLineageFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/facet/TypeInformationFacetVisitorTest.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/visitor/identifier/KafkaTopicPatternDatasetIdentifierVisitorTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContext.java
  integration/flink/shared/src/main/java/io/openlineage/flink/api/OpenLineageContextFactory.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/client/FlinkOpenLineageConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkConfigParser.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkDatasetKafkaConfig.java
  integration/flink/shared/src/main/java/io/openlineage/flink/config/FlinkOpenLineageConfig.java
  integration/flink/shared/src/test/java/io/openlineage/flink/client/FlinkConfigParserTest.java
Labels: area:documentation, area:integration/flink, area:tests, language:java

#3503 Enable circuit breaker for flink2
  integration/flink/flink2/README.md
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
Labels: area:documentation, area:integration/flink, area:tests, language:java

#3504 ci: fix running full-tests from forked branches
  .circleci/config.yml
  dev/filter_matrix.py
Labels: area:integration/spark, area:ci, area:dev, language:java, language:python, full-tests

#3471 feat(tagsfacet): User-supplied Tags in the Python Client
  client/python/openlineage/client/client.py
  client/python/openlineage/client/tags.py
  client/python/tests/conftest.py
  client/python/tests/test_client.py
  website/docs/client/python.md
Labels: area:documentation, area:client/python, area:tests, language:python

#3511 update changelog for 1.29.0 release
  CHANGELOG.md
Labels: area:documentation

#3392 Dataset partitioning proposal
  proposals/3392/dataset_partitioning.md
Labels: area:documentation, kind:proposal, area:integration/flink, area:tests, language:java

#3513 Rename flink properties
  new-version.sh
Labels: area:documentation, area:integration/spark, area:integration/flink, area:integration/sql, area:client/java, area:proxy

#3515 Inject metrics reporter to RESTCatalog
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkIcebergIntegrationTest.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolder.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/wrapper/BaseMetastoreCatalogWrapper.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/wrapper/CatalogWrapper.java
  integration/spark/vendor/iceberg/src/main/java/io/openlineage/spark/agent/vendor/iceberg/metrics/wrapper/RESTCatalogWrapper.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/CatalogMetricsReporterHolderTest.java
  integration/spark/vendor/iceberg/src/test/java/io/openlineage/spark/agent/vendor/iceberg/metrics/IcebergMetricsReporterInjectorTest.java
Labels: area:integration/spark, area:tests, language:java
