Repository OpenLineage/OpenLineage, pull requests merged in 2025-04, with the labels that each got.

#3592 close circuit breakers
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
Labels: area:integration/spark, language:java

#3594 Fix metrics sent through DebugFacet
  CHANGELOG.md
  client/java/src/main/java/io/openlineage/client/transports/FacetsConfig.java
  client/java/src/test/java/io/openlineage/client/transports/FacetsConfigTest.java
  integration/spark/app/src/main/java/io/openlineage/spark/agent/OpenLineageSparkListener.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/SparkGenericIntegrationTest.java
Labels: area:documentation, area:integration/spark, area:client/java, area:tests, language:java

#3607 [spark] Fix duplicate input dataset creation when RelationV2 is a child of SubqueryAlias
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/SubqueryAliasInputDatasetBuilder.java
Labels: area:integration/spark, language:java, full-tests

#3619 add more debug logging in RDD code paths
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
Labels: area:integration/spark, language:java

#3582 [spark] Extract column lineage out of query string
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/util/JdbcSparkUtils.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/ExpressionDependencyCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollector.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractor.java
  integration/spark/spark3/src/main/java/io/openlineage/spark3/agent/utils/ExtensionDataSourceV2Utils.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/InputFieldsCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/lifecycle/plan/column/QueryRelationColumnLineageCollectorTest.java
  integration/spark/spark3/src/test/java/io/openlineage/spark3/agent/utils/DataSourceV2RelationDatasetExtractorTest.java
Labels: area:integration/spark, area:tests, language:java

#3621 [Flink2] Fix getting job namespace from config
  integration/flink/flink2/src/main/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListener.java
  integration/flink/flink2/src/test/java/io/openlineage/flink/listener/OpenLineageJobStatusChangedListenerTest.java
  website/docs/integrations/flink.md
Labels: area:documentation, area:integration/flink, area:tests, language:java

#3622 [Java] Use parent.root facet as a primary source for Kafka messageKey
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/src/test/java/io/openlineage/client/Events.java
  client/java/src/test/java/io/openlineage/client/transports/KafkaTransportTest.java
Labels: area:client/java, area:tests, language:java

#3617 Log event json in debug mode before checks
  client/python/openlineage/client/client.py
Labels: area:client/python, language:python

#3624 [Python] Use parent.root facet as a primary source for Kafka messageKey
  client/python/openlineage/client/transport/file.py
  client/python/openlineage/client/transport/kafka.py
  client/python/tests/test_kafka.py
  website/blog/composite-transport/index.mdx
  website/docs/client/java/partials/java_transport.md
  website/docs/client/python.md
Labels: area:documentation, area:client/python, area:tests, language:python

#3625 followup: add dbt glue adapter support
  integration/common/openlineage/common/provider/dbt/processor.py
  integration/dbt/README.md
Labels: area:documentation, area:integration/dbt, area:integration/common, language:python

#3612 [Java] Added support for LDAP connection strings.
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OracleJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOracle.java
Labels: area:client/java, area:tests, language:java

#3626 fix build on main
  integration/airflow/setup.py
Labels: area:integration/airflow, language:python

#3637 [Java] Generate Kinesis.partitionKey using Run parent facet
  client/java/src/main/java/io/openlineage/client/transports/KafkaTransport.java
  client/java/transports-kinesis/src/main/java/io/openlineage/client/transports/kinesis/KinesisTransport.java
  client/java/transports-kinesis/src/test/java/io/openlineage/client/transports/kinesis/KinesisTransportTest.java
Labels: area:client/java, area:tests, language:java

#3641 [spark] Remove RepairTableCommandVisitor from Spark3VisitorFactoryImpl
  integration/spark/app/src/main/java/io/openlineage/spark/agent/lifecycle/Spark3VisitorFactoryImpl.java
Labels: area:integration/spark, language:java

#3636 Flink 2 documentation doc
  integration/flink/README.md
  integration/flink/flink2/README.md
  website/docs/integrations/flink.md
  website/docs/integrations/flink/_category_.json
  website/docs/integrations/flink/about.md
  website/docs/integrations/flink/configuration.md
  website/docs/integrations/flink/flink1.md
  website/docs/integrations/flink/flink2.md
  website/docs/integrations/spark/configuration/_category_.json
Labels: area:documentation, area:integration/flink

#3644 define equals for TransformedInput to avoid duplicates
  CHANGELOG.md
  integration/spark/app/src/test/java/io/openlineage/spark/agent/column/ColumnLineageWithTransformationTypesTest.java
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/plan/column/TransformedInput.java
Labels: area:documentation, area:integration/spark, area:tests, language:java

#3647 explain where dbt error code comes from
  integration/dbt/openlineage/dbt/__init__.py
Labels: area:integration/dbt, language:python

#3645 Prevent initialint Flink1 listener for Flink2
  integration/flink/flink1/src/main/java/io/openlineage/flink/OpenLineageFlinkJobListener.java
  integration/flink/flink1/src/test/java/io/openlineage/flink/OpenLineageFlinkJobListenerTest.java
  integration/flink/shared/src/main/java/io/openlineage/flink/utils/ClassUtils.java
Labels: area:integration/flink, area:tests, language:java

#3646 refactor python HTTP transport
  client/python/openlineage/client/transport/http.py
  client/python/pyproject.toml
  client/python/tests/test_client.py
  client/python/tests/test_http.py
  website/docs/client/python.md
Labels: area:documentation, area:client/python, area:tests, language:python

#3653 Fix Flink1 example app
  integration/flink/examples/flink1-test-apps/README.md
  integration/flink/examples/flink1-test-apps/build.gradle
  integration/flink/examples/flink1-test-apps/pmd-openlineage.xml
  integration/flink/examples/flink1-test-apps/src/docker/docker-compose.yml
Labels: area:documentation, area:integration/flink, area:tests

#3652 [FLINK] enhance JDBC extractors with more types
  client/java/src/main/java/io/openlineage/client/utils/jdbc/CrateJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/Db2JdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtils.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/OceanBaseJdbcExtractor.java
  client/java/src/main/java/io/openlineage/client/utils/jdbc/TrinoJdbcExtractor.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForCrate.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForDb2.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForOceanBase.java
  client/java/src/test/java/io/openlineage/client/utils/jdbc/JdbcDatasetUtilsTestForTrino.java
Labels: area:client/java, area:tests, language:java

#3649 nit: Improve composite transport logging
  client/python/openlineage/client/transport/composite.py
  client/python/openlineage/client/transport/console.py
  client/python/openlineage/client/transport/kafka.py
  client/python/openlineage/client/transport/transport.py
Labels: area:client/python, language:python

#3648 bump supported Python version to 3.9
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/workflows/openlineage-python.yml
  .github/workflows/website-snapshot.yml
  client/python/openlineage/client/facet.py
  client/python/openlineage/client/run.py
  client/python/openlineage/client/serde.py
  client/python/openlineage/client/utils.py
  client/python/pyproject.toml
  client/python/tests/test_file.py
  client/python/tox.ini
  integration/airflow/README.md
  integration/airflow/pyproject.toml
  integration/airflow/setup.py
  integration/airflow/tests/integration/Dockerfile
  integration/common/pyproject.toml
  integration/common/setup.py
  integration/dagster/pyproject.toml
  integration/dagster/setup.py
  integration/dbt/pyproject.toml
  integration/dbt/setup.py
  integration/sql/iface-py/Cargo.toml
  integration/sql/iface-py/pyproject.toml
  integration/sql/iface-py/script/build.sh
  ruff.toml
Labels: area:documentation, area:integration/airflow, area:integration/dbt, area:ci, area:integration/sql, area:client/python, area:tests, area:integration/common, area:integration/dagster, area:dev, language:python

#3656 [DOC] Fix outdated ColumnLineageFacet documentation
  spec/facets/ColumnLineageDatasetFacet.md
  website/docs/spec/facets/dataset-facets/column_lineage_facet.md
  website/docs/spec/run-cycle.md
Labels: area:documentation, area:spec, area:integration/flink

#3662 [DOC] add CrateDB, DB2 and OceanBase dataset naming
  website/docs/spec/naming.md
Labels: area:documentation

#3664 fix: Check for RunEvent v2 in filters and env_var_facet in Python Client
  client/python/openlineage/client/client.py
  client/python/openlineage/client/filter.py
  client/python/tests/test_client.py
Labels: area:client/python, area:tests, language:python

#3665 update changelog for 1.32.0 release
  CHANGELOG.md
  website/docs/releases/1_32_0.md
Labels: area:documentation

#3663 [spark] Avoid InputDataset duplicates by skipping already visited nodes
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkApplicationExecutionContextTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkReadWriteIntegTest.java
  integration/spark/app/src/test/java/io/openlineage/spark/agent/lifecycle/SparkSQLExecutionContextTest.java
  integration/spark/app/src/test/resources/debug/dates/part-00000-*.csv
  integration/spark/app/src/test/resources/debug/orders/part-00000-*.csv
  integration/spark/shared/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/AbstractQueryPlanDatasetBuilder.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/OpenLineageContext.java
  integration/spark/shared/src/main/java/io/openlineage/spark/api/VisitedNodes.java
Labels: area:integration/spark, area:tests, language:java
